html, body {
    overflow: hidden;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#training {
    height: calc(100% - 71px);
}

.page {
    width: 100%;
    height: calc(100% - 142px);
}

.topBottomMargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.leftRightMargin {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.smallBottomMargin {
    margin-bottom: 0.5rem;
}

.noBottomMargin:not(:last-child) {
    margin-bottom: 0;
}

.maxHeight {
    height: 100%;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerText {
    text-align: center;
}

.justifyContent {
    justify-content: center;
}

.is-grey {
    border-color: hsl(0, 0%, 50%);
    background-color: transparent;
    color: hsl(0, 0%, 50%);
}

.is-grey:hover {
    border-color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 50%);
}

.maxWidth {
    width: 100%;
}

.one-third {
    width: 33%;
}

.orange {
    background-color: orange;
}