html, body {
    overflow: hidden;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#training {
    height: calc(100% - 76px);
}

#adventure {
    height: calc(100% - 76px);
}

#pageButton:hover {

}

#status {
    margin-top: 5px;
}

#adventureCanvas {
    width: 100%;
    height: 300px;
    border:1px solid orange;
}

.page {
    width: 100%;
    height: calc(100% - 147px);
}

.topBottomMargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.leftRightMargin {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.tabsMargin {
    margin-right: 2em;
}

.smallBottomMargin {
    margin-bottom: 0.5rem;
}

.noBottomMargin:not(:last-child) {
    margin-bottom: 0;
}

.maxHeight {
    height: 100%;
}

.halfHeight {
    height: 50%;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerText {
    text-align: center !important;
}

.rightText {
    text-align: right;
}

.justifyContent {
    justify-content: center;
}

.is-grey {
    border-color: hsl(0, 0%, 50%);
    background-color: transparent;
    color: hsl(0, 0%, 50%);
}

.is-grey:hover {
    border-color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 100%);
}

.maxWidth {
    width: 100%;
}

.one-third {
    width: calc(100% / 3);
}

.orange {
    background-color: orange;
}

.customColumns {
    flex-direction: column;
    align-items: center;
}

.customColumns.justifySpaceBetween {
    justify-content: space-between;
}

.customColumns.justifyEvenly {
    justify-content: space-evenly;
}

.customColumn {
    display: block;
    padding: .75rem;
}

.customColumn2 {
    display: flex;
    flex-direction: column;
 }

.customColumn.is-full {
    width: 100%;
}

.customColumn.is-10 {
    width: calc(100% / 1.2);
}

.customColumn.is-9 {
    width: calc(100% / 1.25)
}

.customColumn.flex-grow {
    flex-grow: 1;
}

.alignStretch {
    align-content: stretch;
}

.backgroundPicture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.position-relative {
    position: relative;
}

.position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.help.is-small {
    font-size: 11px;
}

.help.is-medium {
    font-size: 14.5px;
}

.help.is-large {
    font-size: 16.25px;
}