@charset "utf-8";
@import "./../node_modules/bulmaswatch/darkly/variables";

$dark: $grey;
$input-background-color: $grey-dark;
$progress-bar-background-color: $grey-dark;
$grey-lighter: $grey-darker;

@import "./../node_modules/bulma/bulma.sass";
@import "./../node_modules/bulmaswatch/darkly/overrides";
