@charset "utf-8";
@import "./../node_modules/bulmaswatch/lumen/variables";

$grey-light:   #878b8b;
$grey:         darken($grey-light, 11);
$grey-dark:    darken($grey, 23);
$grey-darker:  darken($grey, 31);
$grey-lighter: darken($grey-darker, 3);
$dark:         $grey;

$body-background-color: darken($grey-darker, 7);
$body-color: $grey-light;

$button-color: $grey-light;
$button-background-color: $grey-darker;
$button-border-color: $grey-dark;
$button-focus-color: $grey-light;

$input-background-color: $grey-darker;
$input-color: $grey-light;
$input-border-color: $grey-dark;
$input-icon-color: $grey-light;
$input-icon-active-color: $grey-light;

$label-color: $grey-light;

$box-color: $grey-light;
$box-background-color: $grey-darker;

$tag-background-color: $grey-darker;
$tag-color: $grey-light;

$progress-bar-background-color: $grey-darker;

$dropdown-content-background-color: $grey-darker;
$dropdown-content-shadow: 0 0 0 1px $grey-dark, 0 #{$thickness} 0 1px $grey-dark;

$table-color: $grey-light;
$table-background-color: darken($grey-darker, 3);
$table-cell-border: 1px solid $grey-dark;

$message-background-color: $grey-dark;
$message-header-background-color: $grey-darker;
$message-header-color: $grey-light;
$message-body-border-color: $grey-dark;
$message-body-color: $grey-light;

$tabs-link-color: $grey;
$tabs-border-bottom-color: $grey-dark;
$tabs-toggle-link-border-color: $grey-dark;
$tabs-toggle-link-hover-background-color: darken($grey-dark, 3);

$pagination-color: $grey-light;
$pagination-border-color: $grey-dark;

$content-blockquote-background-color: $grey-darker;
$content-blockquote-border-left: 5px solid $grey-dark;

@import "./../node_modules/bulma/bulma.sass";
@import "./../node_modules/bulmaswatch/lumen/overrides";

.hero {
  background-color: lighten($grey-darker, 3);
}

.title {
  color: $grey-light;
}

.subtitle {
  color: $grey;
}

.box {
  border-color: $grey-dark;

  &.is-success {
    color: $white-ter;
    background-color: darken($success-dark, 8);
    border-color: $success-dark;
  }

  &.is-primary {
    color: $white-ter;
    background-color: darken($primary-dark, 8);
    border-color: darken($primary-dark, 16);
  }

  &.is-warning {
    color: $white-ter;
    background-color: darken($orange, 9);
    border-color: darken($orange, 18);
  }

  &.is-basic {
    color: $white-ter;
    background-color: darken($turquoise, 20);
    border-color: darken($turquoise, 15);
  }
}

.dropdown-content {
  border-color: $grey-dark;
}

.message.is-success {
  background-color: darken($grey-darker, 2);
}

.message-header {
  .delete::before {
    background-color: $grey-light;
  }

  .delete::after {
    background-color: $grey-light;
  }

  &.is-success {
    .delete::before {
      background-color: #ffffff;
    }

    .delete::after {
      background-color: #ffffff;
    }
  }
}

.select:not(.is-multiple) {
  height: 2.273em;
}

.select.is-large:not(.is-multiple) {
  height: 2.648em;
}

.field.has-addons .control .select.is-small select {
  height: 2.648em;
  font-size: 1em;
}

.field.has-addons .control .select select {
  height: 2.5em;
  font-size: 0.91em;
}

.field.has-addons .control .select.is-medium select {
  height: 2.648em;
  font-size: 1em;
}

.field.has-addons .control .select.is-large select {
  height: 2.648em;
  font-size: 1em;
}

.control.has-icons-left .icon.is-small {
  height: 2.5em;
}

.control.has-icons-left .icon {
  height: 2.273em;
}

.control.has-icons-left .icon.is-medium {
  height: 2.5em;
}

.control.has-icons-left .icon.is-large {
  height: 2.5em;
}

.select.is-small:not(.is-multiple):not(.is-loading)::after {
  margin-top: -0.2em;
}

.input.is-small {
  height: 2.648em;
  border-bottom-width: 4px;
}

.input {
  height: 2.273em;
  border-bottom-width: 4px;
}

.input.is-medium {
  height: 2.648em;
  border-bottom-width: 4px;
}

.input.is-large {
  height: 2.648em;
  border-bottom-width: 4px;
}
