@charset "utf-8";
@import "./../node_modules/bulmaswatch/solar/variables";

$dark: $grey;

$table-head-cell-color: $grey-light;
$tag-background-color: darken($grey-dark, 3);

@import "./../node_modules/bulma/bulma.sass";
@import "./../node_modules/bulmaswatch/solar/overrides";
