@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";

html, body {
  overflow: hidden;
  height: 100%;
}

h1, h2 {
  text-align: center;
}

#app {
  height: 100%;
}

.page {
  width: 100%;
  height: calc(100% - 147px);
}
