html, body {
    overflow: hidden;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.page {
    width: 100%;
    height: calc(100% - 142px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding {
    padding-top: 12rem;
    padding-bottom: 12rem;
}