<template>
  <div class="adventure-page">
    <TheBlockquote class="margin-top-medium" :text="currentWord[currentVocabs.mainAlphabet][0]"
                   :additional="currentWordVariants" />
    <div class="adventure-inputs flex-column flex-grow overflow-auto" :class="getSizeClass('general')">
      <div v-show="isLatinAlphabetVisible" class="input-entry">
        <InputBasic class="border-bottom" :class="{ 'with-color': wordConfirmed }"
                    :title="currentVocabs.latinAlphabet" type="text" icon="font"
                    :color="getLatinColor()" v-model="inputs.latin" noFocus :readonly="wordConfirmed" />
        <transition enter-active-class="animate__animated slide-c-down-i-15 duration-c-500ms"
                    leave-active-class="animate__animated slide-c-up-o-15 duration-c-500ms">
          <div v-show="solutionVisible" class="solution flex-row margin-top-small">
            <Icon class="wide" :icon="latinResultIcon[0]" :color="latinResultIcon[1]" />
            <div ref="latinText" class="text">
              {{ inputs.solutionLatin }}
            </div>
            <Icon v-show="isLatinOverflowing" class="wide clickable" icon="eye" color="action" @click="showModal('latin')" />
          </div>
        </transition>
      </div>
      <div v-show="currentVocabs.foreignAlphabet !== ''" class="input-entry">
        <InputBasic class="border-bottom" :class="{ 'with-color': wordConfirmed }"
                    :title="currentVocabs.foreignAlphabet" type="text" icon="font"
                    :color="getForeignColor()" v-model="inputs.foreign" noFocus :readonly="wordConfirmed" />
        <transition enter-active-class="animate__animated slide-c-down-i-15 duration-c-500ms"
                    leave-active-class="animate__animated slide-c-up-o-15 duration-c-500ms">
          <div v-show="solutionVisible" class="solution flex-row margin-top-small">
            <Icon class="wide" :icon="foreignResultIcon[0]" :color="foreignResultIcon[1]" />
            <div ref="foreignText" class="text">
              {{ inputs.solutionForeign }}
            </div>
            <Icon v-show="isForeignOverflowing" class="wide clickable" icon="eye" color="action" @click="showModal('foreign')" />
          </div>
        </transition>
      </div>
    </div>
    <TheProgressBar class="border-top" :value="wordIndex + 1" :maxValue="appDyn.wordCount" color="green"
                    :text="`${wordIndex + 1} / ${appDyn.wordCount}`" />
    <div class="button-container flex-row flex-wrap">
      <ButtonBasic class="navigation width-half" icon="times" text="adventureButton1" color="red"
                   @click="navTo('back')" />
      <ButtonBasic v-show="!wordConfirmed" class="navigation width-half" icon="check" text="adventureButton2"
                   color="green" @click="confirmWord()" />
      <ButtonBasic v-show="wordConfirmed && wordIndex + 1 < appDyn.wordCount" class="navigation width-half"
                   icon="arrow-right" text="adventureButton3" color="green" @click="nextWord()" />
      <ButtonBasic v-show="wordConfirmed && wordIndex + 1 === appDyn.wordCount" class="navigation width-half"
                   icon="clipboard-check" text="adventureButton4" color="green" @click="navTo()" />
    </div>
    <Teleport to="#modal-dest">
      <ModalMessage :visible="modalVisible" color="info-dark" :title="modalTitle" :text="[modalText]"
                    :buttons="modalButtons" center-text @click="hideModal()" />
    </Teleport>
  </div>
</template>

<script setup>
import { reactive, ref, computed, nextTick } from 'vue'
import { useRouter } from 'vue-router'

import TheBlockquote from '@/components/TheBlockquote.vue'
import InputBasic from '@/components/InputBasic.vue'
import TheProgressBar from '@/components/TheProgressBar.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import Icon from '@/components/Icon.vue'
import ModalMessage from '@/components/ModalMessage.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useGameDynStore } from '@/stores/gamedyn'
import { useGameConstStore } from '@/stores/gameconst'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const gameDyn = useGameDynStore()
const gameConst = useGameConstStore()
const indexedDBStore = useIndexedDBStore()

const inputs = reactive({
  latin: '',
  foreign: '',
  solutionLatin: '',
  solutionForeign: ''
})

const wordIndex = ref(0)
const currentVocabs = computed(() => {
  if (gameDyn.vocabs === null) {
    return {
      words: [],
      mainAlphabet: 'german',
      latinAlphabet: 'german',
      foreignAlphabet: ''
    }
  }
  return gameDyn.vocabs
})
const currentWord = computed(() => {
  if (gameDyn.vocabs === null) {
    return {
      german: ['Test'],
      english: ['Test'],
      difficulty: 1
    }
  }
  return gameDyn.vocabs.words[wordIndex.value]
})

const currentWordVariants = computed(() => {
  return currentWord.value[currentVocabs.value.mainAlphabet].slice(1)
})

const isLatinAlphabetVisible = computed(() => {
  return !(currentVocabs.value.foreignAlphabet !== '' && !savestate.app.checkLatinAlphabet) &&
    currentWord.value[currentVocabs.value.latinAlphabet][0] !== ''
})

const isLatinCorrect = computed(() => {
  if (wordConfirmed.value && isLatinAlphabetVisible.value) {
    let foundOne = -1
    for (let i = 0; i < currentWord.value[currentVocabs.value.latinAlphabet].length; i++) {
      const latinWord = currentWord.value[currentVocabs.value.latinAlphabet][i]
      if (inputs.latin.toLowerCase().trim() === latinWord.toLowerCase()) {
        return [2, i]
      } else if (streamline(inputs.latin) === streamline(latinWord) && foundOne < 0) {
        foundOne = i
      }
    }
    if (foundOne >= 0) {
      return [1, foundOne]
    }
    return [0, 0]
  }
  return [-1, 0]
})

const latinResultIcon = computed(() => {
  if (isLatinCorrect.value[0] === 1) {
    return ['trophy', 'silver']
  } else if (isLatinCorrect.value[0] === 2) {
    return ['trophy', 'gold']
  }
  return ['ban', 'red']
})

const isForeignCorrect = computed(() => {
  if (wordConfirmed.value && currentVocabs.value.foreignAlphabet !== '') {
    let foundOne = -1
    for (let i = 0; i < currentWord.value[currentVocabs.value.foreignAlphabet].length; i++) {
      const foreignWord = currentWord.value[currentVocabs.value.foreignAlphabet][i]
      if (inputs.foreign.toLowerCase().trim() === foreignWord.toLowerCase()) {
        return [2, i]
      } else if (streamline(inputs.foreign) === streamline(foreignWord) && foundOne < 0) {
        foundOne = i
      }
    }
    if (foundOne >= 0) {
      return [1, foundOne]
    }
    return [0, 0]
  }
  return [-1, 0]
})

const foreignResultIcon = computed(() => {
  if (isForeignCorrect.value[0] === 1) {
    return ['trophy', 'silver']
  } else if (isForeignCorrect.value[0] === 2) {
    return ['trophy', 'gold']
  }
  return ['ban', 'red']
})

const latinText = ref(null)
const foreignText = ref(null)
const isLatinOverflowing = ref(false)
const isForeignOverflowing = ref(false)

const wordConfirmed = ref(false)
function confirmWord () {
  wordConfirmed.value = true
  inputs.solutionLatin = currentWord.value[currentVocabs.value.latinAlphabet][isLatinCorrect.value[1]]
  inputs.solutionForeign = currentWord.value[currentVocabs.value.foreignAlphabet][isForeignCorrect.value[1]]
  const answer = {
    categoryKey: currentWord.value.categoryKey,
    wordKey: `${currentWord.value.categoryKey}_${currentWord.value.index}`,
    difficulty: currentWord.value.difficulty,
    mainAlphabet: gameDyn.vocabs.mainAlphabet,
    latinAlphabet: gameDyn.vocabs.latinAlphabet,
    foreignAlphabet: gameDyn.vocabs.foreignAlphabet
  }
  if (isLatinCorrect.value[0] >= 0) {
    if (inputs.latin === '') {
      answer.latin = '-'
    } else {
      answer.latin = inputs.latin
    }
    answer.latinSolution = inputs.solutionLatin,
    answer.latinPoints = isLatinCorrect.value[0]
    savestate.app.status.points.additional += isLatinCorrect.value[0]
  }
  if (isForeignCorrect.value[0] >= 0) {
    if (inputs.foreign === '') {
      answer.foreign = '-'
    } else {
      answer.foreign = inputs.foreign
    }
    answer.foreignSolution = inputs.solutionForeign
    answer.foreignPoints = isForeignCorrect.value[0]
    savestate.app.status.points.additional += isForeignCorrect.value[0]
  }
  gameDyn.answers.push(answer)
  savestate.app.status.vocabs.additional += 1 // one more vocab
  showSolution()
  if (isLatinCorrect.value[0] > 0 || isForeignCorrect.value[0] > 0) {
    gameDyn.balloons.pumps += 1
  }
}

function nextWord () {
  wordConfirmed.value = false
  inputs.latin = ''
  inputs.foreign = ''
  hideSolution()
  wordIndex.value += 1
  if (appDyn.reversedType === 2) {
    gameDyn.shuffleAlphabets()
  }
}

function getLatinColor () {
  switch (isLatinCorrect.value[0]) {
    case 0:
      return 'red'
    case 1:
      return 'yellow'
    case 2:
      return 'green'
    default:
      return 'info'
  }
}

function getForeignColor () {
  switch (isForeignCorrect.value[0]) {
    case 0:
      return 'red'
    case 1:
      return 'yellow'
    case 2:
      return 'green'
    default:
      return 'info'
  }
}

function streamline (word) {
  return word.toLowerCase().replace(/(\(.+\)|（.+）)|[-, ;.!?/！。・、？0-9０-９]/g, '')
}

const solutionVisible = ref(false)
function showSolution () {
  solutionVisible.value = true

  nextTick(() => {
    if (latinText.value !== null && latinText.value.scrollWidth > latinText.value.clientWidth) {
      isLatinOverflowing.value = true
    } else {
      isLatinOverflowing.value = false
    }
    if (foreignText.value !== null && foreignText.value.scrollWidth > foreignText.value.clientWidth) {
      isForeignOverflowing.value = true
    } else {
      isForeignOverflowing.value = false
    }
  })
}

function hideSolution () {
  solutionVisible.value = false
}

const modalVisible = ref(false)
const modalTitle = ref('')
const modalText = ref('')
const modalButtons = reactive([
  {
    icon: 'eye-slash',
    color: 'action',
    text: 'adventureInputsModalClose'
  }
])
function showModal (type) {
  modalVisible.value = true
  if (type === 'latin') {
    modalTitle.value = currentVocabs.value.latinAlphabet
    modalText.value = inputs.solutionLatin
  } else {
    modalTitle.value = currentVocabs.value.foreignAlphabet
    modalText.value = inputs.solutionForeign
  }
}

function hideModal () {
  modalVisible.value = false
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (dest = '') {
  console.log(appDyn.wordCount)
  if (dest === 'back') {
    router.push({ name: 'selection' })
  } else {
    let categoriesAnswered = []
    for (let word of gameDyn.answers) {
      let categoryIndex = categoriesAnswered.findIndex(cat => cat.key === word.categoryKey)
      let wasCorrect = (Object.hasOwn(word, 'latinPoints') && word.latinPoints > 0) ||
        (Object.hasOwn(word, 'foreignPoints') && word.foreignPoints > 0)
      if (categoryIndex === -1) {
        categoriesAnswered.push({
          key: word.categoryKey,
          result: [wasCorrect]
        })
      } else {
        categoriesAnswered[categoryIndex].result.push(wasCorrect)
      }
    }
    categoriesAnswered = categoriesAnswered.map(cat => {
      return {
        key: cat.key,
        proficiency: cat.result.reduce((counter, wasCorrect) => {
          return wasCorrect ? counter + 1 : counter
        }, 0) / cat.result.length
      }
    })
    for (let category of categoriesAnswered) {
      let foundCategory = savestate.app.categoriesStats.find(cat => cat.key === category.key)
      if (foundCategory) {
        foundCategory.count += 1
        foundCategory.lastPlayed = Date.now()
        foundCategory.proficiency.push(category.proficiency)
        foundCategory.proficiency = foundCategory.proficiency.slice(1, 21)
      } else {
        savestate.app.categoriesStats.push({
          key: category.key,
          count: 1,
          lastPlayed: Date.now(),
          proficiency: [category.proficiency]
        })
      }
    }
    savestate.saveData('categoriesStats')

    indexedDBStore.saveEntry({
      name: 'vocadventuredb',
      store: 'events',
      entry: savestate.minifyData('event', {
        type: 1,
        name: 'adventure',
        start: gameDyn.startTime,
        end: Date.now(),
        stats: {
          points: savestate.app.status.points.additional,
          words: savestate.app.status.vocabs.additional,
          categories: categoriesAnswered.map(cat => [appConst.getCategoryName(cat.key), cat.proficiency])
        }
      }),
      create: true,
      autoIncrement: true
    })

    savestate.app.status.points.count += savestate.app.status.points.additional
    savestate.app.status.points.additional = 0
    savestate.app.status.vocabs.count += savestate.app.status.vocabs.additional
    savestate.app.status.vocabs.additional = 0
    savestate.app.status.streak.count += savestate.app.status.streak.additional
    savestate.app.status.streak.additional = 0

    const saveData = gameConst.games[savestate.game.type].ref.getSaveData()
    if (savestate.game.type === 'balloons') {
      checkAchievements(saveData)
      savestate.saveData('balloons', 'game')
    }
    checkStarAchievements()
    savestate.saveData('status')
    savestate.saveData('achievementValues')

    router.push({ name: 'adventureResumee' })
  }
}

function checkAchievements (saveData) {
  let achievements = [
    {
      catId: 'balloonsAmounts',
      id: 'allTheBalloons'
    },
    {
      catId: 'balloonsAmounts',
      id: 'allTheOrders'
    },
    {
      catId: 'balloonsAmounts',
      id: 'rainbowBalloons'
    }
  ]

  for (let ach of achievements) {
    ach.achievement = appConst.getAchievement(ach.catId, ach.id)
    ach.valBefore = appConst.getAchievementValue(ach.catId, ach.id)
  }

  for (let key in saveData.created) {
    savestate.game.balloons.created[key] += saveData.created[key]
  }
  savestate.game.balloons.ordersFinished += saveData.ordersFinished

  for (let ach of achievements) {
    if (ach.valBefore < ach.achievement.maxValue &&
        appConst.getAchievementValue(ach.catId, ach.id) >= ach.achievement.maxValue) {
      savestate.app.status.points.count += ach.achievement.xp
      indexedDBStore.saveEntry({
        name: 'vocadventuredb',
        store: 'events',
        entry: savestate.minifyData('event', {
          type: 2,
          name: 'achievement',
          start: Date.now(),
          stats: {
            categoryId: ach.catId,
            id: ach.id
          }
        }),
        create: true,
        autoIncrement: true
      })
      appDyn.notifications.push(new Notification(
        'achievementsNotificationUnlockedNewTitle',
        [
          'achievementsNotificationUnlockedNewText',
          `achievements${capitalize(ach.id)}Title`,
          ach.achievement.xp.toLocaleString()
        ],
        '',
        'yellow',
        false,
        `assets/img/achievements/${ach.id.toLowerCase()}.png`
      ))
    }
  }
}

function checkStarAchievements () {
  let achievements = [
    {
      catId: 'vocabs',
      id: 'longSession'
    }
  ]

  for (let ach of achievements) {
    ach.achievement = appConst.getAchievement(ach.catId, ach.id)
    ach.currentValue = appConst.getAchievementValue(ach.catId, ach.id)
    savestate.app.achievementValues[ach.id] = ach.currentValue
    if (!savestate.app.achievementValues[ach.id] < ach.achievement.maxValue &&
        ach.currentValue >= ach.achievement.maxValue) {
      savestate.app.status.points.count += ach.achievement.xp
      indexedDBStore.saveEntry({
        name: 'vocadventuredb',
        store: 'events',
        entry: savestate.minifyData('event', {
          type: 2,
          name: 'achievement',
          start: Date.now(),
          stats: {
            categoryId: ach.catId,
            id: ach.id
          }
        }),
        create: true,
        autoIncrement: true
      })
      appDyn.notifications.push(new Notification(
        'achievementsNotificationUnlockedNewTitle',
        [
          'achievementsNotificationUnlockedNewText',
          `achievements${capitalize(ach.id)}Title`,
          ach.achievement.xp.toLocaleString()
        ],
        '',
        'yellow',
        false,
        `assets/img/achievements/${ach.id.toLowerCase()}.png`
      ))
    }
  }
}

function capitalize (word) {
  return word[0].toUpperCase() + word.substr(1)
}
</script>
