<template>
  <div class="page">
    <TheHero class="mini" :title="['adventureResumeeTitle']" />
    <div ref="listElement" class="flex-grow flex-column overflow-auto">
      <div v-for="(answer, index) in gameDyn.answers" class="resumee-entry flex-column" :class="getSizeClass('general')"
           :key="index">
        <div class="flex-row">
          <div class="number flex-row flex-center padding-lr-small">
            {{ index + 1 }}
          </div>
          <TheBlockquote class="flex-grow" :text="gameDyn.vocabs.words[index][answer.mainAlphabet][0]"
                        :additional="gameDyn.vocabs.words[index][answer.mainAlphabet].slice(1)"
                        button-icon="info" button-color="info" @click="navTo('dictionaryDetails', index)" />
        </div>
        <div class="flex-row flex-wrap gap-row-small gap-column-small padding-small margin-bottom-small">
          <TheTag :text="appConst.getCategoryName(answer.categoryKey)" color="info" />
          <TheTag :text="'difficulty' + answer.difficulty" color="info" />
        </div>
        <TitleControl v-if="Object.hasOwn(answer, 'latin')" class="margin-bottom-small-neg"
                      :text="answer.latinAlphabet" />
        <div v-if="Object.hasOwn(answer, 'latin')" class="latin flex-row border-bottom margin-bottom-medium">
          <Icon class="wide" :icon="getIconType(answer.latinPoints)" :color="getIconColor(answer.latinPoints)" />
          <div class="texts flex-column flex-grow">
            <div class="own-input margin-bottom-mini-neg">
              {{ answer.latin }}
            </div>
            <div class="solution">
              {{ answer.latinSolution }}
            </div>
          </div>
          <div class="points flex-row flex-center text-yellow bold">
            +{{ answer.latinPoints }}
          </div>
        </div>
        <TitleControl v-if="Object.hasOwn(answer, 'foreign')" class="margin-bottom-small-neg"
                      :text="answer.foreignAlphabet" />
        <div v-if="Object.hasOwn(answer, 'foreign')" class="foreign flex-row border-bottom margin-bottom-large">
          <Icon class="wide" :icon="getIconType(answer.foreignPoints)" :color="getIconColor(answer.foreignPoints)" />
          <div class="texts flex-column flex-grow">
            <div class="own-input margin-bottom-mini-neg">
              {{ answer.foreign }}
            </div>
            <div class="solution">
              {{ answer.foreignSolution }}
            </div>
          </div>
          <div class="points flex-row flex-center text-yellow bold">
            +{{ answer.foreignPoints }}
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-full" icon="bars" color="info" text="adventureResumeeButton1"
                   @click="navTo()" />
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, onBeforeUnmount, onMounted, ref } from 'vue'
import { useRouter, onBeforeRouteLeave } from 'vue-router'

import TheHero from '@/components/TheHero.vue'
import TheBlockquote from '@/components/TheBlockquote.vue'
import TheTag from '@/components/TheTag.vue'
import TitleControl from '@/components/TitleControl.vue'
import Icon from '@/components/Icon.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'

import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useGameDynStore } from '@/stores/gamedyn'

const router = useRouter()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const gameDyn = useGameDynStore()

onBeforeMount(() => {
  if (gameDyn.vocabs === null) {
    navTo('category')
  }
})

onMounted(() => {
  listElement.value.scrollTop = appDyn.dictionary.search.scrollTop
})

const clearData = ref(false)
onBeforeRouteLeave((to, from) => {
  if (to.name === 'menu') {
    clearData.value = true
  }
})

onBeforeUnmount(() => {
  if (clearData.value) {
    gameDyn.vocabs = null
    gameDyn.answers = []
    gameDyn.startTime = 0
    appDyn.categoriesChosen = []
    appDyn.wordDifficulty = 1
    appDyn.includesEasier = true
    appDyn.wordCount = 0
    appDyn.tagsSelected.indices = []
    appDyn.tagsSelected.obj = []
    appDyn.tagsBanned.indices = []
    appDyn.tagsBanned.obj = []
    appDyn.reversedType = 0
  }
})

const listElement = ref(null)

function getIconType (points) {
  switch (points) {
    case 1:
    case 2:
      return 'trophy'
    default:
      return 'ban'
  }
}

function getIconColor (points) {
  switch (points) {
    case 1:
      return 'silver'
    case 2:
      return 'gold'
    default:
      return 'red'
  }
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (destination = '', answerIndex = 0) {
  switch (destination) {
    case 'category':
      router.push({ name: 'category', params: { destination: 'adventure' } })
      break
    case 'dictionaryDetails':
      appDyn.dictionary.prevDest = 'adventureResumee'
      appDyn.dictionary.wordKey = gameDyn.answers[answerIndex].wordKey
      appDyn.dictionary.search.scrollTop = listElement.value.scrollTop
      router.push({ name: destination })
      break
    default:
      router.push({ name: 'menu' })
  }
}
</script>
