<template>
  <div class="page">
    <div class="action-container">
      <DropdownBasic class="width-full margin-top-medium margin-bottom-medium" title="dictionaryDropdown" icon="tasks"
                     color="action" :options="types" :selected="types[currentTypeIndex]" @change="changeType($event)" />
      <InputBasic class="margin-bottom-small" v-model="searchString" title="dictionaryInput" type="text"
                  icon="search" color="action" no-focus />
    </div>
    <div ref="wordList" class="dictionary-list flex-grow overflow-auto" :class="getSizeClass('general')">
      <div v-if="searchString === ''" class="height-full flex-column flex-center">
        {{ getText('dictionaryNoSearchTerm') }}
      </div>
      <div v-else-if="words.length === 0" class="height-full flex-column flex-center">
        {{ getText('dictionaryNoWords') }}
      </div>
      <div class="word" v-for="(wordObj, index) in words" :key="index" >
        <div class="index" @click="navTo('dictionaryDetails', { index })">
          {{ index + 1 }}
        </div>
        <div class="details flex-column flex-grow" @click="navTo('dictionaryDetails', { index })">
          <div class="label">
            {{ getWordParts(wordObj.word[returnType]) }}
          </div>
          <div class="info selected">
            [{{ appConst.getWordpackTag(wordObj.key.split('_').slice(0, 2).join('_')) }}]
            {{ getWordParts(wordObj.word[types[currentTypeIndex]]) }}
          </div>
        </div>
        <ButtonIcon class="single-1" color="info" icon="info" @click="navTo('dictionaryDetails', { index })" />
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-half" icon="arrow-left" color="red" text="dictionaryButton1"
                   @click="navTo('menu')" />
      <ButtonBasic class="navigation width-half" icon="list" color="info" text="dictionaryButton2"
                   @click="navTo('packages')" />
    </div>
  </div>
</template>

<script setup>
import { computed, ref, onMounted, nextTick } from 'vue'
import { useRouter, onBeforeRouteLeave } from 'vue-router'

import DropdownBasic from '@/components/DropdownBasic.vue'
import InputBasic from '@/components/InputBasic.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppConstStore } from '@/stores/appconst'
import { useAppDynStore } from '@/stores/appdyn'

const router = useRouter()
const savestate = useSavestateStore()
const appConst = useAppConstStore()
const appDyn = useAppDynStore()

onBeforeRouteLeave((to, from) => {
  if (to.name !== 'dictionaryDetails') {
    appDyn.dictionary.search.term = ''
    appDyn.dictionary.search.type = 0
    appDyn.dictionary.search.scrollTop = 0
  }
})

onMounted(() => {
  if (appDyn.dictionary.search.term !== '') {
    currentTypeIndex.value = appDyn.dictionary.search.type
    searchString.value = appDyn.dictionary.search.term
    nextTick(() => {
      wordList.value.scrollTop = appDyn.dictionary.search.scrollTop
    })
  }
})

const wordList = ref(null)

const types = computed(() => {
  const targetLang = appConst.targetLanguages[savestate.app.targetLanguage]
  let languages = new Set()
  languages.add(savestate.app.lang)
  Object.keys(appConst.texts).forEach((lang) => {
    languages.add(lang)
  })
  languages.add(targetLang.latinAlphabet)
  if (targetLang.foreignAlphabet !== '') {
    languages.add(targetLang.foreignAlphabet)
  }
  return Array.from(languages)
})

const currentTypeIndex = ref(0)

function changeType (newType) {
  currentTypeIndex.value = types.value.indexOf(newType)
}

const searchString = ref('')

const words = computed(() => {
  if (searchString.value === '') {
    return []
  }
  return appConst.getSearchedWords(types.value[currentTypeIndex.value], searchString.value)
})

const returnType = computed(() => {
  const targetLang = appConst.targetLanguages[savestate.app.targetLanguage]
  if (targetLang.latinAlphabet === types.value[currentTypeIndex.value] ||
      targetLang.foreignAlphabet === types.value[currentTypeIndex.value]) {
    return savestate.app.lang
  } else {
    if (targetLang.foreignAlphabet === '') {
      return targetLang.latinAlphabet
    } else {
      return targetLang.foreignAlphabet
    }
  }
})

function getWordParts (value) {
  if (!Array.isArray(value)) {
    return value
  }
  return value.join('; ')
}

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (destination, data = null) {
  if (destination === 'menu') {
    router.push({ name: destination, query: { sub: 'training' } })
  } else if (destination === 'dictionaryDetails') {
    appDyn.dictionary.prevDest = 'dictionary'
    appDyn.dictionary.search.term = searchString.value
    appDyn.dictionary.search.type = currentTypeIndex.value
    appDyn.dictionary.search.scrollTop = wordList.value.scrollTop
    appDyn.dictionary.wordKey = words.value[data.index].key
    router.push({ name: destination })
  } else {
    appDyn.packagesDestination = 'dictionary'
    router.push({ name: destination })
  }
}
</script>
