<template>
  <div class="page">
    <div class="dictionary-details flex-grow overflow-auto" :class="getSizeClass('general')">
      <div class="flex-row flex-wrap gap-row-small gap-column-small margin-small">
        <TheTag :text="categoryName" color="info" />
        <TheTag :text="'difficulty' + word.difficulty" color="info" />
        <TheTag v-for="(tag, index) in tags" :text="tag[savestate.app.lang]" :color="tag.color" :key="index" />
      </div>
      <div class="main-alphabet flex-row flex-center margin-top-large margin-bottom-medium text-center">
        <div v-if="pitchVisible()" class="word">
          {{ getWordPart('main') }}
        </div>
        <div v-else class="pitch-accent flex-row overflow-auto margin-bottom-small" :class="getSizeClass('general')">
          <div v-for="(letter, letterIndex) in getWordPart('main')" class="flex-row" :key="letterIndex">
            <div class="letter">
              <div class="top-marker"
                   :class="{ 'hidden': !getWordPart('pitch')[letterIndex], 'first': letterIndex === 0 }"></div>
              <div class="text">{{ letter }}</div>
              <div class="bottom-marker"
                   :class="{ 'hidden': getWordPart('pitch')[letterIndex], 'first': letterIndex === 0 }"></div>
            </div>
            <div class="divider" :class="getDividerClass(letterIndex)"></div>
          </div>
          <div class="letter last flex-column flex-shrink">
            <div class="top-marker last" :class="{ 'hidden': !getWordPart('pitch')[getWordPart('main').length] }"></div>
            <div class="text">・・・</div>
            <div class="bottom-marker last" :class="{ 'hidden': getWordPart('pitch')[getWordPart('main').length] }"></div>
          </div>
        </div>
        <div class="voice">
          <ButtonIcon :icon="ttsIconType" :color="ttsIconColor" @click="speak()" />
        </div>
      </div>
      <div v-if="getWordPart('sub') !== ''"
           class="sub-alphabet flex-row flex-center margin-bottom-small">
        {{ getWordPart('sub') }}
      </div>
      <div v-if="isWordTypeArray(targetLanguageData.mainAlphabet)"
           class="main-alphabet-selection overflow-auto flex-row margin-top-large gap-column-medium">
        <ButtonBasic v-for="(wordPart, index) in word[targetLanguageData.mainAlphabet]"
                     :class="{ 'single-3': index === currentMainAlphabetIndex }" color="info" :text="wordPart"
                     :key="index" @click="selectMainIndex(index)" />
      </div>
      <div v-for="(lang, index) in supportedLanguages" class="supp-lang padding-top-medium"
           :class="{ 'border-top': index === 0 }" :key="lang">
        <TitleControl :text="lang" />
        <div class="text">
          {{ getWordParts(word[lang]) }}
        </div>
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-full" icon="arrow-left" color="red" text="dictionaryDetailsButton1"
                   @click="navTo()" />
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, onMounted, onBeforeUnmount, computed, ref } from 'vue'
import { useRouter } from 'vue-router'

import TheTag from '@/components/TheTag.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'
import TitleControl from '@/components/TitleControl.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()

onBeforeUnmount(() => {
  appDyn.dictionary.prevDest = ''
  appDyn.dictionary.wordKey = ''
})

onBeforeMount(() => {
  if (appDyn.dictionary.wordKey === '') {
    navTo('dictionary')
  }
})

onMounted(() => {
  if (!synth) {
    ttsWorking.value = false
  } else {
    const voiceLangs = appConst.targetLanguages[savestate.app.targetLanguage].lang
    if (synth.getVoices().length === 0) {
      ttsWorking.value = false
    } else if (synth.getVoices().filter(voice => voiceLangs.includes(voice.lang)).length === 0) {
      ttsWorking.value = false
    } else {
      ttsWorking.value = true
    }
    synth.onvoiceschanged = () => {
      if (synth.getVoices().filter(voice => voiceLangs.includes(voice.lang)).length !== 0) {
        ttsWorking.value = true
      }
    }
  }
})

function pitchVisible () {
  return (Object.hasOwn(word.value, 'usesPitch') && !word.value.usesPitch[currentMainAlphabetIndex.value]) ||
    !Object.hasOwn(word.value, 'usesPitch')
}

const word = computed(() => {
  if (appDyn.dictionary.wordKey !== '') {
    return appConst.getWord(appDyn.dictionary.wordKey)
  }
  return {}
})

function isWordTypeArray (type) {
  return Array.isArray(word.value[type]) 
}

const currentMainAlphabetIndex = ref(0)
function selectMainIndex (newIndex) {
  currentMainAlphabetIndex.value = newIndex
}

function getWordPart (type) {
  if (Object.keys(word.value).length === 0) {
    return ''
  }

  switch (type) {
    case 'main':
      if (!targetLanguageData.value.mainAlphabet) {
        return ''
      }
      if (!Array.isArray(word.value[targetLanguageData.value.mainAlphabet])) {
        return word.value[targetLanguageData.value.mainAlphabet]
      }
      return word.value[targetLanguageData.value.mainAlphabet][currentMainAlphabetIndex.value] || ''
    case 'sub':
      if (!targetLanguageData.value.subAlphabet) {
        return ''
      }
      if (!Array.isArray(word.value[targetLanguageData.value.subAlphabet])) {
        return word.value[targetLanguageData.value.subAlphabet]
      }
      return word.value[targetLanguageData.value.subAlphabet][currentMainAlphabetIndex.value] || ''
    case 'pitch':
      if (Object.hasOwn(word.value, 'usesPitch')) {
        if (word.value.usesPitch[currentMainAlphabetIndex.value]) {
          let pitchIndex = word.value.usesPitch.reduce((pitchIndex, usesIt, index) => {
            return usesIt && index < currentMainAlphabetIndex.value ? pitchIndex + 1 : pitchIndex
          }, 0)
          return word.value.pitchAccents[pitchIndex]
        }
      }
      return []
    default:
  }
}

const targetLanguageData = computed(() => {
  let targetLang = appConst.targetLanguages[savestate.app.targetLanguage]
  return {
    mainAlphabet: targetLang.foreignAlphabet === '' ? targetLang.latinAlphabet : targetLang.foreignAlphabet,
    subAlphabet: targetLang.foreignAlphabet === '' ? targetLang.foreignAlphabet : targetLang.latinAlphabet,
    latinAlphabet: targetLang.latinAlphabet,
    foreignAlphabet: targetLang.foreignAlphabet
  }
})

const supportedLanguages = computed(() => {
  const keyParts = appDyn.dictionary.wordKey.split('_')
  const wordpack = appConst.getWordpack(`${keyParts[0]}_${keyParts[1]}`)
  if (wordpack) {
    return wordpack.supportedLanguages
  }
  return []
})

function getWordParts (value) {
  if (!Array.isArray(value)) {
    return value
  } else if (value) {
    return value.join('; ')
  }
  return ''
}

const categoryName = computed(() => {
  const keyParts = appDyn.dictionary.wordKey.split('_')
  return appConst.getCategoryName(keyParts.slice(0, 3).join('_'))
})

const tags = computed(() => {
  if (Object.hasOwn(word.value, 'tags')) {
    const keyParts = appDyn.dictionary.wordKey.split('_')
    const packTags = appConst.getWordpack(keyParts.slice(0, 2).join('_'), false).tags
    return word.value.tags.map(tagIndex => packTags[tagIndex])
  }
  return []
})

const synth = window.speechSynthesis
const ttsWorking = ref(false)
const ttsPlaying = ref(false)

function speak () {
  if (ttsWorking.value) {
    if (!ttsPlaying.value) {
      const voiceLangs = appConst.targetLanguages[savestate.app.targetLanguage].lang
      let speech = new SpeechSynthesisUtterance(getWordPart('main'))
      let voice = synth.getVoices().filter(voice => voiceLangs.includes(voice.lang))[0]
      if (!voice) {
        ttsWorking.value = false
      }
      speech.lang = voiceLangs
      speech.volume = savestate.app.volume / 100
      speech.rate = 1
      speech.pitch = 1
      speech.voice = voice
      speech.onstart = () => {
        ttsPlaying.value = true
      }
      speech.onend = () => {
        ttsPlaying.value = false
      }
      synth.speak(speech)
    }
  } else {
    addNotification()
  }
}
const ttsIconType = computed(() => {
  if (ttsWorking.value) {
    return ttsPlaying.value ? 'volume-up' : 'volume-off'
  }
  return 'volume-mute'
})
const ttsIconColor = computed(() => {
  return ttsWorking.value ? 'green' : 'red'
})

function getDividerClass (letterIndex) {
  const valLeft = getWordPart('pitch')[letterIndex]
  const valRight = getWordPart('pitch')[letterIndex + 1]
  if (!!valLeft === !!valRight) {
    return valLeft ? 'top' : 'bottom'
  }
  return valLeft ? 'top-bottom' : 'bottom-top'
}

function addNotification () {
  appDyn.notifications.push(new Notification(
    'dictionaryDetailsNotificationTitle',
    ['dictionaryDetailsNotificationText'],
    'exclamation',
    'red'
  ))
}

function navTo (dest = appDyn.dictionary.prevDest) {
  router.push({ name: dest })
}

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>