<template>
  <div class="page">
    <div v-show="!newCategoryVisible && categories.length === 0" class="flex-row flex-grow flex-center text" :class="getSizeClass('general')">
      {{ getText('packagesEditCategoriesNoCategories') }}
    </div>
    <div v-show="!newCategoryVisible && categories.length > 0" ref="categoriesElement" class="flex-grow overflow-auto">
      <PackageCategoryEntry v-for="category in categories" :category="category"
                            :expanded="expandedCategories.includes(category.index)" :key="category.index"
                            @expand="toggleExpanded(category.index)" @edit="editEntry($event, category.index)"
                            @delete="removeEntry($event, category.index)"
                            @new="navTo('packagesEditWord', category.index)" />
    </div>
    <TheHero v-show="newCategoryVisible" class="mini" :title="['packagesEditCategoriesButton1']" />
    <div v-show="newCategoryVisible" class="flex-grow overflow-auto padding-top-medium">
      <InputBasic class="border-bottom margin-bottom-medium" v-for="lang in supportedLanguages"
                  v-model="newCategoryData[lang]" :title="lang" type="text" icon="font" no-focus :key="lang" />
    </div>
    <div v-show="newCategoryVisible" class="button-container">
      <ButtonBasic class="navigation width-half" icon="times" color="red" text="packagesEditCategoriesNewButton2"
                   @click="hideNewCategory()" />
      <ButtonBasic class="navigation width-half" icon="check" color="green" text="packagesEditCategoriesNewButton1"
                   @click="saveNewCategory()" />
    </div>
    <div v-show="!newCategoryVisible" class="button-container">
      <ButtonBasic class="navigation width-half" icon="arrow-left" color="red" text="packagesEditCategoriesButton2"
                   @click="navTo('packagesEdit')" />
      <ButtonBasic class="navigation width-half" icon="plus" color="green" text="packagesEditCategoriesButton1"
                   @click="showNewCategory()" />
    </div>
    <Teleport to="#modal-dest">
      <ModalMessage :visible="modalVisible" color="red-dark" :title="modalTitle"
                    :text="modalText" :buttons="modalButtons" center-text @click="handleModal($event)" />
    </Teleport>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, onMounted, ref, reactive } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'

import TheHero from '@/components/TheHero.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import InputBasic from '@/components/InputBasic.vue'
import PackageCategoryEntry from '@/components/PackageCategoryEntry.vue'
import ModalMessage from '@/components/ModalMessage.vue'

import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useSavestateStore } from '@/stores/savestate'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const indexedDBStore = useIndexedDBStore()

onBeforeMount(() => {
  if (!appDyn.packages.wordpack) {
    navTo('packages')
    return
  } else {
    categories.value = JSON.parse(JSON.stringify(appDyn.packages.wordpack.categories))
  }

  if (appDyn.packages.categoryIndex >= 0) {
    expandedCategories.value.push(appDyn.packages.categoryIndex)
  }
})

onMounted(() => {
  categoriesElement.value.scrollTop = appDyn.packages.categoriesScroll
  appDyn.packages.categoriesScroll = 0
})

onBeforeRouteLeave((to, from) => {
  if (modalVisible.value) {
    hideModal()
  }

  if (to.name === 'packagesEdit') {
    appDyn.packages.categoryIndex = -1
  }
})

const categoriesElement = ref(null)
const categories = ref([])
const newCategoryData = ref({})
const newCategoryVisible = ref(false)

const supportedLanguages = computed(() => {
  if (appDyn.packages.wordpack) {
    return appDyn.packages.wordpack.supportedLanguages
  }
  return []
})

function showNewCategory (categoryIndex = -1) {
  newCategoryData.value = {}
  if (categoryIndex < 0) {
    newCategoryData.value.index = categories.value.reduce((newIndex, category) => {
      return category.index >= newIndex ? category.index + 1 : newIndex
    }, 1)
    for (let lang of supportedLanguages.value) {
      newCategoryData.value[lang] = ''
    }
    newCategoryData.value.words = []
  } else {
    const category = categories.value.find(category => category.index === categoryIndex)
    newCategoryData.value.index = categoryIndex
    for (let lang of supportedLanguages.value) {
      newCategoryData.value[lang] = category[lang]
    }
    newCategoryData.value.words = []
  }
  newCategoryVisible.value = true
}

function hideNewCategory () {
  newCategoryData.value = {}
  newCategoryVisible.value = false
}

function saveNewCategory () {
  let filled = true
  for (let lang of supportedLanguages.value) {
    if (newCategoryData.value[lang] === '') {
      filled = false
    }
  }

  if (!filled) {
    addNotification()
  } else {
    let category = categories.value.find(category => category.index === newCategoryData.value.index)
    if (category) {
      for (let lang of supportedLanguages.value) {
        category[lang] = newCategoryData.value[lang].trim()
      }
    } else {
      for (let lang of supportedLanguages.value) {
        newCategoryData.value[lang] = newCategoryData.value[lang].trim()
      }
      categories.value.push(newCategoryData.value)
    }
    hideNewCategory()
    appDyn.packages.wordpack.categories = categories.value
    autosaveWordpack()
    appDyn.packages.changed = true
  }
}

function addNotification () {
  appDyn.notifications.push(new Notification(
    'packagesEditCategoriesNotificationTitle',
    ['packagesEditCategoriesNotificationText'],
    'exclamation',
    'red'
  ))
}

const expandedCategories = ref([])

function toggleExpanded (categoryIndex) {
  if (expandedCategories.value.includes(categoryIndex)) {
    expandedCategories.value = expandedCategories.value.filter(index => index !== categoryIndex)
  } else {
    expandedCategories.value.push(categoryIndex)
  }
}

const modalMode = ref('word') // category
const modalVisible = ref(false)
const modalButtons = reactive([
  {
    icon: 'times',
    text: 'packagesEditCategoriesModalButton1',
    color: 'red'
  },
  {
    icon: 'check',
    text: 'packagesEditCategoriesModalButton2',
    color: 'green'
  }
])
const modalDeleteName = ref('')
const modalTitle = computed(() => {
  if (modalMode.value === 'word') {
    return 'packagesEditCategoriesModalTitleWord'
  }
  return 'packagesEditCategoriesModalTitleCategory'
})
const modalText = computed(() => {
  if (modalMode.value === 'word') {
    return [
      'packagesEditCategoriesModalWordText',
      modalDeleteName.value
    ]
  }
  return [
    'packagesEditCategoriesModalCategoryText',
    modalDeleteName.value
  ]
})

function showModal () {
  modalVisible.value = true
}

function hideModal () {
  modalVisible.value = false
}

function editEntry (data, categoryIndex) {
  switch (data.type) {
    case 'category':
      showNewCategory(categoryIndex)
      break
    case 'word':
      editWord(categoryIndex, data.index)
      break
    default:
  }
}

function editWord (categoryIndex, index) {
  appDyn.packages.wordIndex = index
  navTo('packagesEditWord', categoryIndex)
}

function removeEntry (data, categoryIndex) {
  switch (data.type) {
    case 'category':
      confirmRemoveCategory(categoryIndex)
      break
    case 'word':
      confirmRemoveWord(categoryIndex, data.index)
      break
    default:
  }
}

const selectedCategoryIndex = ref(-1)

function confirmRemoveCategory (categoryIndex) {
  let categoryName = ''
  const category = categories.value.find(category => category.index === categoryIndex)
  if (category) {
    categoryName = category[savestate.app.lang]
  }

  selectedCategoryIndex.value = categoryIndex
  selectedWordIndex.value = -1
  modalDeleteName.value = categoryName
  modalMode.value = 'category'
  showModal()
}

const selectedWordIndex = ref(-1)

function confirmRemoveWord (categoryIndex, index) {
  let wordName = ''
  const category = categories.value.find(category => category.index === categoryIndex)
  if (category && category.words.length > index) {
    let word = category.words[index][savestate.app.lang]
    if (typeof word === 'string') {
      wordName = word
    } else {
      wordName = word[0]
    }
  }

  selectedCategoryIndex.value = categoryIndex
  selectedWordIndex.value = index
  modalDeleteName.value = wordName
  modalMode.value = 'word'
  showModal()
}

function handleModal (buttonId) {
  switch (buttonId) {
    case 'button1':
      hideModal()
      break
    case 'button2':
      if (selectedWordIndex.value < 0) {
        deleteCategory(selectedCategoryIndex.value)
      } else {
        deleteWord(selectedCategoryIndex.value, selectedWordIndex.value)
      }
      appDyn.packages.wordpack.categories = categories.value
      autosaveWordpack()
      hideModal()
      break
    default:
  }
}

function deleteCategory (categoryIndex) {
  categories.value = categories.value.filter(category => category.index !== categoryIndex)
  expandedCategories.value = expandedCategories.value.filter(index => index !== categoryIndex)
  appDyn.packages.changed = true
}

function deleteWord (categoryIndex, index) {
  let category = categories.value.find(category => category.index === categoryIndex)
  category.words.splice(index, 1)
  appDyn.packages.changed = true
}

function autosaveWordpack () {
  const foundWordpack = appConst.vocabulary.find(pack => pack.index < 0)
  let wordpackCopy = JSON.parse(JSON.stringify(appDyn.packages.wordpack))
  if (wordpackCopy.index >= 0) {
    wordpackCopy.index = -wordpackCopy.index
  }
  
  if (foundWordpack) {
    if (foundWordpack.index !== wordpackCopy.index) {
      indexedDBStore.deleteEntry({
        name: 'vocadventuredb',
        store: 'wordpacks',
        key: `c_${foundWordpack.index}`
      })
    } else if (foundWordpack.index === wordpackCopy.index) {
      appConst.deleteWordpack(appDyn.packages.wordpackKey)
    }
  }
  indexedDBStore.saveEntry({
    name: 'vocadventuredb',
    store: 'wordpacks',
    entry: savestate.minifyData('wordpack', wordpackCopy),
    create: true,
    keyPath: 'a'
  })
}

function navTo (destination, categoryIndex = -1) {
  switch (destination) {
    case 'packagesEditWord':
      appDyn.packages.categoryIndex = categoryIndex
      appDyn.packages.categoriesScroll = categoriesElement.value.scrollTop
      break
    default:
  }
  router.push({ name: destination })
}

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
