<template>
  <div class="page">
    <div class="flex-grow overflow-auto">
      <InputBasic class="border-bottom margin-top-medium margin-bottom-medium" v-model="wordpack.tag"
                  title="packagesEditTag" type="text" icon="tag" :maxlength="3" no-focus />
      <InputBasic class="border-bottom margin-bottom-medium" v-model="wordpack.name" title="packagesEditName"
                  type="text" icon="font" no-focus />
      <DropdownBasic class="border-bottom margin-bottom-medium" title="packagesEditTargetLanguage"
                     :options="targetLanguageOptions" icon="user-graduate" :selected="wordpack.targetLanguage"
                     @change="setTargetLanguage($event)" />
      <TheCheckbox class="border-bottom margin-bottom-medium" v-for="key in Object.keys(appConst.texts)"
                     title="packagesEditSupportedLanguages" icon="globe" :text="key"
                     :active="wordpack.supportedLanguages.includes(key)" :key="key" @click="toggleSupportedLang(key)" />
      <ButtonBasic class="single-2 width-full" icon="tag" color="action" text="packagesEditShowTags" @click="navTo('packagesEditTags')" />
    </div>
    <div class="button-container flex-row flex-wrap">
      <ButtonBasic class="navigation width-third" icon="times" color="red" text="packagesEditButton2"
                   @click="checkForChanges(true)" />
      <ButtonBasic class="navigation width-third" icon="list" color="info" text="packagesEditButton1"
                   @click="navTo('packagesEditCategories')" />
      <ButtonBasic class="navigation width-third" icon="floppy-disk" color="green" text="packagesEditButton3"
                   @click="checkSupportedLangs()" />
    </div>
    <Teleport to="#modal-dest">
      <ModalMessage :visible="modalVisible" :color="modalColor" :title="modalTitle"
                    :text="modalText" :buttons="modalButtons" center-text @click="handleModal($event)" />
    </Teleport>
    <Teleport to="#modal-dest">
      <ModalLoad :visible="isLoading" :text="modalLoadText" />
    </Teleport>
  </div>
</template>

<script setup>
import { onBeforeMount, reactive, ref, watch, computed, nextTick } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'

import InputBasic from '@/components/InputBasic.vue'
import DropdownBasic from '@/components/DropdownBasic.vue'
import TheCheckbox from '@/components/TheCheckbox.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import ModalLoad from '@/components/ModalLoad.vue'
import ModalMessage from '@/components/ModalMessage.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const indexedDBStore = useIndexedDBStore()

onBeforeRouteLeave((to, from) => {
  if (to.name === 'packages') {
    if (appDyn.packages.wordpackKey === '') {
      return
    }

    checkForChanges()
    if (!modalVisible.value && appDyn.packages.changed) {
      showModal()
      return false
    } else {
      hideModal()
      appDyn.packages.wordpackKey = ''
      appDyn.packages.wordpack = null
      appDyn.packages.changed = false
    }
  }
  return
})

onBeforeMount(() => {
  if (appDyn.packages.wordpackKey === '') {
    navTo('packages')
    return
  }
  let foundWordpack = null
  if (appDyn.packages.wordpack) {
    foundWordpack = JSON.parse(JSON.stringify(appDyn.packages.wordpack))
  } else if (currentWordpack.value) {
    foundWordpack = currentWordpack.value
  }

  if (foundWordpack) {
    if (!foundWordpack.isCustom) {
      wordpack.index = getNewIndex()
    } else {
      wordpack.index = foundWordpack.index
    }
    wordpack.tag = foundWordpack.tag
    wordpack.name = foundWordpack.name
    wordpack.targetLanguage = foundWordpack.targetLanguage
    wordpack.supportedLanguages = Array.from(foundWordpack.supportedLanguages)
    wordpack.categories = foundWordpack.categories
    if (Object.hasOwn(foundWordpack, 'tags')) {
      wordpack.tags = foundWordpack.tags
    }
  } else {
    wordpack.index = parseInt(appDyn.packages.wordpackKey.split('_')[1])
  }
})

function getNewIndex () {
  return appConst.vocabulary.reduce((maxIndex, wordpack) => {
    if (wordpack.isCustom) {
      return wordpack.index >= maxIndex ? wordpack.index + 1 : maxIndex
    }
    return maxIndex
  }, 1)
}

const modalVisible = ref(false)
const modalMode = ref('abort') // save
const modalColor = computed(() => {
  if (modalMode.value === 'abort') {
    return 'red-dark'
  }
  return 'orange'
})
const modalTitle = computed(() => {
  if (modalMode.value === 'abort') {
    return 'packagesEditModalTitle'
  }
  return 'packagesEditModalTitle2'
})
const modalText = computed(() => {
  if (modalMode.value === 'abort') {
    return ['packagesEditModalText']
  }
  return ['packagesEditModalText2']
})
const modalButtons = reactive([
  {
    icon: 'times',
    text: 'packagesEditModalButton1',
    color: 'red'
  },
  {
    icon: 'check',
    text: 'packagesEditModalButton2',
    color: 'green'
  }
])
const modalLoadText = computed(() => {
  if (!currentWordpack.value) {
    return 'packagesEditLoadModalText'
  }
  return 'packagesEditLoadModalText2'
})

function showModal (mode = 'abort') {
  modalMode.value = mode
  modalVisible.value = true
}

function hideModal () {
  modalVisible.value = false
}

function handleModal (buttonId) {
  switch (buttonId) {
    case 'button1':
      hideModal()
      break
    case 'button2':
      if (modalMode.value === 'abort') {
        navTo('packages')
      } else {
        navTo('packages', true)
      }
      break
    default:
      hideModal()
  }
}

const wordpack = reactive({
  index: 1,
  tag: '',
  name: '',
  targetLanguage: 'japanese',
  supportedLanguages: [],
  isCustom: true,
  categories: []
})
const currentWordpack = computed(() => {
  return appConst.getWordpack(appDyn.packages.wordpackKey)
})

const targetLanguageOptions = computed(() => {
  return Object.keys(appConst.targetLanguages)
})

function setTargetLanguage (newTargetLanguage) {
  wordpack.targetLanguage = newTargetLanguage
}

function toggleSupportedLang (newLang) {
  if (wordpack.supportedLanguages.includes(newLang)) {
    wordpack.supportedLanguages = wordpack.supportedLanguages.filter(language => language !== newLang)
  } else {
    wordpack.supportedLanguages.push(newLang)
    if (Object.hasOwn(wordpack, 'tags')) {
      for (let tag of wordpack.tags) {
        if (!Object.hasOwn(tag, newLang)) {
          tag[newLang] = ''
        }
      }
      for (let cat of wordpack.categories) {
        if (!Object.hasOwn(cat, newLang)) {
          cat[newLang] = ''
        }
        for (let word of cat.words) {
          if (!Object.hasOwn(word, newLang)) {
            word[newLang] = ''
          }
        }
      }
    }
  }
  resetNotifications()
}

function checkForChanges (navigation = false) {
  let changed = false

  if (currentWordpack.value) {
    if (wordpack.tag !== currentWordpack.value.tag || wordpack.name !== currentWordpack.value.name ||
        wordpack.targetLanguage !== currentWordpack.value.targetLanguage ||
        wordpack.supportedLanguages.length !== currentWordpack.value.supportedLanguages.length) {
      changed = true
    }
    for (let lang of currentWordpack.value.supportedLanguages) {
      if (!wordpack.supportedLanguages.includes(lang)) {
        changed = true
        break
      }
    }
  }

  if (changed) {
    appDyn.packages.changed = true
  }

  if (navigation) {
    navTo('packages')
  }
}

function checkSupportedLangs () {
  if (currentWordpack.value !== null) {
    let deletedLangs = []
    for (let lang of currentWordpack.value.supportedLanguages) {
      if (!wordpack.supportedLanguages.includes(lang)) {
        deletedLangs.push(lang)
      }
    }
    if (deletedLangs.length > 0) {
      showModal('save')
      return
    }
  }
  navTo('packages', true)
}

const notificationType = ref('save')
const notificationMsg = computed(() => {
  if (notificationType.value === 'save') {
    return ['packagesEditNotificationTitle', 'packagesEditNotificationText']
  } else {
    return ['packagesEditNotificationTitle2', 'packagesEditNotificationText2']
  }
})
const isLoading = computed(() => {
  return appDyn.packages.saved.db || appDyn.packages.saved.time
})
watch(
  () => appDyn.packages.saved.db || appDyn.packages.saved.time,
  (to, from) => {
    if (!to && from) {
      router.push({ name: 'packages' })
    }
  }
)

function addNotification (type = 'save') {
  notificationType.value = type
  nextTick(() => {
    appDyn.notifications.push(new Notification(
      notificationMsg.value[0],
      [notificationMsg.value[1]],
      'exclamation',
      'red'
    ))
  })
}

function resetNotifications () {
  appDyn.notifications = []
}

function navTo (destination, saving = false) {
  switch (destination) {
    case 'packagesEditTags':
      appDyn.packages.wordpack = wordpack
      router.push({ name: destination })
      break
    case 'packagesEditCategories':
      if (wordpack.supportedLanguages.length === 0) {
        addNotification('categories')
      } else {
        appDyn.packages.wordpack = wordpack
        router.push({ name: destination })
      }
      break
    case 'packages':
      if (saving) {
        if (wordpack.tag === '' || wordpack.name === '' || wordpack.supportedLanguages.length === 0) {
          addNotification()
        } else {
          let deletedLangs = []
          if (currentWordpack.value !== null) {
            for (let lang of currentWordpack.value.supportedLanguages) {
              if (!wordpack.supportedLanguages.includes(lang)) {
                deletedLangs.push(lang)
              }
            }
          }

          let unusedTagIndices = []
          if (Object.hasOwn(wordpack, 'tags')) {
            for (let i = 0; i < wordpack.tags.length; i++) {
              let isUsed = false
              for (let cat of wordpack.categories) {
                for (let word of cat.words) {
                  if (Object.hasOwn(word, 'tags')) {
                    for (let tagIndex of word.tags) {
                      if (tagIndex === i) {
                        isUsed = true
                        break
                      }
                    }
                    if (isUsed) {
                      break
                    }
                  }
                }
                if (isUsed) {
                  break
                }
              }
              if (!isUsed) {
                unusedTagIndices.push(i)
              }
            }
            let reversedUnusedTagIndices = JSON.parse(JSON.stringify(unusedTagIndices))
            reversedUnusedTagIndices.reverse()

            for (let unusedIndex of reversedUnusedTagIndices) {
              wordpack.tags.splice(unusedIndex, 1)
            }

            if (wordpack.tags.length === 0) {
              delete wordpack.tags
            }
          }

          if (deletedLangs.length > 0 || unusedTagIndices.length > 0) {
            for (let cat of wordpack.categories) {
              if (deletedLangs.length > 0) {
                for (let lang of deletedLangs) {
                  if (Object.hasOwn(cat, lang)) {
                    delete cat[lang]
                  }
                }
              }
              for (let word of cat.words) {
                if (Object.hasOwn(word, 'tags') && unusedTagIndices.length > 0) {
                  word.tags = word.tags.map(tagIndex => {
                    let foundIndex = unusedTagIndices.findIndex(index => tagIndex < index)
                    if (foundIndex === -1) {
                      return tagIndex - unusedTagIndices.length
                    }
                    return tagIndex - foundIndex
                  })
                }
                if (deletedLangs.length > 0) {
                  for (let lang of deletedLangs) {
                    if (Object.hasOwn(word, lang)) {
                      delete word[lang]
                    }
                  }
                }
              }
            }
          }

          if (currentWordpack.value === null) {
            savestate.app.activeWordpacks.push(appDyn.packages.wordpackKey)
            savestate.saveData('activeWordpacks')
          }

          if (appDyn.packages.wordpackKey.startsWith('c_-')) {
            indexedDBStore.deleteEntry({
              name: 'vocadventuredb',
              store: 'wordpacks',
              key: appDyn.packages.wordpackKey
            })
            wordpack.index = -wordpack.index
            appDyn.packages.wordpackKey = appDyn.packages.wordpackKey.replace('-', '')
          }

          let foundWordpack = appConst.vocabulary.find(pack => -pack.index === wordpack.index)
          if (foundWordpack) {
            indexedDBStore.deleteEntry({
              name: 'vocadventuredb',
              store: 'wordpacks',
              key: `c_${foundWordpack.index}`
            })
          }

          if (appConst.vocabulary.some(pack => appConst.getWordpackKey(pack) === appDyn.packages.wordpackKey )) {
            appConst.deleteWordpack(appDyn.packages.wordpackKey, false)
          }
          
          wordpack.tag = wordpack.tag.trim()
          wordpack.name = wordpack.name.trim()
          indexedDBStore.saveEntry({
            name: 'vocadventuredb',
            store: 'wordpacks',
            entry: savestate.minifyData('wordpack', JSON.parse(JSON.stringify(wordpack))),
            create: true,
            keyPath: 'a'
          })
          appDyn.packages.wordpackKey = ''
          appDyn.packages.wordpack = null
          appDyn.packages.changed = false
          appDyn.packages.saved.time = true
          appDyn.packages.saved.db = true
          setTimeout(() => {
            appDyn.packages.saved.time = false
          }, 500)
        }
      } else {
        router.push({ name: destination })
      }
      break
    default:
  }
}
</script>
