<template>
  <div class="page">
    <div class="action-container">
      <ButtonBasic class="width-half" icon="download" color="action" text="packagesButton1"
                   @click="switchMode('download')" />
      <ButtonUpload class="width-half" icon="upload" color="action" text="packagesButton2"
                    @change="processFiles($event)" />
    </div>
    <div class="flex-grow overflow-auto">
      <PackageListEntry v-for="(wordpack, index) in wordpacks" :wordpack="wordpack" :mode="mode"
                        :is-active-list="activeList" @toggle="handleEntryToggle(wordpack, $event)"
                        @click="handleEntryClick($event, wordpack)" :key="index" />
    </div>
    <div v-show="mode !== 'standard'" class="button-container">
      <ButtonBasic class="navigation width-half" icon="times" color="red" text="packagesButton5"
                   @click="switchMode('standard')" />
      <ButtonBasic class="navigation width-half" icon="check" color="green" text="packagesButton6"
                   @click="confirmAction()" :disabled="selectedWordpacks.length === 0" />
    </div>
    <div v-show="mode === 'standard'" class="button-container flex-row flex-wrap">
      <ButtonBasic class="navigation width-half" icon="arrow-left" color="red" text="packagesButton3"
                   @click="navTo('back')" />
      <ButtonBasic class="navigation width-half" icon="plus" color="green" text="packagesButton4"
                   @click="navTo('edit', appConst.getNewWordpackKey)" />
    </div>
    <Teleport to="#modal-dest">
      <ModalMessage :visible="modalVisible" color="red-dark" title="packagesModalTitle" :text="modalText"
                    :buttons="modalButtons" center-text @click="handleModal($event)" />
    </Teleport>
  </div>
</template>

<script setup>
import { computed, ref, reactive } from 'vue'
import { useRouter } from 'vue-router'

import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonUpload from '@/components/ButtonUpload.vue'
import PackageListEntry from '@/components/PackageListEntry.vue'
import ModalMessage from '@/components/ModalMessage.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification.js'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const indexedDBStore = useIndexedDBStore()

const mode = ref('standard')

function switchMode (newMode) {
  if (mode.value !== newMode) {
    mode.value = newMode
    selectedWordpacks.value = []
  }
}

const wordpacks = computed(() => {
  let packs = Array.from(appConst.vocabulary)
  packs.sort((pack1, pack2) => {
    if (pack1.isCustom === pack2.isCustom) {
      if (pack1.index === pack2.index) {
        return 0
      } else if (pack1.index < 0 && pack2.index < 0) {
          return pack1.index > pack2.index ? -1 : 1
      } else if (pack1.index < 0 && pack2.index >= 0) {
          return 1
      } else if (pack1.index >= 0 && pack2.index < 0) {
          return -1
      } else {
          return pack1.index > pack2.index ? 1 : -1
      }
    } else {
      return pack1.isCustom && !pack2.isCustom ? 1 : -1
    }
  })
  return packs
})

const selectedWordpacks = ref([])
const activeList = computed(() => {
  switch (mode.value) {
    case 'download':
    case 'delete':
      return selectedWordpacks.value
    default:
      return savestate.app.activeWordpacks
  }
})

function processFiles (files) {
  let newFirstIndex = appConst.vocabulary.reduce((maxIndex, wordpack) => {
    if (wordpack.isCustom) {
      return wordpack.index >= maxIndex ? wordpack.index + 1 : maxIndex
    }
    return maxIndex
  }, 1)

  for (let i = 0; i < files.length; i++) {
    getFile(files[i], newFirstIndex + i)
  }
}

function getFile (file, index) {
  const fileReader = new FileReader()
  fileReader.addEventListener('load', event => {
    let loadedWordpack = JSON.parse(event.target.result)
    loadedWordpack.isCustom = true
    loadedWordpack.index = index

    indexedDBStore.saveEntry({
      name: 'vocadventuredb',
      store: 'wordpacks',
      entry: savestate.minifyData('wordpack', loadedWordpack),
      create: true,
      keyPath: 'a'
    })
    handleEntryToggle(loadedWordpack, true)
  })
  fileReader.readAsText(file)
}

function downloadWordpack (wordpack) {
  let element = document.createElement('a')
  let file = new Blob([JSON.stringify(wordpack)], { type: 'application/json' })
  element.href = URL.createObjectURL(file)
  element.download = wordpack.name.toLowerCase().trim().replace(/ /g, '_') + '-wordpack.json'
  element.click()
}

function handleEntryClick (type, wordpack) {
  if (type === 'edit') {
    navTo('edit', appConst.getWordpackKey(wordpack))
  } else { // delete
    selectedWordpacks.value.push(appConst.getWordpackKey(wordpack))
    showModal()
  }
}

function handleEntryToggle (wordpack, bool) {
  switch (mode.value) {
    case 'download':
      if (bool) {
        if (selectedWordpacks.value.length === 1) {
          selectedWordpacks.value = []
        }
        selectedWordpacks.value.push(appConst.getWordpackKey(wordpack))
      } else {
        selectedWordpacks.value = selectedWordpacks.value.filter(key => key !== appConst.getWordpackKey(wordpack))
      }
      break
    case 'delete':
      if (bool) {
        selectedWordpacks.value.push(appConst.getWordpackKey(wordpack))
      } else {
        selectedWordpacks.value = selectedWordpacks.value.filter(key => key !== appConst.getWordpackKey(wordpack))
      }
      break
    default:
      if (bool) {
        if (!savestate.app.activeWordpacks.includes(appConst.getWordpackKey(wordpack))) {
          savestate.app.activeWordpacks.push(appConst.getWordpackKey(wordpack))
        }
      } else {
        savestate.app.activeWordpacks = savestate.app.activeWordpacks.filter(
          (key) => key !== appConst.getWordpackKey(wordpack)
        )
      }
      savestate.saveData('activeWordpacks')

  }
}

const modalVisible = ref(false)
const modalButtons = reactive([
  {
    icon: 'times',
    text: 'packagesModalButton1',
    color: 'red'
  },
  {
    icon: 'check',
    text: 'packagesModalButton2',
    color: 'green'
  }
])
const modalText = computed(() => {
  return [
    'packagesModalText',
    selectedWordpacks.value.map((key) => {
      let wordpack = appConst.getWordpack(key, false)
      if (wordpack) {
        return `[${wordpack.tag}] ${wordpack.name}`
      }
      return ''
    }).join('')
  ]
})

function showModal () {
  modalVisible.value = true
}

function hideModal () {
  modalVisible.value = false
}

function handleModal (buttonId) {
  switch (buttonId) {
    case 'button1':
      hideModal()
      break
    case 'button2':
      for (let key of selectedWordpacks.value) {
        indexedDBStore.deleteEntry({
          name: 'vocadventuredb',
          store: 'wordpacks',
          key: key
        })
      }
      hideModal()
      switchMode('standard')
      break
    default:
  }
}

function confirmAction () {
  switch (mode.value) {
    case 'download':
      for (let key of selectedWordpacks.value) {
        downloadWordpack(appConst.getWordpack(key))
      }
      switchMode('standard')
      break
    case 'delete':
      showModal()
      break
    default:
  }
}

const supportedLanguages = ref('')

function addNotification () {
  appDyn.notifications.push(new Notification(
    'packagesNotificationTitle',
    ['packagesNotificationText', supportedLanguages.value],
    'exclamation',
    'red'
  ))
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function navTo (destination = '', wordpackKey = '') {
  if (destination === 'edit') {
    let wordpack = appConst.getWordpack(wordpackKey)
    if (!wordpack || wordpack.supportedLanguages.includes(savestate.app.lang)) {
      appDyn.packages.wordpackKey = wordpackKey
      router.push({ name: 'packagesEdit' })
    } else {
      supportedLanguages.value = wordpack.supportedLanguages.map((lang) => {
        return `<li>${getText(lang)}</li>`
      }).join('')
      addNotification()
    }
  } else { // back
    savestate.saveData('activeWordpacks')
    switch (appDyn.packagesDestination) {
      case 'adventure':
      case 'training':
      case 'writeKanji':
        router.push({ name: 'category', params: { destination: appDyn.packagesDestination } })
        appDyn.packagesDestination = ''
        break
      default:
        if (appDyn.packagesDestination !== '') {
          router.push({ name: appDyn.packagesDestination })
        } else {
          router.push({ name: 'menu' })
        }
    }
  }
}
</script>
