<template>
  <div class="page">
    <div class="flex-grow overflow-auto flex-column">
      <div v-show="tags.length === 0" class="text width-full height-full flex-row flex-center"
           :class="getSizeClass('general')">
        {{ getText('packagesEditTagsNoTags') }}
      </div>
      <div v-for="tag in tags" class="tag-entry flex-row" :class="[getSizeClass('general'), tag.color]"
           :key="tag.index">
        <div class="colored-tag flex-row flex-center" @click="editTag(tag, tag.index)">
          <i class="fas fa-tag"></i>
        </div>
        <div class="content flex-grow flex-column" @click="editTag(tag, tag.index)">
          <div class="text">
            {{ tag[savestate.app.lang] }}
          </div>
          <div class="languages flex-row gap-column-medium">
            <TheLanguageIndicator v-for="lang in supportedLanguages" :flag-url="getFlagUrl(lang)"
                                  :active="isLangMaintained(tag, lang)" :key="lang" />
          </div>
        </div>
        <ButtonIcon class="single-1" icon="edit" color="green" @click="editTag(tag, tag.index)" />
        <ButtonIcon class="single-1" icon="trash" color="red" @click="handleDelete(tag.index)" />
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-half" icon="arrow-left" color="red" text="packagesEditTagsButton1"
                   @click="navTo()" />
      <ButtonBasic class="navigation width-half" icon="plus" color="green" text="packagesEditTagsButton2"
                   @click="newTag()" />
    </div>
    <Teleport to="#modal-dest">
      <ModalSlot :visible="['edit', 'new'].includes(modalVisible)" :title="modalTitle" color="green-dark"
                 :buttons="modalButtons" @click="handleModal($event)">
        <InputBasic v-for="lang in supportedLanguages" class="border-bottom-modal margin-tb-medium"
                    :title="getText('packagesEditWordModalNewTagTitle', lang)"
                    type="text" icon="tag" no-focus v-model="tagData[lang]" />
        <div class="flex-row flex-wrap flex-center gap-column-small gap-row-small margin-bottom-medium padding-lr-medium">
          <div v-for="color in appConst.tagColors" class="color-selection flex-row flex-center"
              :class="[color, getSizeClass('general')]" :key="color" @click="selectColor(color)">
            <Icon v-show="tagData.color === color" icon="check" color="background" />
          </div>
        </div>
      </ModalSlot>
    </Teleport>
    <Teleport to="#modal-dest">
      <ModalMessage :visible="modalVisible === 'delete'" color="red-dark" :title="modalTitle" :text="modalText"
                    :buttons="modalButtons" center-text @click="handleModal($event)" />
    </Teleport>
  </div>
</template>

<script setup>
import { onBeforeMount, computed, ref, reactive } from 'vue'
import { useRouter } from 'vue-router'

import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'
import ModalSlot from '@/components/ModalSlot.vue'
import ModalMessage from '@/components/ModalMessage.vue'
import InputBasic from '@/components/InputBasic.vue'
import Icon from '@/components/Icon.vue'
import TheLanguageIndicator from '@/components/TheLanguageIndicator.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const indexedDBStore = useIndexedDBStore()

onBeforeMount(() => {
  if (appDyn.packages.wordpackKey === '') {
    navTo('packages')
    return
  }
})

const tags = computed(() => {
  appDyn.packages.wordpack?.tags
  if (appDyn.packages.wordpack === null) {
    return []
  }
  if (Object.hasOwn(appDyn.packages.wordpack, 'tags')) {
    let tagsCopy = JSON.parse(JSON.stringify(appDyn.packages.wordpack.tags))
    tagsCopy = tagsCopy.map((tag, index) => {
      tag.index = index
      return tag
    })
    return tagsCopy.sort((tag1, tag2) => {
      if (tag1[savestate.app.lang].toLowerCase() > tag2[savestate.app.lang].toLowerCase()) {
        return 1
      } else if (tag1[savestate.app.lang].toLowerCase() < tag2[savestate.app.lang].toLowerCase()) {
        return -1
      }
      return 0
    })
  }
  return []
})

const supportedLanguages = computed(() => {
  if (appDyn.packages.wordpack === null) {
    return []
  }
  return appDyn.packages.wordpack.supportedLanguages
})

const tagData = reactive({
  color: 'green'
})
const tagIndex = ref(-1)
const modalVisible = ref('')
const modalTitle = computed(() => {
  if (modalVisible.value === 'edit') {
    return 'packagesEditTagsModalTitleEdit'
  } else if (modalVisible.value === 'new') {
    return 'packagesEditTagsModalTitleNew'
  }
  return 'packagesEditTagsModalTitleDelete'
})
const modalButtons = computed(() => {
  if (modalVisible.value === 'new' || modalVisible.value === 'edit') {
    return [
      {
        icon: 'times',
        text: 'packagesEditTagsModalAbort',
        color: 'red'
      },
      {
        icon: 'check',
        text: 'packagesEditTagsModalSave',
        color: 'green'
      }
    ]
  } else if (modalVisible.value === 'delete') {
    return [
    {
        icon: 'times',
        text: 'packagesEditTagsModalAbort',
        color: 'red'
      },
      {
        icon: 'check',
        text: 'packagesEditTagsModalConfirm',
        color: 'green'
      }
    ]
  }
  return []
})
const modalText = computed(() => {
  if (tagIndex.value === -1) {
    return []
  }
  return [
    'packagesEditTagsModalTextDelete',
    tags.value[tagIndex.value][savestate.app.lang]
  ]
})

function handleModal (buttonId) {
  switch (buttonId) {
    case 'button1':
      hideModal()
      break
    case 'button2':
      if (modalVisible.value === 'delete') {
        deleteTag()
      } else {
        for (let lang of supportedLanguages.value) {
          if (tagData[lang] === '') {
            addNotification()
            return
          }
        }

        if (appDyn.notifications.length > 0) {
          resetNotifications()
        }

        saveTag()
      }
      hideModal()
      break
    default:
      hideModal()
  }
}

function saveTag () {
  if (modalVisible.value === 'edit') {
    let tag = appDyn.packages.wordpack.tags[tagIndex.value]
    for (let key in tagData) {
      if (Object.hasOwn(tagData, key)) {
        tag[key] = tagData[key].trim()
      }
    }
    tagIndex.value = -1
  } else if (modalVisible.value === 'new') {
    for (let lang of supportedLanguages.value) {
      tagData[lang] = tagData[lang].trim()
    }
    if (Object.hasOwn(appDyn.packages.wordpack, 'tags')) {
      appDyn.packages.wordpack.tags.push(JSON.parse(JSON.stringify(tagData)))
    } else {
      appDyn.packages.wordpack.tags = [JSON.parse(JSON.stringify(tagData))]
    }
  }

  autosaveWordpack()

  appDyn.packages.changed = true
}

function autosaveWordpack () {
  const foundWordpack = appConst.vocabulary.find(pack => pack.index < 0)
  let wordpackCopy = JSON.parse(JSON.stringify(appDyn.packages.wordpack))
  if (wordpackCopy.index >= 0) {
    wordpackCopy.index = -wordpackCopy.index
  }

  if (foundWordpack) {
    if (foundWordpack.index !== wordpackCopy.index) {
      indexedDBStore.deleteEntry({
        name: 'vocadventuredb',
        store: 'wordpacks',
        key: `c_${foundWordpack.index}`
      })
    } else if (foundWordpack.index === wordpackCopy.index) {
      appConst.deleteWordpack(appDyn.packages.wordpackKey)
    }
  }
  indexedDBStore.saveEntry({
    name: 'vocadventuredb',
    store: 'wordpacks',
    entry: savestate.minifyData('wordpack', wordpackCopy),
    create: true,
    keyPath: 'a'
  })
}

function selectColor (color) {
  tagData.color = color
}

function showModal (type = 'edit') {
  modalVisible.value = type
}

function hideModal () {
  modalVisible.value = ''
}

function newTag () {
  for (let supportedLanguage of supportedLanguages.value) {
    tagData[supportedLanguage] = ''
  }
  tagData.color = 'green'
  showModal('new')
}

function editTag (tag, index) {
  for (let supportedLanguage of supportedLanguages.value) {
    tagData[supportedLanguage] = tag[supportedLanguage]
  }
  tagData.color = tag.color
  tagIndex.value = index
  showModal('edit')
}

function handleDelete (index) {
  tagIndex.value = index
  showModal('delete')
}

function deleteTag () {
  appDyn.packages.wordpack.tags.splice(tagIndex.value, 1)
  for (let cat of appDyn.packages.wordpack.categories) {
    for (let word of cat.words) {
      if (Object.hasOwn(word, 'tags')) {
        word.tags = word.tags.map(i => {
          if (i === tagIndex.value) {
            return -1
          } else if (i > tagIndex.value) {
            return i - 1
          }
          return i
        }).filter(i => i >= 0)
        if (word.tags.length === 0) {
          delete word.tags
        }
      }
    }
  }
  if (appDyn.packages.wordpack.tags.length === 0) {
    delete appDyn.packages.wordpack.tags
  }
  
  autosaveWordpack()
  appDyn.packages.changed = true
}

function getFlagUrl (targetLanguage) {
  return '../../assets/img/flags/' + appConst.targetLanguages[targetLanguage].flag + '.svg'
}

function isLangMaintained (tag, targetLanguage) {
  return Object.hasOwn(tag, targetLanguage) && tag[targetLanguage] !== ''
}

function addNotification () {
  appDyn.notifications.push(new Notification(
    'packagesEditTagsNotificationTitle',
    ['packagesEditTagsNotificationText'],
    'exclamation',
    'red'
  ))
}

function resetNotifications () {
  appDyn.notifications = []
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (destination = '') {
  switch (destination) {
    default:
      router.push({ name: 'packagesEdit' })
  }
}
</script>