<template>
  <div class="page">
    <TheHero class="mini" :title="[title]" />
    <TitleControl class="margin-top-medium" text="packagesEditWordTitleDifficulty" />
    <div class="flex-row margin-bottom-medium">
      <ButtonMDI class="width-third" :class="isDifficultySelected(1) ? 'single-3' : 'underlined'" color="green"
                 text="difficulty1" @click="setDifficulty(1)">
        <MDIIconSpeedometerSlow />
      </ButtonMDI>
      <ButtonMDI class="width-third" :class="isDifficultySelected(2) ? 'single-3' : 'underlined'" color="yellow"
                 text="difficulty2" @click="setDifficulty(2)">
        <MDIIconSpeedometerMedium />
      </ButtonMDI>
      <ButtonMDI class="width-third" :class="isDifficultySelected(3) ? 'single-3' : 'underlined'" color="red"
                 text="difficulty3" @click="setDifficulty(3)">
        <MDIIconSpeedometer />
      </ButtonMDI>
    </div>
    <div class="border-bottom">
      <TitleControl text="packagesEditWordTitleTags" />
      <div class="flex-row flex-wrap gap-column-small gap-row-small margin-bottom-medium padding-lr-small">
        <TheTag v-for="(tag, index) in newWordData.tags" class="clickable" :text="tag[savestate.app.lang]"
                :color="tag.color" :key="index" @click="removeTag(index)" has-delete />
        <div v-show="newWordData.tags.length === 0" class="text">
          {{ getText('packagesEditWordNoTags') }}
        </div>
      </div>
      <ButtonBasic class="width-full single-3" text="packagesEditWordTitleNewTag" icon="plus" color="green"
                   @click="showModal()" />
    </div>
    <div class="flex-grow overflow-auto padding-top-medium">
      <InputWithNButtons :class="{ 'border-bottom': newWordData.languageTranslations[data.lang].length - 1 === data.index }"
                         class="margin-bottom-medium" v-for="(data, index) in langTranslations"
                         :title="data.lang" type="text" :colors-button="data.colors" icon-input="font"
                         :icons-button="data.icons" v-model="newWordData.languageTranslations[data.lang][data.index]"
                         no-focus :key="index" @click="changeInputAmount(data.lang, data.index, $event)" />
      <InputWithNButtons :class="{ 'border-bottom': newWordData.latinAlphabet.length - 1 === index }"
                         class="margin-bottom-medium" v-for="(_, index) in newWordData.latinAlphabet"
                         :title="targetLanguageData.latinAlphabet" type="text" icon-input="globe"
                         :colors-button="getButtonColors('latin', index)" :icons-button="getButtonIcons('latin', index)"
                         v-model="newWordData.latinAlphabet[index]" no-focus :key="index"
                         @click="changeInputAmount('latin', index, $event)" />
      <div v-for="(word, index) in newWordData.foreignAlphabet"
           :class="{ 'border-bottom': newWordData.foreignAlphabet.length - 1 === index }" class="margin-bottom-medium"
           :key="index">
        <InputWithNButtons :title="targetLanguageData.foreignAlphabet" type="text" icon-input="globe"
                           :colors-button="getButtonColors('foreign', index)"
                           :icons-button="getButtonIcons('foreign', index)"
                           :model-value="newWordData.foreignAlphabet[index]"
                           no-focus @update:model-value="onForeignInput(index, $event)"
                           @click="changeInputAmount('foreign', index, $event)" />
        <div v-show="appDyn.packages.wordpack?.targetLanguage === 'japanese' && newWordData.usesPitch[index]"
             class="pitch-accent flex-row overflow-auto margin-bottom-small" :class="getSizeClass('general')">
          <Icon icon="pitch-accent" />
          <div v-for="(letter, letterIndex) in word" class="flex-row" :key="letterIndex">
            <div class="letter">
              <div class="top-marker"
                   :class="{ 'hidden': !newWordData.pitchAccents[index][letterIndex], 'first': letterIndex === 0 }"></div>
              <ButtonText :text="letter" color="action" @click="togglePitchAccent(index, letterIndex)" />
              <div class="bottom-marker"
                   :class="{ 'hidden': newWordData.pitchAccents[index][letterIndex], 'first': letterIndex === 0 }"></div>
            </div>
            <div class="divider" :class="getDividerClass(index, letterIndex)"></div>
          </div>
          <div class="letter last flex-column">
            <div class="top-marker last" :class="{ 'hidden': !newWordData.pitchAccents[index][word.length] }"></div>
            <ButtonText text="・・・" color="action" @click="togglePitchAccent(index, word.length)" />
            <div class="bottom-marker last" :class="{ 'hidden': newWordData.pitchAccents[index][word.length] }"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-half" icon="times" color="red" text="packagesEditWordButton2"
                   @click="navTo('packagesEditCategories')" />
      <ButtonBasic class="navigation width-half" icon="check" color="green" text="packagesEditWordButton1"
                   @click="saveWord()" />
    </div>
    <Teleport to="#modal-dest">
      <ModalSlot :visible="modalVisible" title="packagesEditWordModalTitle" color="green-dark" :buttons="modalButtons"
                  @click="handleModal($event)">
        <div class="flex-row margin-top-medium margin-bottom-medium">
          <ButtonBasic class="width-third" :class="{ 'single-2': currentNewTagType === 0 }"
                      text="packagesEditWordModalInput" color="action" @click="setNewTagType(0)" />
          <ButtonBasic class="width-third" :class="{ 'single-2': currentNewTagType === 1 }"
                      text="packagesEditWordModalSameWordpack" color="action" @click="setNewTagType(1)" />
          <ButtonBasic class="width-third" :class="{ 'single-2': currentNewTagType === 2 }"
                      text="packagesEditWordModalAllWordpacks" color="action" @click="setNewTagType(2)" />
        </div>
        <div v-show="currentNewTagType === 0" class="margin-bottom-medium">
          <InputBasic v-for="lang in supportedLanguages" class="border-bottom-modal margin-bottom-medium"
                      :title="getText('packagesEditWordModalNewTagTitle', lang)"
                      type="text" icon="tag" no-focus v-model="newTagNames[lang]" />
          <div class="flex-row flex-wrap flex-center gap-column-small gap-row-small margin-bottom-medium">
            <div v-for="color in appConst.tagColors" class="color-selection flex-row flex-center"
                :class="[color, getSizeClass('general')]" :key="color" @click="selectColor(color)">
              <Icon v-show="selectedColor === color" icon="check" color="background" />
            </div>
          </div>
        </div>
        <div v-show="currentNewTagType === 1" class="tag-selection margin-bottom-medium"
             :class="getSizeClass('general')">
          <div v-if="additionalTags.same.length > 0"
               class="tags flex-row flex-wrap gap-column-small gap-row-small flex-center margin-lr-medium flex-align-start">
            <TheTag v-for="(tag, index) in additionalTags.same" class="clickable"
                    :text="tag[savestate.app.lang]" :color="tag.color" :key="index"
                    @click="toggleTagSelection('same', tag)" :is-selected="isTagSelected('same', tag)" />
          </div>
          <div v-else class="text flex-row flex-center padding-lr-small">
            {{ getText('packagesEditWordModalSameWordpackNoTags') }}
          </div>
        </div>
        <div v-show="currentNewTagType === 2" class="tag-selection margin-bottom-medium"
             :class="getSizeClass('general')">
          <div v-if="additionalTags.all.length > 0"
               class="tags flex-row flex-wrap gap-column-small gap-row-small flex-center margin-lr-medium flex-align-start">
            <TheTag v-for="(tag, index) in additionalTags.all" class="clickable"
                    :text="tag[savestate.app.lang]" :color="tag.color" :key="index"
                    @click="toggleTagSelection('all', tag)" :is-selected="isTagSelected('all', tag)" />
          </div>
          <div v-else class="text flex-row flex-center padding-lr-small">
            {{ getText('packagesEditWordModalAllWordpacksNoTags') }}
          </div>
        </div>
      </ModalSlot>
    </Teleport>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, reactive, ref, nextTick } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'

import TheHero from '@/components/TheHero.vue'
import TitleControl from '@/components/TitleControl.vue'
import InputBasic from '@/components/InputBasic.vue'
import InputWithNButtons from '@/components/InputWithNButtons.vue'
import Icon from '@/components/Icon.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonText from '@/components/ButtonText.vue'
import ButtonMDI from '@/components/ButtonMDI.vue'
import TheTag from '@/components/TheTag.vue'
import ModalSlot from '@/components/ModalSlot.vue'

import MDIIconSpeedometerSlow from '@/components/MDIIconSpeedometerSlow.vue'
import MDIIconSpeedometerMedium from '@/components/MDIIconSpeedometerMedium.vue'
import MDIIconSpeedometer from '@/components/MDIIconSpeedometer.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useIndexedDBStore } from '@/stores/indexeddb'

import { Notification } from '@/objects/notification.js'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const indexedDBStore = useIndexedDBStore()

onBeforeRouteLeave((to, from) => {
  appDyn.packages.wordIndex = -1
})

onBeforeMount(() => {
  if (!appDyn.packages.wordpack) {
    navTo('packages')
    return
  }
  if (appDyn.packages.wordIndex >= 0) {
    const wordData = appDyn.packages.wordpack.categories.find(
      category => category.index === appDyn.packages.categoryIndex
    ).words[appDyn.packages.wordIndex]
    newWordData.difficulty = wordData.difficulty
    if (Object.hasOwn(wordData, 'tags')) {
      newWordData.tags = wordData.tags.map(tagIndex => {
        return appDyn.packages.wordpack.tags[tagIndex]
      })
    }
    for (let lang of supportedLanguages.value) {
      if (!Object.hasOwn(wordData, lang)) {
        newWordData.languageTranslations[lang] = ['']
      } else if (!Array.isArray(wordData[lang])) {
        newWordData.languageTranslations[lang] = [wordData[lang]]
      } else {
        newWordData.languageTranslations[lang] = JSON.parse(JSON.stringify(wordData[lang]))
      }
      newTagNames[lang] = ''
    }
    if (!Array.isArray(wordData[targetLanguageData.value.latinAlphabet])) {
      newWordData.latinAlphabet[0] = wordData[targetLanguageData.value.latinAlphabet]
    } else {
      newWordData.latinAlphabet = JSON.parse(JSON.stringify(wordData[targetLanguageData.value.latinAlphabet]))
    }
    if (targetLanguageData.value.foreignAlphabet !== '') {
      if (!Array.isArray(wordData[targetLanguageData.value.foreignAlphabet])) {
        newWordData.foreignAlphabet[0] = wordData[targetLanguageData.value.foreignAlphabet]
      } else {
        newWordData.foreignAlphabet = JSON.parse(JSON.stringify(wordData[targetLanguageData.value.foreignAlphabet]))
      }
    } else {
      newWordData.foreignAlphabet = []
    }

    if (Object.hasOwn(wordData, 'usesPitch')) {
      let pitchAccents = []
      let pitchIndex = 0
      for (let i = 0; i < wordData.usesPitch.length; i++) {
        if (wordData.usesPitch[i]) {
          pitchAccents.push(wordData.pitchAccents[pitchIndex])
          pitchIndex += 1
        } else {
          let pitches = []
          pitches.length = newWordData.foreignAlphabet[i].length + 1
          pitches.fill(false)
          pitchAccents.push(pitches)
        }
      }
      newWordData.usesPitch = wordData.usesPitch
      newWordData.pitchAccents = pitchAccents
    } else {
      newWordData.usesPitch = []
      newWordData.pitchAccents = []
      for (let word of newWordData.foreignAlphabet) {
        newWordData.usesPitch.push(false)
        let pitches = []
        pitches.length = word.length + 1
        pitches.fill(false)
        newWordData.pitchAccents.push(pitches)
      }
    }
  } else {
    for (let lang of supportedLanguages.value) {
      newWordData.languageTranslations[lang] = ['']
      newTagNames[lang] = ''
    }
    if (targetLanguageData.value.foreignAlphabet === '') {
      newWordData.foreignAlphabet = []
    }
  }
})

const title = computed(() => {
  if (appDyn.packages.wordIndex >= 0) {
    return 'packagesEditWordTitleEdit'
  }
  return 'packagesEditWordTitleNew'
})

function isDifficultySelected (difficulty) {
  return newWordData.difficulty === difficulty
}

function setDifficulty (difficulty) {
  resetNotifications()
  newWordData.difficulty = difficulty
}

const targetLanguageData = computed(() => {
  if (appDyn.packages.wordpack) {
    return appConst.targetLanguages[appDyn.packages.wordpack.targetLanguage]
  }
  return appConst.targetLanguages.japanese
})

const supportedLanguages = computed(() => {
  if (appDyn.packages.wordpack) {
    return appDyn.packages.wordpack.supportedLanguages
  }
  return []
})

const newWordData = reactive({
  latinAlphabet: [''],
  foreignAlphabet: [''],
  difficulty: 1,
  languageTranslations: {},
  tags: [],
  usesPitch: [false],
  pitchAccents: [[]]
})

const langTranslations = computed(() => {
  let langT = []
  for (let lang of supportedLanguages.value) {
    let translations = newWordData.languageTranslations[lang]
    for (let i = 0; i < translations.length; i++) {
      if (i === translations.length - 1 && translations.length > 1) {
        langT.push({
          lang,
          index: i,
          colors: ['green', 'red'],
          icons: ['plus', 'times']
        })
      } else if (translations.length === 1) {
        langT.push({
          lang,
          index: i,
          colors: ['green'],
          icons: ['plus']
        })
      } else {
        langT.push({
          lang,
          index: i,
          colors: ['red'],
          icons: ['times']
        })
      }
    }
  }
  return langT
})

function getButtonColors (type, index) {
  let colors = []
  if (type === 'foreign') {
    colors.push('action')
  }
  if (newWordData[`${type}Alphabet`].length === 1) {
    colors.push('green')
  } else if (newWordData[`${type}Alphabet`].length - 1 === index) {
    colors.push('green', 'red')
  } else {
    colors.push('red')
  }

  return colors
}

function getButtonIcons (type, index) {
  let icons = []
  if (type === 'foreign') {
    if (newWordData.usesPitch[index]) {
      icons.push('pitch-accent')
    } else {
      icons.push('no-pitch-accent')
    }
  }
  if (newWordData[`${type}Alphabet`].length === 1) {
    icons.push('plus')
  } else if (newWordData[`${type}Alphabet`].length - 1 === index) {
    icons.push('plus', 'times')
  } else {
    icons.push('times')
  }

  return icons
}

function changeInputAmount (type, inputIndex, buttonIcon) {
  if (supportedLanguages.value.includes(type)) {
    switch (buttonIcon) {
      case 'plus': // new
        newWordData.languageTranslations[type].push('')
        break
      case 'times': // delete
        newWordData.languageTranslations[type].splice(inputIndex, 1)
        break
      default:
    }
  } else {
    switch (buttonIcon) {
      case 'plus': // new
        newWordData[`${type}Alphabet`].push('')
        if (type === 'foreign') {
          if (appDyn.packages.wordpack.targetLanguage === 'japanese') {
            newWordData.pitchAccents.push([])
            newWordData.usesPitch.push(false)
          }
        }
        break
      case 'times': // delete
        newWordData[`${type}Alphabet`].splice(inputIndex, 1)
        if (type === 'foreign') {
          if (appDyn.packages.wordpack.targetLanguage === 'japanese') {
            newWordData.pitchAccents.splice(inputIndex, 1)
            newWordData.usesPitch.splice(inputIndex, 1)
          }
        }
        break
      case 'no-pitch-accent':
        newWordData.usesPitch[inputIndex] = true
        break
      case 'pitch-accent':
        newWordData.usesPitch[inputIndex] = false
      default:
    }
  }
}

function onForeignInput (index, value) {
  newWordData.foreignAlphabet[index] = value
  if (appDyn.packages.wordpack.targetLanguage === 'japanese') {
    newWordData.pitchAccents[index].length = value.length + 1
    newWordData.pitchAccents[index] = newWordData.pitchAccents[index].map(val => val ? true : false)
  }
}

function togglePitchAccent (index, letterIndex) {
  newWordData.pitchAccents[index][letterIndex] = !newWordData.pitchAccents[index][letterIndex]
}

function getDividerClass (index, letterIndex) {
  const valLeft = newWordData.pitchAccents[index][letterIndex]
  const valRight = newWordData.pitchAccents[index][letterIndex + 1]
  if (!!valLeft === !!valRight) {
    return valLeft ? 'top' : 'bottom'
  }
  return valLeft ? 'top-bottom' : 'bottom-top'
}

const modalVisible = ref(false)
const modalButtons = reactive([
  {
    icon: 'times',
    text: 'packagesEditWordModalAbort',
    color: 'red'
  },
  {
    icon: 'check',
    text: 'packagesEditWordModalAdd',
    color: 'green'
  }
])
function showModal () {
  modalVisible.value = true
}

function hideModal () {
  modalVisible.value = false
}

function handleModal (buttonId) {
  switch (buttonId) {
    case 'button1':
      hideModal()
      break
    case 'button2':
      addTag()
      break
    default:
      hideModal()
  }
}

const currentNewTagType = ref(0)
const newTagNames = reactive({})
const selectedColor = ref('green')
const tagMultiSelection = reactive({
  same: [],
  all: []
})
const additionalTags = computed(() => {
  let obj = {
    same: [],
    all: []
  }
  if (Object.hasOwn(appDyn.packages.wordpack, 'tags')) {
    for (let packTag of appDyn.packages.wordpack.tags) {
      let found = false
      for (let wordTag of newWordData.tags) {
        let isSame = true
        for (let key in packTag) {
          if (Object.hasOwn(packTag, key) && packTag[key] !== wordTag[key]) {
            isSame = false
            break
          }
        }
        if (isSame) {
          found = true
          break
        }
      }
      if (!found) {
        obj.same.push(packTag)
      }
    }
  }


  for (let pack of appConst.vocabulary) {
    if (Object.hasOwn(pack, 'tags') && pack.targetLanguage === appDyn.packages.wordpack.targetLanguage &&
        pack.supportedLanguages.length === appDyn.packages.wordpack.supportedLanguages.length &&
        appConst.getWordpackKey(pack) !== appDyn.packages.wordpackKey && pack.index >= 0 &&
        pack.index !== -appDyn.packages.wordpack.index) {
      let isNotCompatible = false
      for (let suppLang of pack.supportedLanguages) {
        if (!appDyn.packages.wordpack.supportedLanguages.includes(suppLang)) {
          isNotCompatible = true
          break
        }
      }
      if (isNotCompatible) {
        continue
      }

      for (let packTag of pack.tags) {
        let found = false
        for (let wordTag of newWordData.tags) {
          let isSame = true
          for (let key in packTag) {
            if (Object.hasOwn(packTag, key) && packTag[key] !== wordTag[key]) {
              isSame = false
              break
            }
          }
          if (isSame) {
            found = true
            break
          }
        }
        if (found) {
          continue
        }
        for (let wordTag of obj.all) {
          let isSame = true
          for (let key in packTag) {
            if (Object.hasOwn(packTag, key) && packTag[key] !== wordTag[key]) {
              isSame = false
              break
            }
          }
          if (isSame) {
            found = true
            break
          }
        }
        if (!found) {
          obj.all.push(packTag)
        }
      }
    }
  }

  obj.same.sort((tag1, tag2) => {
    if (tag1[savestate.app.lang].toLowerCase() > tag2[savestate.app.lang].toLowerCase()) {
      return 1
    } else if (tag1[savestate.app.lang].toLowerCase() < tag2[savestate.app.lang].toLowerCase()) {
      return -1
    }
    return 0
  })
  obj.all.sort((tag1, tag2) => {
    if (tag1[savestate.app.lang].toLowerCase() > tag2[savestate.app.lang].toLowerCase()) {
      return 1
    } else if (tag1[savestate.app.lang].toLowerCase() < tag2[savestate.app.lang].toLowerCase()) {
      return -1
    }
    return 0
  })

  return obj
})
function setNewTagType (type) {
  resetNotifications()
  currentNewTagType.value = type
}

function selectColor (newColor) {
  selectedColor.value = newColor
}

function addTag () {
  if (currentNewTagType.value === 0) {
    let hasAllLangs = true
    for (let lang in newTagNames) {
      if (newTagNames[lang] === '') {
        hasAllLangs = false
      }
    }
    if (hasAllLangs) {
      let newTag = {}
      for (let lang in newTagNames) {
        newTag[lang] = newTagNames[lang].trim()
        newTagNames[lang] = ''
      }
      newTag.color = selectedColor.value
      selectedColor.value = 'green'
      newWordData.tags.push(newTag)
      hideModal()
      if (appDyn.notifications.length > 0) {
        resetNotifications()
      }
    } else {
      addNotification('addTag')
    }
  } else if (currentNewTagType.value === 1 && tagMultiSelection.same.length > 0) {
    for (let tag of tagMultiSelection.same) {
      newWordData.tags.push(tag)
    }
    tagMultiSelection.same = []
    hideModal()
  } else if (currentNewTagType.value === 2 && tagMultiSelection.all.length > 0) {
    for (let tag of tagMultiSelection.all) {
      newWordData.tags.push(tag)
    }
    tagMultiSelection.all = []
    hideModal()
  }
}

function removeTag (index) {
  newWordData.tags.splice(index, 1)
}

function toggleTagSelection (type, tagData) {
  let foundIndex = tagMultiSelection[type].findIndex(tag => {
    for (let key in tag) {
      if (tag[key] !== tagData[key]) {
        return false
      }
    }
    return true
  })
  if (foundIndex === -1) {
    tagMultiSelection[type].push(tagData)
  } else {
    tagMultiSelection[type].splice(foundIndex, 1)
  }
}

function isTagSelected (type, tagData) {
  let foundIndex = tagMultiSelection[type].findIndex(tag => {
    for (let key in tag) {
      if (tag[key] !== tagData[key]) {
        return false
      }
    }
    return true
  })
  if (foundIndex === -1) {
    return false
  }
  return true
}

function saveWord () {
  let emptyField = false
  if (targetLanguageData.value.foreignAlphabet !== '') {
    for (let word of newWordData.foreignAlphabet) {
      if (word === '') {
        emptyField = true
        break
      }
    }
  } else {
    for (let word of newWordData.latinAlphabet) {
      if (word === '') {
        emptyField = true
        break
      }
    }
  }

  for (let lang of supportedLanguages.value) {
    for (let word of newWordData.languageTranslations[lang]) {
      if (word === '') {
        emptyField = true
        break
      }
    }
  }
  if (emptyField) {
    addNotification()
    return
  }

  let wordObject = {
    difficulty: newWordData.difficulty
  }
  if (newWordData.tags.length > 0) {
    let mappedTags = []
    for (let tag of newWordData.tags) {
      if (Object.hasOwn(appDyn.packages.wordpack, 'tags')) {
        let foundSameTag = false
        for (let i = 0; i < appDyn.packages.wordpack.tags.length; i++) {
          let packTag = appDyn.packages.wordpack.tags[i]
          let isSame = true
          for (let tagKey in packTag) {
            if (packTag[tagKey] !== tag[tagKey]) {
              isSame = false
              break
            }
          }
          if (isSame) {
            foundSameTag = true
            mappedTags.push(i)
            break
          }
        }
        if (!foundSameTag) {
          appDyn.packages.wordpack.tags.push(tag)
          mappedTags.push(appDyn.packages.wordpack.tags.length - 1)
        }
      } else {
        appDyn.packages.wordpack.tags = [tag]
        mappedTags.push(0)
      }
    }
    wordObject.tags = mappedTags
  }

  for (let lang of supportedLanguages.value) {
    if (newWordData.languageTranslations[lang].length === 1) {
      wordObject[lang] = newWordData.languageTranslations[lang][0].trim()
    } else {
      wordObject[lang] = newWordData.languageTranslations[lang].map(word => word.trim())
    }
  }
  if (newWordData.latinAlphabet.length === 1) {
    wordObject[targetLanguageData.value.latinAlphabet] = newWordData.latinAlphabet[0].trim()
  } else {
    wordObject[targetLanguageData.value.latinAlphabet] = newWordData.latinAlphabet.map(word => word.trim())
  }
  if (targetLanguageData.value.foreignAlphabet !== '') {
    if (newWordData.foreignAlphabet.length === 1) {
      wordObject[targetLanguageData.value.foreignAlphabet] = newWordData.foreignAlphabet[0].trim()
    } else {
      wordObject[targetLanguageData.value.foreignAlphabet] = newWordData.foreignAlphabet.map(word => word.trim())
    }
  }

  if (appDyn.packages.wordpack.targetLanguage === 'japanese') {
    let pitchAccents = []
    for (let i = 0; i < newWordData.usesPitch.length; i++) {
      if (newWordData.usesPitch[i]) {
        pitchAccents.push(newWordData.pitchAccents[i])
      }
    }

    if (pitchAccents.length > 0) {
      wordObject.usesPitch = newWordData.usesPitch
      wordObject.pitchAccents = pitchAccents
    }
  }
  
  let category = appDyn.packages.wordpack.categories.find(category => category.index === appDyn.packages.categoryIndex)
  if (appDyn.packages.wordIndex >= 0) {
    category.words[appDyn.packages.wordIndex] = wordObject
  } else {
    category.words.push(wordObject)
  }
  autosaveWordpack()
  navTo('packagesEditCategories')
  appDyn.packages.changed = true
}

function autosaveWordpack () {
  const foundWordpack = appConst.vocabulary.find(pack => pack.index < 0)
  let wordpackCopy = JSON.parse(JSON.stringify(appDyn.packages.wordpack))
  if (wordpackCopy.index >= 0) {
    wordpackCopy.index = -wordpackCopy.index
  }

  if (foundWordpack) {
    if (foundWordpack.index !== wordpackCopy.index) {
      indexedDBStore.deleteEntry({
        name: 'vocadventuredb',
        store: 'wordpacks',
        key: `c_${foundWordpack.index}`
      })
    } else if (foundWordpack.index === wordpackCopy.index) {
      appConst.deleteWordpack(appDyn.packages.wordpackKey)
    }
  }
  indexedDBStore.saveEntry({
    name: 'vocadventuredb',
    store: 'wordpacks',
    entry: savestate.minifyData('wordpack', wordpackCopy),
    create: true,
    keyPath: 'a'
  })
}

const notificationMode = ref('save') // 'addTag'
const notificationTitle = computed(() => {
  if (notificationMode.value === 'save') {
    return 'packagesEditWordNotificationTitle'
  }
  return 'packagesEditTagsNotificationTitle'
})
const notificationText = computed(() => {
  if (notificationMode.value === 'save') {
    return ['packagesEditWordNotificationText']
  }
  return ['packagesEditTagsNotificationText']
})

function addNotification (mode = 'save') {
  notificationMode.value = mode
  nextTick(() => {
    appDyn.notifications.push(new Notification(
      notificationTitle.value,
      notificationText.value,
      'exclamation',
      'red'
    ))
  })
}

function resetNotifications () {
  appDyn.notifications = []
}

function navTo (destination) {
  router.push({ name: destination })
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
