<template>
  <div class="page">
    <div class="buttons flex-grow flex-column overflow-auto padding-top-large padding-bottom-large">
      <TitleControl text="selectionCountDifficultyTitle" />
      <div class="flex-row margin-bottom-small">
        <ButtonMDI class="width-third" :class="{ 'single-3': isDifficultySelected(1) }" color="green"
                   text="difficulty1" @click="setDifficulty(1)">
          <MDIIconSpeedometerSlow />
        </ButtonMDI>
        <ButtonMDI class="width-third" :class="{ 'single-3': isDifficultySelected(2) }" color="yellow"
                   text="difficulty2" @click="setDifficulty(2)">
          <MDIIconSpeedometerMedium />
        </ButtonMDI>
        <ButtonMDI class="width-third" :class="{ 'single-3': isDifficultySelected(3) }" color="red"
                   text="difficulty3" @click="setDifficulty(3)">
          <MDIIconSpeedometer />
        </ButtonMDI>
      </div>
      <div class="flex-row margin-bottom-large">
        <ButtonBasic class="width-half" :class="{ 'single-3': !appDyn.includesEasier && !isDifficultySelected(1) }"
                     color="red" icon="minus" text="selectionCountWithoutEasier" :disabled="isDifficultySelected(1)"
                     @click="setIncludesEasier(false)" />
        <ButtonBasic class="width-half" :class="{ 'single-3': appDyn.includesEasier && !isDifficultySelected(1) }"
                     color="green" icon="plus" text="selectionCountWithEasier" :disabled="isDifficultySelected(1)"
                     @click="setIncludesEasier(true)" />
      </div>
      <TheCheckbox v-if="appConst.targetLanguages[savestate.app.targetLanguage].foreignAlphabet !== ''"
                   class="margin-bottom-large" title="selectionCountCheckAlphabetTitle" icon="medal"
                   :text="['selectionCountCheckAlphabet', appConst.targetLanguages[savestate.app.targetLanguage].latinAlphabet]"
                   :active="savestate.app.checkLatinAlphabet" @click="toggleCheckLatinAlphabet()" />
      <TitleControl text="selectionCountAmountTitle" />
      <div class="flex-row flex-wrap margin-bottom-large">
        <ButtonText class="width-third" :class="{ 'single-3': isWordCountSelected(wordCount) }"
                    v-for="wordCount in availableWordCounts" color="action" :text="wordCount" :key="wordCount"
                    @click="setWordCount(wordCount)" />
        <ButtonText v-show="!inputVisible" class="width-full" :class="{ 'single-3': isCustomCountSet }" color="action"
                    :text="customCountText" @click="showInput()" />
        <InputWithButton v-if="inputVisible" class="width-full" v-model="customCount" type="number" color-input="action"
                         color-button="green" icon-input="pen" icon-button="check" :maxlength="4" @click="hideInput()" />
        <ButtonText class="width-full" :class="{ 'single-3': isWordCountSelected(allWordsCount) }" color="action"
                    text="selectionCountAll" @click="setWordCount(allWordsCount)" />
      </div>
      <TitleControl text="selectionCountTagsTitle" />
      <div class="margin-bottom-large">
        <div v-if="tags.length === 0" class="text has-title flex-row" :class="getSizeClass('general')">
          <span class="single-icon wide" :class="getSizeClass('general')">
            <i class="fas fa-tag"></i>
          </span>
          {{ getText('selectionCountNoTags') }}
        </div>
        <div v-else class="flex-row flex-wrap gap-column-small gap-row-small">
          <TheTag color="silver" text="selectionCountWithoutTagsTag"
                  :is-selected="appDyn.tagsSelected.indices.includes(-1)"
                  :is-banned="appDyn.tagsBanned.indices.includes(-1)" @click="toggleTag(-1)" />
          <TheTag v-for="(tag, index) in tags" :color="tag.color" :text="tag[savestate.app.lang]"
                  :is-selected="appDyn.tagsSelected.indices.includes(index)"
                  :is-banned="appDyn.tagsBanned.indices.includes(index)" :key="index" @click="toggleTag(index)" />
        </div>
      </div>
      <TitleControl text="selectionCountReverseTitle" />
      <div class="flex-row">
        <ButtonBasic class="width-half" :class="{ 'single-3': appDyn.reversedType === 1 }" icon="sync-alt"
                     color="action" text="selectionCountReverse" @click="setWordsReversed(1)" />
        <ButtonBasic class="width-half" :class="{ 'single-3': appDyn.reversedType === 2 }" icon="shuffle"
                     color="action" text="selectionCountReverse2" @click="setWordsReversed(2)" />
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-half" icon="arrow-left" color="red" text="selectionButton2"
                   @click="navTo('category', 'adventure')" />
      <ButtonBasic class="navigation width-half" icon="check" color="green" text="selectionButton1"
                   @click="navTo('adventure')" />
    </div>
  </div>
</template>

<script setup>
import { computed, ref, onBeforeMount, onMounted, watch } from 'vue'
import { useRouter, onBeforeRouteLeave } from 'vue-router'

import TitleControl from '@/components/TitleControl.vue'
import ButtonMDI from '@/components/ButtonMDI.vue'
import MDIIconSpeedometerSlow from '@/components/MDIIconSpeedometerSlow.vue'
import MDIIconSpeedometerMedium from '@/components/MDIIconSpeedometerMedium.vue'
import MDIIconSpeedometer from '@/components/MDIIconSpeedometer.vue'
import ButtonText from '@/components/ButtonText.vue'
import InputWithButton from '@/components/InputWithButton.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import TheTag from '@/components/TheTag.vue'
import TheCheckbox from '@/components/TheCheckbox.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'

import { Notification } from '@/objects/notification.js'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()

onBeforeMount(() => {
  if (appDyn.categoriesChosen.length === 0) {
    navTo('category', 'adventure')
  }
})

onMounted(() => {
  let wordCount = appDyn.wordCount
  if (!availableWordCounts.includes(wordCount) && wordCount !== 0 && wordCount !== allWordsCount.value) {
    customCount.value = wordCount.toString()
  }
})

onBeforeRouteLeave((to, from) => {
  if (to.name !== 'adventure') {
    appDyn.tagsSelected.indices = []
    appDyn.tagsSelected.obj = []
    appDyn.tagsBanned.indices = []
    appDyn.tagsBanned.obj = []
  }
})

function isDifficultySelected (difficulty) {
  return appDyn.wordDifficulty === difficulty
}

function setDifficulty (difficulty) {
  if (difficulty !== appDyn.wordDifficulty) {
    appDyn.tagsSelected.indices = []
    appDyn.tagsSelected.obj = []
    appDyn.tagsBanned.indices = []
    appDyn.tagsBanned.obj = []
  }
  appDyn.wordDifficulty = difficulty
  resetNotifications()
}

function setIncludesEasier (newValue) {
  appDyn.includesEasier = newValue
  appDyn.tagsSelected.indices = []
  appDyn.tagsSelected.obj = []
  appDyn.tagsBanned.indices = []
  appDyn.tagsBanned.obj = []
}

function toggleCheckLatinAlphabet () {
  savestate.app.checkLatinAlphabet = !savestate.app.checkLatinAlphabet
  savestate.saveData('checkLatinAlphabet')
}

const availableWordCounts = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 200]
const customCount = ref('')
const inputVisible = ref(false)

const isCustomCountSet = computed(() => {
  return customCount.value !== ''
})

const customCountText = computed(() => {
  return isCustomCountSet.value ? customCount.value : 'selectionCountCustom'
})

const allWordsCount = computed(() => {
  return appConst.getFullVocabs(
    true,
    appDyn.includesEasier,
    appDyn.tagsSelected.indices.length > 0 || appDyn.tagsBanned.indices.length > 0
  ).words.length
})

watch(
  allWordsCount,
  (newValue, oldValue) => {
    if (appDyn.wordCount === oldValue) {
      setWordCount(newValue)
    }
  }
)

function isWordCountSelected (wordCount) {
  if (isCustomCountSet.value) {
    return false
  }
  return appDyn.wordCount === wordCount
}

function setWordCount (wordCount) {
  appDyn.wordCount = wordCount
  customCount.value = ''
  resetNotifications()
}

function showInput () {
  inputVisible.value = true
}

function hideInput () {
  inputVisible.value = false
  if (isCustomCountSet.value) {
    if (parseInt(customCount.value) > 9001) { // it's over 9000
      customCount.value = '9001'
    }
    appDyn.wordCount = parseInt(customCount.value)
  } else {
    if (!availableWordCounts.includes(appDyn.wordCount)) {
      appDyn.wordCount = 0
    }
  }
}

const tags = computed(() => {
  return appConst.getSelectedTags
})

function toggleTag (tagIndex) {
  if (appDyn.tagsSelected.indices.includes(tagIndex)) {
    const index = appDyn.tagsSelected.indices.indexOf(tagIndex)
    if (tagIndex !== -1) {
      appDyn.tagsBanned.obj.push(appDyn.tagsSelected.obj[index])
      appDyn.tagsBanned.indices.push(appDyn.tagsSelected.indices[index])
    }
    appDyn.tagsSelected.obj.splice(index, 1)
    appDyn.tagsSelected.indices.splice(index, 1)
  } else if (appDyn.tagsBanned.indices.includes(tagIndex)) {
    const index = appDyn.tagsBanned.indices.indexOf(tagIndex)
    appDyn.tagsBanned.obj.splice(index, 1)
    appDyn.tagsBanned.indices.splice(index, 1)
  } else {
    appDyn.tagsSelected.indices.push(tagIndex)
    if (tagIndex === -1) {
      appDyn.tagsSelected.obj.push(-1)
    } else {
      appDyn.tagsSelected.obj.push(tags.value[tagIndex])
    }
  }
}

function setWordsReversed (type) {
  if (appDyn.reversedType === type) {
    appDyn.reversedType = 0
  } else {
    appDyn.reversedType = type
  }
}

function addNotification (type = 1) {
  appDyn.notifications.push(new Notification(
    `selectionCountNotificationTitle${type}`,
    [`selectionCountNotificationText${type}`],
    'exclamation',
    'red'
  ))
}

function resetNotifications () {
  appDyn.notifications = []
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (name, params = '') {
  switch (name) {
    case 'category':
      router.push({ name: name, params: { destination: params } })
      break
    case 'adventure':
      if (appDyn.wordCount === 0) {
        addNotification(2)
        return
      }
      const fullVocabs = appConst.getFullVocabs(
        true,
        appDyn.includesEasier,
        appDyn.tagsSelected.indices.length > 0 || appDyn.tagsBanned.indices.length > 0
      )
      if (fullVocabs.words.length === 0) {
        addNotification()
      } else {
        router.push({ name: name })
      }
      break
    default:
  }
}
</script>
