<template>
  <div class="page">
    <div class="flex-grow overflow-auto">
      <DropdownBasic class="single margin-bottom-medium margin-top-medium" title="settingsLanguage" icon="globe"
                     :options="languages" :selected="savestate.app.lang" @change="changeValue('newLanguage', $event)" />
      <DropdownBasic class="single margin-bottom-medium" title="settingsTargetLanguage" icon="user-graduate"
                     :options="targetLanguages" :selected="savestate.app.targetLanguage"
                     @change="changeValue('newTargetLanguage', $event)" />
      <DropdownBasic class="single margin-bottom-medium" title="settingsTheme" icon="palette" :options="themes"
                     :selected="savestate.app.theme" @change="changeValue('newTheme', $event)" />
      <DropdownBasic class="single margin-bottom-medium" title="settingsGame" icon="gamepad" :options="gameTypes"
                     :selected="savestate.game.type" @change="changeValue('newGameType', $event)" />
      <DropdownBasic class="single margin-bottom-medium" title="settingsSize" icon="expand-arrows-alt" :options="sizes"
                     :selected="savestate.app.size" @change="changeValue('newSize', $event)" />
      <TheSlider class="margin-bottom-medium border-bottom-2" title="settingsViewport" :min="0.5" :max="1.2" :step="0.05"
                 v-model="state.newViewport" icon="glasses" />
      <TheSlider class="margin-bottom-medium border-bottom-2" title="settingsVolume" :min="0" :max="100" :step="1"
                 v-model="state.newVolume" icon="volume-up" />
      <DropdownBasic class="single margin-bottom-medium" title="settingsStreakTitle" icon="calendar-days"
                     :options="streakTypes" :selected="savestate.app.streakType"
                     @change="changeValue('newStreakType', $event)" />
      <TheCheckbox class="border-bottom-2 margin-bottom-medium" title="settingsDeactivatedWordsTitle" icon="ban"
                   text="settingsDeactivatedWords" :active="state.newDeactivateWordsAdventure"
                   @click="changeValue('newDeactivateWordsAdventure', !state.newDeactivateWordsAdventure)" />
      <TheCheckbox class="border-bottom-2 margin-bottom-medium" title="settingsUpdateTitle" icon="download"
                   text="settingsUpdate" :active="state.newAllowUpdates"
                   @click="changeValue('newAllowUpdates', !state.newAllowUpdates)" />
      <ButtonBasic class="single-2 width-full margin-bottom-large" color="info" icon="tasks"
                   text="settingsButtonWordpacks" @click="navTo('packages')" />
      <ButtonBasic class="single-2 width-full margin-bottom-large" color="info-2" icon="rectangle-list"
                   text="settingsButtonCredits" @click="navTo('credits')" />
      <ButtonBasic class="single-2 width-full margin-bottom-medium" color="red" icon="trash" text="settingsButtonDelete"
                   @click="showModal()" />
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-half" color="red" icon="arrow-left" text="settingsButton2"
                   @click="navTo('menu')" />
      <ButtonBasic class="navigation width-half" color="green" icon="floppy-disk" text="settingsButton1"
                   @click="submitChanges()" />
    </div>
  </div>
</template>

<script setup>
import { computed, reactive } from 'vue'
import { useRouter } from 'vue-router'

import DropdownBasic from '@/components/DropdownBasic.vue'
import TheSlider from '@/components/TheSlider.vue'
import TheCheckbox from '@/components/TheCheckbox.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppConstStore } from '@/stores/appconst'
import { useAppDynStore } from '@/stores/appdyn'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()

const state = reactive({
  newLanguage: savestate.app.lang,
  newTargetLanguage: savestate.app.targetLanguage,
  newTheme: savestate.app.theme,
  newGameType: savestate.game.type,
  newSize: savestate.app.size,
  newViewport: savestate.app.viewport,
  newVolume: savestate.app.volume,
  newStreakType: savestate.app.streakType,
  newDeactivateWordsAdventure: savestate.app.deactivateWordsAdventure,
  newAllowUpdates: savestate.app.allowUpdates
})

const languages = computed(() => {
  return Object.keys(appConst.texts).map(lang => {
    return {
      key: lang,
      value: appConst.texts[lang][lang]
    }
  })
})
const targetLanguages = computed(() => {
  return Object.keys(appConst.targetLanguages)
})
const themes = computed(() => {
  return Object.keys(appConst.themes)
})
const gameTypes = computed(() => {
  return ['adventure', 'balloons', 'noGame']
})
const sizes = computed(() => {
  return Object.keys(appConst.sizeClasses.general)
})
const streakTypes = computed(() => {
  return ['streakAllDays', 'streakSuccessiveDays']
})

function changeValue (type, value) {
  state[type] = value
}

function submitChanges () {
  savestate.app.lang = state.newLanguage
  savestate.app.targetLanguage = state.newTargetLanguage
  savestate.changeTheme(state.newTheme)
  savestate.game.type = state.newGameType
  savestate.app.size = state.newSize
  savestate.changeViewport(state.newViewport)
  savestate.app.volume = state.newVolume
  savestate.changeStreakType(state.newStreakType)
  savestate.app.deactivateWordsAdventure = state.newDeactivateWordsAdventure
  savestate.changeAllowUpdates(state.newAllowUpdates)
  savestate.saveData()
  navTo('menu')
}

function showModal () {
  appDyn.activeModal = { name: 'areYouSure' }
}

function navTo (name) {
  switch (name) {
    case 'packages':
      appDyn.packagesDestination = 'settings'
      break
    default:
  }
  router.push({ name: name })
}
</script>
