<template>
  <div class="page">
    <div class="flex-column margin-top-mini margin-bottom-mini margin-left-mini">
      <TheTag class="margin-bottom-mini" :text="appConst.getCategoryName(currentWord.categoryKey)" color="info-2" />
      <TheTag class="margin-bottom-mini" :text="'difficulty' + currentWord.difficulty" color="info-2" />
      <TheTag :text="currentWord[savestate.app.lang]" color="info-2" />
    </div>
    <div class="flex-column flex-grow flex-center relative"
         @mousedown="startDraw($event, 'mouse')" @mouseup="endDraw($event, 'mouse')"
         @touchstart="startDraw($event, 'touch')" @touchend="endDraw($event, 'touch')">
      <transition leave-active-class="animate__animated animate__slideOutLeft duration-c-500ms delay-c-200ms">
        <div v-square v-show="!resultVisible" data-y="14" class="write-kanji width-full height-full"
             :class="getSizeClass('general')">
          <transition leave-active-class="animate__animated slide-zoom-out-left-custom duration-c-1s animation-timing-ease-in"
                      enter-active-class="animate__animated slide-zoom-in-right-custom duration-c-1s animation-timing-ease-out"
                      @after-leave="increaseNumber()" @after-enter="startAnimation()">
            <div v-show="canvasVisible" class="draw-area animate__animated duration-c-800ms"
                :class="{ 'animate__shakeX': canvasSettings.wrongStrokeActive }">
              <div class="background width-full height-full">
                <div class="top left has-alpha"></div>
                <div class="top right has-alpha"></div>
                <div class="bottom left has-alpha"></div>
                <div class="bottom right has-alpha"></div>
              </div>
              <svg v-fullsize id="kanaSvg2" class="svg"></svg>
              <canvas v-fullsize ref="kanaCanvas" class="canvas" @mousemove="drawLine($event, 'mouse')"
                      @touchmove="drawLine($event, 'touch')"></canvas>
            </div>
          </transition>
          <div v-show="numbersVisible" class="numbers flex-row">
            <div class="entry flex-column width-half flex-center animate__animated duration-c-500ms"
                  :class="{ 'pulse-custom': highlightNumber }">
              <div class="title">
                {{ getText('writeKanjiPracticeDrawAmount') }}
              </div>
              <div class="amount">
                {{ drawAmount }} / 3
              </div>
            </div>
            <div class="entry flex-column width-half flex-center">
              <div class="title">
                {{ getText('writeKanjiPracticeStrokeNumber') }}
              </div>
              <div class="amount">
                {{ canvasSettings.strokeCount }} / {{ kanaSvgPaths.length }}
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div class="absolute width-full height-full padding-top-medium">
        <transition enter-active-class="animate__animated animate__slideInRight duration-c-500ms delay-c-300ms">
          <div v-if="resultVisible" class="write-kanji-result flex-column" :class="getSizeClass('general')">
            <div class="flex-grow flex-column flex-center">
              <div class="title margin-bottom-giga">
                {{ getText('writeKanjiPracticeResultTitle') }}
              </div>
              <transition-group v-square tag="div" class="results width-full height-full"
                                enter-active-class="animate__animated animate__fadeInRight duration-c-2s">
                <div v-for="i in resultAmount" class="result-canvas" :class="'no' + i" :key="i">
                  <div class="background width-full height-full">
                    <div class="top left"></div>
                    <div class="top right"></div>
                    <div class="bottom left"></div>
                    <div class="bottom right"></div>
                  </div>
                  <canvas class="width-full height-full" ref="resultCanvas"></canvas>
                </div>
                <div v-for="i in resultAmount" class="result-text flex-column flex-center" :class="'no' + i"
                     :key="i + 'text'">
                  <div class="title">
                    {{ getText('writeKanjiPracticeResultAccuracy') }}
                  </div>
                  <div class="percentage">
                    {{ lineAccuracies[i - 1]?.toFixed(2) || 0 }}%
                  </div>
                </div>
              </transition-group>
            </div>
            <TheProgressBar class="border-top" :color="progressBarColor" :value="progressBarValue" :maxValue="100"
                            :text="`${progressBarValue}% - ${progressBarRating}`" />
          </div>

        </transition>
      </div>
    </div>
    <div class="button-container">
      <ButtonBasic class="navigation width-full" icon="arrow-left" color="red" text="writeKanjiPracticeButton1"
                   @click="navTo()" />
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, onMounted, reactive, ref, watch } from 'vue'
import { useRouter } from 'vue-router'

import TheTag from '@/components/TheTag.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import TheProgressBar from '@/components/TheProgressBar.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'

import * as Helper from '@/canvas/helper.js'
import Kana from '@/data/special/kana.json'

const router = useRouter()
const savestate = useSavestateStore()
const appConst = useAppConstStore()
const appDyn = useAppDynStore()

onBeforeMount(() => {
  if (appDyn.categoriesChosen.length === 0) {
    navTo('error')
  } else {
    const computedStyle = getComputedStyle(document.body)
    const color = computedStyle.color.replaceAll(/(.*\(|\)| )/g, '').split(',')
    const backgroundColor = computedStyle.backgroundColor.replaceAll(/(.*\(|\)| )/g, '').split(',')
    const shadowColor = [
      parseInt(color[0]) + (parseInt(backgroundColor[0]) - parseInt(color[0])) * 0.5,
      parseInt(color[1]) + (parseInt(backgroundColor[1]) - parseInt(color[1])) * 0.5,
      parseInt(color[2]) + (parseInt(backgroundColor[2]) - parseInt(color[2])) * 0.5
    ]
    canvasSettings.color = `rgb(${color[0]}, ${color[1]}, ${color[2]})`
    canvasSettings.shadowColor = `rgb(${shadowColor[0]}, ${shadowColor[1]}, ${shadowColor[2]})`
    getSvgPaths()
  }
})

onMounted(() => {
  if (kanaCanvas.value) {
    canvasSettings.context = kanaCanvas.value.getContext('2d')
    canvasSettings.width = Math.floor(kanaCanvas.value.getAttribute('width') / 36)
    canvasSettings.scaleFactor = kanaCanvas.value.getAttribute('width') / 109
    canvasSettings.scaleMatrix = Snap.matrix().scale(canvasSettings.scaleFactor)
  }
  kanaSnap.value = new Snap('#kanaSvg2')
  if (kanaSvgPaths.value.length > 0) {
    startAnimation()
  }
})

const checkConstants = reactive({
  lengthDifference: 0.5, // will be multiplied with the length of the stroke to define the allowed difference
  pointDistInPx: 20, // distance of a control point from the stroke in original scale
  maxAccDist: 20, // the distance of all controlpoints, accumulated
  maxAvgDistInPx: 15,
  amountPointsInReverse: 0.2, // 
  amountMinPointsInReverse: 6
})

const words = computed(() => {
  if (appDyn.writeKanji.selectedTab === 0) {
    let newVocabs = appConst.getFullVocabs(false)
    let newWordsObj = {}
    for (let word of newVocabs.words) {
      if (!Object.hasOwn(newWordsObj, word.categoryKey)) {
        newWordsObj[word.categoryKey] = []
      }
      newWordsObj[word.categoryKey].push(word)
    }
    newVocabs.words = newWordsObj
    return newVocabs
  } else {
    let newWordsObj = {}
    for (let category of Kana.categories) {
      let categoryName = `[${Kana.tag}] ${category[savestate.app.lang]}`
      newWordsObj[categoryName] = []
      for (let i = 0; i < category.words.length; i++) {
        let wordObj = JSON.parse(JSON.stringify(category.words[i]))
        wordObj.categoryKey = categoryName
        wordObj.index = i
        newWordsObj[categoryName].push(wordObj)
      }
    }
    return {
      words: newWordsObj,
      mainAlphabet: savestate.app.lang,
      latinAlphabet: 'kana',
      foreignAlphabet: 'kana'
    }
  }
})

const currentWord = computed(() => {
  let selected = appDyn.writeKanji.selectedWord[appDyn.writeKanji.selectedTab]
  if (appDyn.categoriesChosen.length > 0) {
    return words.value.words[selected.categoryKey][selected.index]
  }
  return {}
})

// const currentLetter = computed(() => {
//   if (currentWord.value && Object.hasOwn(currentWord.value, words.value.foreignAlphabet)) {
//     return currentWord.value[words.value.foreignAlphabet][
//       appDyn.writeKanji.selectedLetter[appDyn.writeKanji.selectedTab]
//     ]
//   }
//   return ''
// })

const kanaSnap = ref(null)
const kanaSvgPaths = ref([])
const kanaCodePoint = ref('')

function getSvgPaths () {
  const currentLetter = currentWord.value[words.value.foreignAlphabet][
    appDyn.writeKanji.selectedWord[appDyn.writeKanji.selectedTab].variant
  ][
    appDyn.writeKanji.selectedLetter[appDyn.writeKanji.selectedTab]
  ]
  let codePoint = currentLetter.codePointAt(0).toString(16)
  while (codePoint.length < 5) {
    codePoint = '0' + codePoint
  }
  kanaCodePoint.value = codePoint
  kanaSvgPaths.value = appConst.kanaSvg.selectAll(`path[id*="${codePoint}-s"]`)
}

const animationData = reactive({
  running: false,
  lag: -500,
  startTS: 0,
  refreshrate: 1000 / 60,
  frameNo: 0,
  currentStroke: 0,
  currentStrokeLength: 0,
  reset: () => {
    animationData.running = false
    animationData.lag = 0
    animationData.startTS = 0
    animationData.frameNo = 0
    animationData.currentStroke = 0
    animationData.currentStrokeLength = 0
  }
})

function startAnimation () {
  animationData.running = true
  animationLoop()
}

function animationLoop (timestamp = 0) {
  if (!animationData.running) {
    return
  }

  requestAnimationFrame((newTS) => animationLoop(newTS))
  const timeDiff = timestamp - animationData.startTS
  if (timeDiff > 0 && animationData.startTS > 0) {
    animationData.lag += timeDiff
  }

  while (animationData.lag > animationData.refreshrate) {
    animationData.frameNo += 1

    animationUpdate()

    if (animationData.lag > animationData.refreshrate * 5) {
      animationData.lag %= animationData.refreshrate
    } else {
      animationData.lag -= animationData.refreshrate
    }
  }

  kanaSnap.value.clear()
  animationDraw()

  animationData.startTS = timestamp
}

function animationUpdate () {
  let animSpeed = (savestate.app.writeKanjiAnimationSpeed / 10)
  // only forEach possible, cause Snap Framework is weird or I didn't get it
  kanaSvgPaths.value.forEach((path, index) => {
    if (index === animationData.currentStroke) {
      let negPercentage = 1 - (animationData.currentStrokeLength / path.getTotalLength())
      animationData.currentStrokeLength += Math.min(
        animSpeed,
        animSpeed * Math.pow((negPercentage + 0.5), 2)
      )
      if (path.getTotalLength() <= animationData.currentStrokeLength) {
        addSvgLine(path, animationData.currentStroke)
        animationData.currentStrokeLength = 0
        animationData.currentStroke += 1
        animationData.running = false
      }
      return false // to stop the forEach
    }
  })
}

function animationDraw () {
  kanaSvgPaths.value.forEach((path, index) => {
    if (index < animationData.currentStroke) {
      let newPath = path.clone()
      newPath.transform(canvasSettings.scaleMatrix.toTransformString())
      newPath.attr({
        fill: 'transparent',
        stroke: canvasSettings.shadowColor,
        strokeWidth: 3,
        strokeLinecap: 'round'
      })
      kanaSnap.value.append(newPath)
    } else if (index === animationData.currentStroke && animationData.running) {
      if (animationData.currentStrokeLength > 0) {
        let newPath = kanaSnap.value.path(Snap.path.getSubpath(path, 0, animationData.currentStrokeLength))
        newPath.transform(canvasSettings.scaleMatrix.toTransformString())
        newPath.attr({
          fill: 'transparent',
          stroke: 'rgba(187, 34, 34)',
          strokeWidth: 3,
          strokeLinecap: 'round'
        })
        kanaSnap.value.append(newPath)
      }
      return false // to stop the forEach
    }
  })
}

function addSvgLine (path, pathIndex) {
  if (pathIndex === canvasSettings.svgLines.length) {
    canvasSettings.svgLines.push([])
  } else if (pathIndex < canvasSettings.svgLines.length) {
    canvasSettings.svgLines[pathIndex] = []
  }
  for (let len = 0; len <= path.getTotalLength(); len += 2) {
    let point = path.getPointAtLength(len)
    point.len = len
    canvasSettings.svgLines[pathIndex].push(point)
  }
  const lastPathPoint = path.getPointAtLength(path.getTotalLength())
  const lastArrayPoint = canvasSettings.svgLines[pathIndex][canvasSettings.svgLines[pathIndex].length - 1]
  if (lastPathPoint.x !== lastArrayPoint.x || lastPathPoint.y !== lastArrayPoint.y) {
    lastPathPoint.len = path.getTotalLength()
    canvasSettings.svgLines[pathIndex].push(lastPathPoint)
  }
}

const canvasSettings = reactive({
  context: null,
  color: 'rgb(0, 0, 0)',
  shadowColor: 'rgb(0, 0, 0)',
  width: 1,
  scaleFactor: 1,
  scaleMatrix: null,
  isDrawing: false,
  touchIdentifier: null,
  lastPoint: null,
  invalidTouch: false,
  strokeCount: 1,
  lines: [],
  svgLines: [],
  wrongStrokeActive: false,
  reset: () => {
    canvasSettings.strokeCount = 1
    canvasSettings.lines = []
  }
})
const kanaCanvas = ref(null)

function startDraw (event, type) {
  if (animationData.running) {
    canvasSettings.invalidTouch = true
    return
  }

  canvasSettings.isDrawing = true
  let clientRect = kanaCanvas.value.getBoundingClientRect()
  switch (type) {
    case 'touch':
      for (let touch of event.changedTouches) {
        if (canvasSettings.touchIdentifier === null) {
          canvasSettings.touchIdentifier = touch.identifier
        }
        if (canvasSettings.touchIdentifier === touch.identifier) {
          canvasSettings.lastPoint = {
            x: touch.pageX - clientRect.left,
            y: touch.pageY - clientRect.top
          }
        }
      }
      break
    case 'mouse':
      canvasSettings.lastPoint = {
        x: event.pageX - clientRect.left,
        y: event.pageY - clientRect.top
      }
      break
    default:
      canvasSettings.lastPoint = {
        x: 0,
        y: 0
      }
  }

  if (canvasSettings.lastPoint.x < 0 || canvasSettings.lastPoint.x > clientRect.width ||
      canvasSettings.lastPoint.y < 0 || canvasSettings.lastPoint.y > clientRect.height) {
    endDraw(event, type)
  } else {
    canvasSettings.lines.push([{
      x: canvasSettings.lastPoint.x,
      y: canvasSettings.lastPoint.y
    }])
  }
}

function drawLine (event, type) {
  if (!canvasSettings.isDrawing) {
    return
  }
  
  let pos = { x: 0, y: 0 }
  let clientRect = kanaCanvas.value.getBoundingClientRect()
  switch (type) {
    case 'touch':
      for (let touch of event.changedTouches) {
        if (canvasSettings.touchIdentifier === touch.identifier) {
          pos = {
            x: touch.pageX - clientRect.left,
            y: touch.pageY - clientRect.top
          }
        }
      }
      break
    case 'mouse':
      pos = {
        x: event.pageX - clientRect.left,
        y: event.pageY - clientRect.top
      }
      break
    default:
      pos = { x: 0, y: 0 }
  }
  Helper.drawCanvasLineCustom(
    canvasSettings.lastPoint.x, canvasSettings.lastPoint.y, canvasSettings.color, canvasSettings.width, 'round',
    [], canvasSettings.context, pos.x, pos.y
  )
  canvasSettings.lastPoint = pos
  canvasSettings.lines[canvasSettings.lines.length - 1].push({
    x: canvasSettings.lastPoint.x,
    y: canvasSettings.lastPoint.y
  })
}

function endDraw (event, type) {
  canvasSettings.isDrawing = false
  canvasSettings.lastPoint = null
  canvasSettings.touchIdentifier = null

  if (canvasSettings.invalidTouch) {
    canvasSettings.invalidTouch = false
    return
  }

  if (canvasSettings.lines.length === 0 || canvasSettings.lines.length !== animationData.currentStroke) {
    wrongStrokeAnimation()
    return
  }

  if (canvasSettings.lines[canvasSettings.lines.length - 1].length <= 1) {
    canvasSettings.lines = canvasSettings.lines.slice(0, animationData.currentStroke - 1)
    wrongStrokeAnimation()
    return
  }

  const strokeIndex = animationData.currentStroke - 1
  let newLine = []
  let relationPoint = canvasSettings.lines[strokeIndex][0]
  for (let i = 1; i < canvasSettings.lines[strokeIndex].length; i++) {
      const point = canvasSettings.lines[strokeIndex][i]
      if (i === canvasSettings.lines[strokeIndex].length - 1) {
        newLine.push(relationPoint)
        newLine.push(point)
      } else if (Math.pow(relationPoint.x - point.x, 2) + Math.pow(relationPoint.y - point.y, 2) >= 64) {
        newLine.push(relationPoint)
        relationPoint = point
      }
  }

  canvasSettings.lines[strokeIndex] = newLine

  // canvasSettings.lines[strokeIndex] = canvasSettings.lines[strokeIndex].filter(
  //   (_, index, line) => index % 8 === 0 || index === line.length - 1
  // )

  // const svgStrokeLength = getLineLength('svg', strokeIndex)
  // const drawStrokeLength = getLineLength('draw', strokeIndex)

  // if (Math.abs((drawStrokeLength / canvasSettings.scaleFactor) - svgStrokeLength) > svgStrokeLength * checkConstants.lengthDifference) {
  //   resetLastLine(
  //     'length is too far apart',
  //     Math.abs((drawStrokeLength / canvasSettings.scaleFactor) - svgStrokeLength),
  //     svgStrokeLength * checkConstants.lengthDifference
  //   )
  //   return
  // }

  // let controlPoints = []
  // let strokeLength = 0
  // let pointIndex = 0
  // let accDist = 0
  // let strokeCopy = kanaSvgPaths.value[strokeIndex].clone()
  // for (let len = 0; len <= drawStrokeLength; len += 4 * canvasSettings.scaleFactor) {
  //   let newPoint = null
  //   while (strokeLength < len && pointIndex < canvasSettings.lines[strokeIndex].length - 1) {
  //     pointIndex += 1
  //     const prevPoint = canvasSettings.lines[strokeIndex][pointIndex - 1]
  //     const point = canvasSettings.lines[strokeIndex][pointIndex]
  //     strokeLength += getDist(prevPoint, point)
  //   }
  //   if (strokeLength === len) {
  //     newPoint = {
  //       x: canvasSettings.lines[strokeIndex][pointIndex].x,
  //       y: canvasSettings.lines[strokeIndex][pointIndex].y
  //     }
  //   } else if (strokeLength < len) {
  //     continue
  //   } else {
  //     const prevPoint = canvasSettings.lines[strokeIndex][pointIndex - 1]
  //     const point = canvasSettings.lines[strokeIndex][pointIndex]
  //     const dist = getDist(prevPoint, point)
  //     const xDist = prevPoint.x - point.x
  //     const yDist = prevPoint.y - point.y
  //     const percentage = (strokeLength - len) / dist
  //     newPoint = {
  //       x: point.x + xDist * percentage,
  //       y: point.y + yDist * percentage
  //     }
  //   }

  //   newPoint.x /= canvasSettings.scaleFactor
  //   newPoint.y /= canvasSettings.scaleFactor

  //   Helper.drawCanvasCircleCustom(
  //     newPoint.x * canvasSettings.scaleFactor, newPoint.y * canvasSettings.scaleFactor, 3, '0, 255, 0',
  //     canvasSettings.context
  //   )

  //   const closestPoint = Snap.closestPoint(
  //     strokeCopy,
  //     newPoint.x,
  //     newPoint.y
  //   )
  //   if (closestPoint.distance > checkConstants.pointDistInPx) {
  //     resetLastLine(
  //       'point too far away from line',
  //       closestPoint.distance,
  //       checkConstants.pointDistInPx
  //     )
  //     return
  //   }
  //   controlPoints.push({
  //     x: closestPoint.x,
  //     y: closestPoint.y,
  //     dist: closestPoint.distance,
  //     posOnLine: closestPoint.length,
  //     refX: newPoint.x,
  //     refY: newPoint.y
  //   })
  //   accDist += closestPoint.distance
  // }

  // for (let i = 0; i < controlPoints.length; i++) {
  //   Helper.drawCanvasCircleCustom(
  //     controlPoints[i].x * canvasSettings.scaleFactor, controlPoints[i].y * canvasSettings.scaleFactor, 3, '255, 0, 0',
  //     canvasSettings.context
  //   )
  //   Helper.drawCanvasCircleCustom(
  //     controlPoints[i].refX * canvasSettings.scaleFactor, controlPoints[i].refY * canvasSettings.scaleFactor, 3, '255, 0, 0',
  //     canvasSettings.context
  //   )
  //   Helper.drawCanvasLineCustom(
  //     controlPoints[i].x * canvasSettings.scaleFactor, controlPoints[i].y * canvasSettings.scaleFactor, 'rgb(255, 255, 0)',
  //     2, 'round', [], canvasSettings.context, controlPoints[i].refX * canvasSettings.scaleFactor, controlPoints[i].refY * canvasSettings.scaleFactor
  //   )
  // }

  // if (accDist > controlPoints.length * checkConstants.maxAccDist) {
  //   resetLastLine(
  //     'accumulated distance is too far away',
  //     accDist,
  //     controlPoints.length * checkConstants.maxAccDist
  //   )
  //   return
  // }

  // const avgDist = accDist / controlPoints.length
  // for (let i = 0; i < controlPoints.length; i++) {
  //   if (Math.abs(controlPoints[i].dist - avgDist) > checkConstants.maxAvgDistInPx) {
  //     resetLastLine(
  //       'too far away from the average distance',
  //       Math.abs(controlPoints[i].dist - avgDist),
  //       checkConstants.maxAvgDistInPx
  //     )
  //     return
  //   }
  // }

  // let evenOrLower = 0
  // const limit = Math.max(Math.ceil(controlPoints.length * checkConstants.amountPointsInReverse), checkConstants.amountMinPointsInReverse)
  // for (let i = 0; i < controlPoints.length - 1; i++) {
  //   if (controlPoints[i].posOnLine >= controlPoints[i + 1].posOnLine) {
  //     evenOrLower += 1
  //   } else if (controlPoints[i].posOnLine < controlPoints[i + 1].posOnLine) {
  //     evenOrLower = 0
  //   }

  //   if (evenOrLower > limit) {
  //     resetLastLine(
  //       'too long in the wrong direction',
  //       limit
  //     )
  //     return
  //   }
  // }

  if (animationData.currentStroke < kanaSvgPaths.value.length) {
    canvasSettings.strokeCount += 1
    startAnimation()
  } else {
    drawnLines.push(canvasSettings.lines)
    if (drawAmount.value === 3) {
      resultVisible.value = true
      let intervalId = setInterval(() => {
        if (resultAmount.value < 3) {
          resultAmount.value += 1
        } else {
          clearInterval(intervalId)
        }
      }, 700)
    } else {
      hideCanvas()
    }
  }
}

// function resetLastLine (...reason) {
//   canvasSettings.lines = canvasSettings.lines.slice(0, animationData.currentStroke - 1)
//   redrawCanvas()
//   wrongStrokeAnimation()
//   console.log(...reason)
// }

// function redrawCanvas () {
//   canvasSettings.context.clearRect(0, 0, kanaCanvas.value.width, kanaCanvas.value.height)
//   for (const line of canvasSettings.lines) {
//     const startPoint = line[0]
//     let lineTail = line.slice(1).map(point => [point.x, point.y])
//     Helper.drawCanvasLineCustom(
//       startPoint.x, startPoint.y, canvasSettings.color, canvasSettings.width, 'round', [],
//       canvasSettings.context, ...lineTail.flat()
//     )
//   }
// }

function wrongStrokeAnimation () {
  canvasSettings.wrongStrokeActive = true
  setTimeout(() => {
    canvasSettings.wrongStrokeActive = false
  }, 1000)
}

// function getLineLength (type, strokeIndex) {
//   let points = []
//   if (type === 'svg') {
//     points = canvasSettings.svgLines[strokeIndex]
//   } else if (type === 'draw') {
//     points = canvasSettings.lines[strokeIndex]
//   }

//   return points.reduce((len, point, index, line) => {
//     if (index === 0) {
//       return len
//     }
//     const prevPoint = line[index - 1]
//     return getDist(prevPoint, point) + len
//   }, 0)
// }

const drawAmount = ref(1)
const canvasVisible = ref(true)
function hideCanvas () {
  canvasVisible.value = false
}

function showCanvas () {
  canvasVisible.value = true
}

const numbersVisible = ref(true)
const highlightNumber = ref(false)
const resultVisible = ref(false)
const resultAmount = ref(0)

function increaseNumber () {
  highlightNumber.value = true
  drawAmount.value += 1
  setTimeout(() => {
    showCanvas()
    highlightNumber.value = false
  }, 600)
  animationData.reset()
  canvasSettings.reset()
  kanaSnap.value.clear()
  canvasSettings.context.clearRect(0, 0, kanaCanvas.value.width, kanaCanvas.value.height)
}

const drawnLines = reactive([])
const lineAccuracies = reactive([])
const resultCanvas = ref(null)

watch(
  resultCanvas,
  (newResultCanvas) => {
    let currentCanvas = newResultCanvas[resultAmount.value - 1]
    let currentContext = currentCanvas.getContext('2d')
    let currentCanvasSizes = currentCanvas.getBoundingClientRect()
    currentCanvas.width = currentCanvasSizes.width
    currentCanvas.height = currentCanvasSizes.height
    let scale = currentCanvas.width / kanaCanvas.value.width
    let lines = drawnLines[resultAmount.value - 1]

    for (const line of lines) {
      const startPoint = line[0]
      let lineTail = line.slice(1).map(point => [point.x * scale, point.y * scale])
      Helper.drawCanvasLineCustom(
        startPoint.x * scale, startPoint.y * scale, canvasSettings.color, canvasSettings.width / 2, 'round', [],
        currentContext, ...lineTail.flat()
      )
    }
    lineAccuracies.push(getLineAccuracy(lines))
  },
  { deep: true }
)

function getLineAccuracy (lines) {
  let accuracies = []
  let accuracyValues = [ // has Values from 0 to 100
    { // length difference
      value: 0,
      factor: 0.5
    },
    { // average distance from svg
      value: 0,
      factor: 0.15
    },
    { // in the wrong direction
      value: 0,
      factor: 0.1
    },
    { // coverage of line
      value: 0,
      factor: 0.25
    }
  ]
  for (let i = 0; i < lines.length; i++) {
    const svgStrokeCopy = kanaSvgPaths.value[i].clone()
    const line = lines[i]
    let drawnLength = getLineLength(line)
    let svgLength = getLineLength(canvasSettings.svgLines[i])
    if (svgLength <= 30) {
      let percentage = (drawnLength / canvasSettings.scaleFactor) / svgLength
      if (percentage > 1.05) {
        accuracyValues[0].value = Math.max((1.6 - percentage) / 0.55, 0) * 100
      } else if (percentage < 0.95) {
        accuracyValues[0].value = Math.max((percentage - 0.4) / 0.55, 0) * 100
      } else {
        accuracyValues[0].value = 100
      }
    } else {
      let percentage = (drawnLength / canvasSettings.scaleFactor) / svgLength
      if (percentage > 1.05) {
        accuracyValues[0].value = Math.max((1.3 - percentage) / 0.25, 0) * 100
      } else if (percentage < 0.95) {
        accuracyValues[0].value = Math.max((percentage - 0.7) / 0.25, 0) * 100
      } else {
        accuracyValues[0].value = 100
      }
    }

    let controlPoints = []
    let strokeLength = 0
    let pointIndex = 0
    let accDist = 0
    for (let len = 0; len <= drawnLength; len += Math.min(4 * canvasSettings.scaleFactor, drawnLength)) {
      let newPoint = null

      while (strokeLength < len && pointIndex < line.length - 1) {
        pointIndex += 1
        const prevPoint = line[pointIndex - 1]
        const point = line[pointIndex]
        strokeLength += getDist(prevPoint, point)
      }

      if (strokeLength === len || pointIndex === line.length - 1) {
        newPoint = {
          x: line[pointIndex].x,
          y: line[pointIndex].y
        }
      } else if (strokeLength < len) {
        continue
      } else {
        const prevPoint = line[pointIndex - 1]
        const point = line[pointIndex]
        const dist = getDist(prevPoint, point)
        const xDist = prevPoint.x - point.x
        const yDist = prevPoint.y - point.y
        const percentage = (strokeLength - len) / dist
        newPoint = {
          x: point.x + xDist * percentage,
          y: point.y + yDist * percentage
        }
      }

      newPoint.x /= canvasSettings.scaleFactor
      newPoint.y /= canvasSettings.scaleFactor

      const closestPoint = Snap.closestPoint(
        svgStrokeCopy,
        newPoint.x,
        newPoint.y
      )
      controlPoints.push({
        x: closestPoint.x,
        y: closestPoint.y,
        dist: closestPoint.distance,
        posOnLine: closestPoint.pos,
        refX: newPoint.x,
        refY: newPoint.y
      })
      accDist += closestPoint.distance
    }

    const averageDistance = accDist / controlPoints.length
    if (averageDistance < 1) {
      accuracyValues[1].value = 100
    } else {
      accuracyValues[1].value = Math.max(1.1 - averageDistance / 10, 0) * 100
    }

    let pointsInReverse = [0]
    for (let j = 1; j < controlPoints.length; j++) {
      if (controlPoints[j - 1].posOnLine > controlPoints[j].posOnLine) {
        pointsInReverse[pointsInReverse.length - 1] += 1
      } else if (controlPoints[j - 1].posOnLine <= controlPoints[j].posOnLine) {
        pointsInReverse.push(0)
      }
    }
    pointsInReverse = pointsInReverse.filter(value => value > 0)
    if (controlPoints.length > 10) {
      pointsInReverse = pointsInReverse.filter(value => value > 2)
      const pointAmount = pointsInReverse.reduce((acc, val) => acc + val, 0)
      accuracyValues[2].value = Math.max(1 - pointAmount / (controlPoints.length / 2.2), 0) * 100
    } else {
      const pointAmount = pointsInReverse.reduce((acc, val) => acc + val, 0)
      accuracyValues[2].value = Math.max(1 - pointAmount / (controlPoints.length / 2), 0) * 100
    }

    let pointsSkipped = [0]
    for (let j = 0; j < canvasSettings.svgLines[i].length; j++) {
      const pointAtLen = canvasSettings.svgLines[i][j].len
      let pointFound = false
      for (let k = 0; k < controlPoints.length; k++) {
        const controlPoint = controlPoints[k]
        if (pointAtLen <= controlPoint.posOnLine && pointAtLen + 2 >= controlPoint.posOnLine) {
          pointFound = true
          break
        }
      }
      if (pointFound) {
        pointsSkipped.push(0)
      } else {
        pointsSkipped[pointsSkipped.length - 1] += 1
      }
    }
    pointsSkipped = pointsSkipped.filter(value => value > 2)
    const pointAmount = pointsSkipped.reduce((acc, val) => acc + val, 0)
    if (svgLength <= 30) {
      let percentage = pointAmount / canvasSettings.svgLines[i].length
      if (percentage > 0.05) {
        accuracyValues[3].value = Math.max((1 - percentage - 0.3) / 0.65, 0) * 100
      } else {
        accuracyValues[3].value = 100
      }
    } else {
      let percentage = pointAmount / canvasSettings.svgLines[i].length
      if (percentage > 0.05) {
        accuracyValues[3].value = Math.max((1 - percentage - 0.6) / 0.35, 0) * 100
      } else {
        accuracyValues[3].value = 100
      }
    }

    console.log(accuracyValues[0].value,accuracyValues[1].value,accuracyValues[2].value, accuracyValues[3].value)
    accuracies.push(accuracyValues.reduce((acc, type) => type.value * type.factor + acc, 0))
  }
  return Math.max(Math.min(accuracies.reduce((acc, value) => acc + value, 0) / accuracies.length, 100), 0)
}

function getLineLength (points) {
  return points.reduce((len, point, index, line) => {
    if (index === 0) {
      return len
    }
    const prevPoint = line[index - 1]
    return getDist(prevPoint, point) + len
  }, 0)
}

function getDist (point1, point2) {
  return Math.sqrt(Math.pow(point2.x - point1.x, 2) + Math.pow(point2.y - point1.y, 2))
}

const progressBarValue = computed(() => {
  if (lineAccuracies.length === 0) {
    return 0
  }
  return Math.floor(lineAccuracies.reduce((acc, val) => {
    return acc + val
  }, 0) / lineAccuracies.length)
})

const progressBarRating = computed(() => {
  if (progressBarValue.value < 30) {
    return getText('writeKanjiPracticeRatingBad')
  } else if (progressBarValue.value < 70) {
    return getText('writeKanjiPracticeRatingAverage')
  } else if (progressBarValue.value < 95) {
    return getText('writeKanjiPracticeRatingGood')
  } else {
    return getText('writeKanjiPracticeRatingPerfect')
  }
})

const progressBarColor = computed(() => {
  if (progressBarValue.value < 30) {
    return 'red'
  } else if (progressBarValue.value < 70) {
    return 'yellow'
  } else if (progressBarValue.value < 95) {
    return 'green'
  } else {
    return 'gold'
  }
})

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}

function navTo (destination = '') {
  switch (destination) {
    case 'error':
      if (appDyn.writeKanji.data) {
        appDyn.writeKanji.data = null
        router.push({ name: 'training' })
      } else {
        router.push({ name: 'category', params: { destination: 'writeKanji' } })
      }
      appDyn.writeKanji.selectedWord = [
        { categoryKey: '', index: 0, variant: 0 },
        { categoryKey: '', index: 0, variant: 0 }
      ]
      appDyn.writeKanji.selectedTab = 0
      appDyn.writeKanji.selectedLetter = [0, 0]
      break
    default:
      router.push({ name: 'writeKanji' })
  }
}
</script>
