<template>
  <div class="flex-row">
    <InputBasic class="flex-grow" :title="props.title" :color="props.colorInput" :type="props.type" :icon="props.iconInput"
                @update:modelValue="$emit('update:modelValue', $event)" :model-value="props.modelValue"
                :maxlength="props.maxlength" :no-focus="props.noFocus" />
    <ButtonIcon v-for="(color, index) in props.colorsButton" class="input-ready" :icon="props.iconsButton[index]"
                :color="color" :key="index" @click="$emit('click', props.iconsButton[index])" />
  </div>
</template>

<script setup>
import InputBasic from '@/components/InputBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'

const props = defineProps({
  title: String,
  colorInput: String,
  colorsButton: Array,
  type: String,
  iconInput: String,
  iconsButton: Array,
  maxlength: Number,
  noFocus: {
    type: Boolean,
    default: false
  },
  modelValue: String
})
defineEmits(['update:modelValue', 'click'])
</script>
