<template>
  <div class="flex-row">
    <InputBasic class="flex-grow" :title="props.title" :color="props.colorInput" :type="props.type" :icon="props.iconInput"
                @update:modelValue="$emit('update:modelValue', $event)" :model-value="props.modelValue"
                :maxlength="props.maxlength" :no-focus="props.noFocus" />
    <ButtonIcon :icon="props.iconButton" :color="props.colorButton" @click="$emit('click')" />
  </div>
</template>

<script setup>
import InputBasic from '@/components/InputBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'

const props = defineProps({
  title: String,
  colorInput: String,
  colorButton: String,
  type: String,
  iconInput: String,
  iconButton: String,
  maxlength: Number,
  noFocus: {
    type: Boolean,
    default: false
  },
  modelValue: String
})
defineEmits(['update:modelValue', 'click'])
</script>
