<template>
  <transition enter-active-class="animate__animated animate__fadeIn duration-c-500ms">
    <div v-if="props.visible" class="modal loading width-full height-full flex-column flex-center"
         :class="getSizeClass('general')">
      <div class="self-building-square-spinner">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
      <div class="text margin-top-medium">
        {{ getText(props.text) }}
      </div>
    </div>
  </transition>
</template>

<script setup>
import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()
const props = defineProps({
  visible: Boolean,
  text: String
})

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
