<template>
  <transition enter-active-class="animate__animated animate__fadeIn duration-c-350ms"
              leave-active-class="animate__animated animate__fadeOut duration-c-350ms">
    <div v-if="props.visible" class="modal width-full height-full flex-column flex-center-v"
         :class="[getSizeClass('general'), props.color]">
      <div class="content">
        <div class="title">
          {{ getText(props.title) }}
        </div>
        <slot></slot>
        <div class="buttons flex-row">
          <ButtonBasic class="width-full" v-for="(button, index) in props.buttons" :icon="button.icon"
                      :text="button.text" :color="button.color" :key="index"
                      @click="$emit('click', 'button' + (index + 1))" />
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup>
import ButtonBasic from '@/components/ButtonBasic.vue'

import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()
const props = defineProps({
  visible: Boolean,
  color: String,
  title: String,
  buttons: Array
})
defineEmits(['click'])

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
