<template>
  <div class="package-category-entry flex-column" :class="getSizeClass('general')">
    <div class="flex-row">
      <ButtonIcon class="single-1" :icon="expandIcon" color="action" @click="$emit('expand')" />
      <div class="title flex-grow info" @click="$emit('expand')">
        {{ props.category[savestate.app.lang] }}
      </div>
      <ButtonIcon class="single-1" icon="pen" color="green" @click="$emit('edit', { type: 'category' })" />
      <ButtonIcon class="single-1" icon="trash" color="red" @click="$emit('delete', { type: 'category' })" />
    </div>
    <ButtonBasic v-show="props.expanded" class="navigation single-1 new-word" icon="plus" color="green"
                 text="packagesEditCategoriesButton3" @click="$emit('new')" />
    <div v-show="props.expanded" class="flex-row" v-for="(word, index) in props.category.words" :key="index">
      <div class="details flex-grow flex-row" @click="$emit('edit', { type: 'word', index: index })">
        <div class="index">
          {{ index + 1 }}
        </div>
        <div class="content">
          <div class="word">
            {{ getWordTranslation(word) }}
          </div>
          <div class="languages flex-row gap-column-medium">
            <TheLanguageIndicator v-for="lang in appDyn.packages.wordpack.supportedLanguages"
                                  :flag-url="getFlagUrl(lang)" :active="isLangMaintained(word, lang)" :key="lang" />
          </div>
        </div>
      </div>
      <ButtonIcon class="single-1" icon="pen" color="green" @click="$emit('edit', { type: 'word', index: index })" />
      <ButtonIcon class="single-1" icon="trash" color="red" @click="$emit('delete', { type: 'word', index: index })" />
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'

import ButtonIcon from '@/components/ButtonIcon.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import TheLanguageIndicator from '@/components/TheLanguageIndicator.vue'

import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'
import { useSavestateStore } from '@/stores/savestate'

const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()
const props = defineProps({
  category: Object,
  expanded: Boolean
})
defineEmits(['click', 'new', 'edit', 'delete', 'expand'])

const expandIcon = computed(() => {
  return props.expanded ? 'angle-up' : 'angle-down'
})

function getWordTranslation (word) {
  if (!Array.isArray(word[savestate.app.lang])) {
    return word[savestate.app.lang]
  }
  return word[savestate.app.lang][0]
}

function getFlagUrl (targetLanguage) {
  return '../../assets/img/flags/' + appConst.targetLanguages[targetLanguage].flag + '.svg'
}

function isLangMaintained (word, targetLanguage) {
  return Object.hasOwn(word, targetLanguage) && word[targetLanguage] !== ''
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
