<template>
  <div class="blockquote" :class="getSizeClass('general')">
    <div class="bar"></div>
    <div v-if="!props.hasHtml && props.additional.length === 0" class="text flex-grow">
      {{ getText(props.text) }}
    </div>
    <div v-else-if="props.additional.length > 0" class="flex-column flex-grow">
      <div class="text margin-bottom-small">
        {{ getText(props.text) }}
      </div>
      <div class="flex-row flex-wrap gap-column-medium gap-row-small">
        <div v-for="(word, index) in props.additional" class="additional"
             :key="index">
          {{ getText(word) }}
        </div>
      </div>
    </div>
    <div v-else class="text flex-grow" v-html="getText(props.text)"></div>
    <ButtonIcon v-show="hasButton" class="free-height" :icon="props.buttonIcon" :color="props.buttonColor"
                @click="$emit('click')" />
  </div>
</template>

<script setup>
import { computed } from 'vue'

import ButtonIcon from '@/components/ButtonIcon.vue'

import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()

const props = defineProps({
  text: String,
  additional: {
    type: Array,
    default: []
  },
  hasHtml: Boolean,
  buttonIcon: {
    type: String,
    default: ''
  },
  buttonColor: {
    type: String,
    default: ''
  }
})
defineEmits(['click'])

const hasButton = computed(() => {
  return props.buttonIcon !== ''
})

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
