<template>
  <div class="lang-indicator flex-row gap-column-small flex-center-h padding-left-mini" :class="getSizeClass('general')">
    <svg class="flag">
      <image class="flag-image" :href="props.flagUrl" preserveAspectRatio="none" />
    </svg>
    <div class="icon flex-row flex-center" :class="iconColor">
      <i class="fas" :class="'fa-' + icon"></i>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'

import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()
const props = defineProps({
  active: Boolean,
  flagUrl: String
})

const iconColor = computed(() => {
  return props.active ? 'green' : 'red'
})

const icon = computed(() => {
  return props.active ? 'check' : 'times'
})

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
