<template>
  <TransitionGroup tag="div" class="notification-hub absolute-bottom width-full" enter-from-class="enter-from-down"
                    leave-to-class="leave-to-right" leave-active-class="absolute behind">
    <NotificationBasic v-for="(notification, index) of appDyn.notifications" :title="notification.title"
                        :text="notification.text" :color="notification.color" :icon="notification.icon"
                        :spin="notification.spin" :image="notification.image" @click="removeNotification(index)"
                        :key="notification.text" />
  </TransitionGroup>
</template>

<script setup>
import NotificationBasic from '@/components/NotificationBasic.vue'

import { useAppDynStore } from '@/stores/appdyn'

const appDyn = useAppDynStore()

function removeNotification (notificationIndex) {
  appDyn.notifications.splice(notificationIndex, 1)
}
</script>
