<template>
  <div class="tag clickable" :class="[getSizeClass('general'), props.color]">
    <div class="text" :class="fontColor">
      <span v-if="props.text !== ''">
        {{ getText(props.text) }}
      </span>
      <i v-if="props.icon !== ''" class="fas" :class="['fa-' + props.icon]"></i>
      <div v-show="props.isSelected" class="selected flex-row flex-center">
        <i class="fas fa-check"></i>
      </div>
      <div v-show="props.isBanned" class="selected flex-row flex-center">
        <i class="fas fa-ban"></i>
      </div>
    </div>
    <div v-if="props.hasDelete" class="delete flex-row flex-center">
      <i class="fas fa-times"></i>
    </div>
  </div>
</template>

<script setup>
import { computed, reactive } from 'vue'
import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()
const props = defineProps({
  text: {
    type: [String, Number],
    default: ''
  },
  color: String,
  icon: {
    type: String,
    default: ''
  },
  hasDelete: {
    type: Boolean,
    default: false
  },
  isSelected: {
    type: Boolean,
    default: false
  },
  isBanned: {
    type: Boolean,
    default: false
  }
})

const brightColors = reactive([
  'red', 'violet'
])
const fontColor = computed(() => {
  if (brightColors.includes(props.color)) {
    return 'bright'
  }
  return 'dark'
})

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>
