<template>
  <div class="control-title padding-bottom-mini" :class="getSizeClass('general')">
    {{ getText(props.text) }}
  </div>
</template>

<script setup>
import { useAppConstStore } from '@/stores/appconst'

const props = defineProps({
  text: String
})

const appConst = useAppConstStore()

function getText (id) {
  return appConst.getText(id)
}

function getSizeClass (type) {
  return appConst.getSizeClass(type)
}
</script>