@charset "utf-8";
@import "./../../node_modules/animate.css/animate.min.css";
@import './customAnimations.scss';

@font-face {
  font-family: "Custom Icons";
  src: url("fonts/custom_font.ttf") format("truetype");
  font-weight: 900;
}

html, body {
  overflow: hidden;
  height: 100%;
  max-width: 700px;
  margin: 0px auto;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #333 transparent;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    position: absolute;
    transition-property: width, height;
    transition-duration: 350ms;
  }
	&::-webkit-scrollbar-track {
		background: transparent;
  }
	&::-webkit-scrollbar-thumb {
		background-color: #333;
		border-radius: 6px;
		border: 3px solid transparent;
  }
}

#app {
  height: 100%;
}

#webgl-canvas, #basic-canvas {
  width: 100%;
}

.flex {
  &-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &-reverse {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }
  }

  &-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    &-reverse {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column-reverse;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-grow {
    flex-grow: 1;
  }

  &-shrink {
    flex-shrink: 0;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-center-h {
    align-items: center;
  }

  &-center-v {
    justify-content: center;
  }

  &-align-start {
    align-content: start;
  }

  &-evenly {
    justify-content: space-evenly;
  }
}

$dir: 'row' 'column';

.gap {
  @for $i from 1 through length($dir) {
    &-#{nth($dir, $i)} {
      &-mini {
        #{nth($dir, $i)}-gap: .25rem;
      }

      &-small {
        #{nth($dir, $i)}-gap: .5rem;
      }

      &-medium {
        #{nth($dir, $i)}-gap: 1rem;
      }

      &-large {
        #{nth($dir, $i)}-gap: 1.5rem;
      }

      &-giga {
        #{nth($dir, $i)}-gap: 3rem;
      }
    }
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.width {
  &-full {
    width: 100%;
  }

  &-half {
    width: 50%;
  }

  &-third {
    width: calc(100% / 3);

    &-two {
      width: calc(100% / 1.5);
    }
  }

  &-fourth {
    width: calc(100% / 4);
  }

  &-fifth {
    width: calc(100% / 5);

    &-four {
      width: calc(100% / 11);
    }
  }

  &-eighth {
    width: calc(100% / 8);
  }
}

.height {
  &-full {
    height: 100%;
  }

  &-half {
    height: 50%;
  }

  &-third {
    height: calc(100% / 3);
  }

  &-fourth {
    height: calc(100% / 4);
  }

  &-fifth {
    height: calc(100% / 5);

    &-four {
      height: calc(100% / 1.25);
    }
  }

  &-eighth {
    height: calc(100% / 8);
  }

  &-none {
    height: 0;
  }
}

.overflow {
  &-auto {
    overflow: auto;
  }

  &-hidden {
    overflow: hidden;
  }

  &-y- {
    &auto {
      overflow-y: auto;
    }

    &hidden {
      overflow-y: hidden;
    }
  }

  &-x- {
    &auto {
      overflow-x: auto;
    }

    &hidden {
      overflow-x: hidden;
    }
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;

  &-top {
    position: absolute;
    top: 0;
  }

  &-bottom {
    position: absolute;
    bottom: 0;
  }
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
}

.adventure-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

$pos: 'top' 'left' 'right' 'bottom';

.margin {
  @for $i from 1 through length($pos) {
    &-#{nth($pos, $i)} {
      &-mini-neg {
        margin-#{nth($pos, $i)}: -.25rem;
      }

      &-small-neg {
        margin-#{nth($pos, $i)}: -.5rem;
      }
      
      &-medium-neg {
        margin-#{nth($pos, $i)}: -1rem;
      }

      &-large-neg {
        margin-#{nth($pos, $i)}: -1.5rem;
      }

      &-giga-neg {
        margin-#{nth($pos, $i)}: -3rem;
      }

      &-mini {
        margin-#{nth($pos, $i)}: .25rem;
      }

      &-small {
        margin-#{nth($pos, $i)}: .5rem;
      }
  
      &-medium {
        margin-#{nth($pos, $i)}: 1rem;
      }
  
      &-large {
        margin-#{nth($pos, $i)}: 1.5rem;
      }

      &-giga {
        margin-#{nth($pos, $i)}: 3rem;
      }
    }
  }

  &-mini {
    margin: .25rem;
  }

  &-tb-mini {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  &-lr-mini {
    margin-left: .25rem;
    margin-right: .25rem;
  }

  &-small {
    margin: .5rem;
  }

  &-tb-small {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  &-lr-small {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  &-medium {
    margin: 1rem;
  }

  &-tb-medium {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-lr-medium {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &-large {
    margin: 1.5rem;
  }

  &-tb-large {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &-lr-large {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &-giga {
    margin: 3rem;
  }

  &-tb-giga {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &-lr-giga {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.padding {
  @for $i from 1 through length($pos) {
    &-#{nth($pos, $i)} {
      &-mini {
        padding-#{nth($pos, $i)}: .25rem;
      }

      &-small {
        padding-#{nth($pos, $i)}: .5rem;
      }
  
      &-medium {
        padding-#{nth($pos, $i)}: 1rem;
      }
  
      &-large {
        padding-#{nth($pos, $i)}: 1.5rem;
      }

      &-giga {
        padding-#{nth($pos, $i)}: 3rem;
      }
    }
  }

  &-mini {
    padding: .25rem;
  }

  &-tb-mini {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  &-lr-mini {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  &-small {
    padding: .5rem;
  }

  &-tb-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  &-lr-small {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &-medium {
    padding: 1rem;
  }

  &-tb-medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-lr-medium {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-large {
    padding: 1.5rem;
  }

  &-tb-large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &-lr-large {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &-giga {
    padding: 3rem;
  }

  &-tb-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &-lr-giga {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.clickable {
  cursor: pointer;
}

.fas {
  &.fa- {
    &#{pitch-accent} {
      font-family: "Custom Icons";

      &::before {
        content: "A";
      }
    }

    &#{no-pitch-accent} {
      font-family: "Custom Icons";

      &::before {
        content: "B";
      }
    }
  }
}
