@charset "utf-8";

.delay {
  &-c-100ms {
    animation-delay: 100ms;
  }

  &-c-350ms {
    animation-delay: 350ms;
  }

  &-c-400ms {
    animation-delay: 400ms;
  }

  &-c-500ms {
    animation-delay: 500ms;
  }

  &-c-700ms {
    animation-delay: 700ms;
  }

  &-c-800ms {
    animation-delay: 800ms;
  }
}

.duration {
  &-c-100ms {
    animation-duration: 100ms;
  }

  &-c-200ms {
    animation-duration: 200ms;
  }

  &-c-350ms {
    animation-duration: 350ms;
  }

  &-c-400ms {
    animation-duration: 400ms;
  }

  &-c-500ms {
    animation-duration: 500ms;
  }

  &-c-700ms {
    animation-duration: 700ms;
  }
}

@keyframes disappear {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

.disappear {
  animation-name: disappear;
}

@keyframes invisible {
  from {
    visibility: hidden;
  }

  to {
    visibility: hidden;
  }
}

.invisible {
  animation-name: invisible;
}

@keyframes fadeOutCustom {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.fade-out-custom {
  animation-name: fadeOutCustom;
}

@keyframes fadeInToDisabled {
  from {
    opacity: 0;
  }

  40% {
    opacity: .4;
  }

  to {
    opacity: .4;
  }
}

.fade-in-to-disabled {
  animation-name: fadeInToDisabled;
}

@keyframes slideInLeftCustom {
  from {
    transform: translate3d(250%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-left-custom {
  animation-name: slideInLeftCustom;
}

@keyframes slideOutLeftCustom {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-250%, 0, 0);
  }
}

.slide-out-left-custom {
  animation-name: slideOutLeftCustom;
}

@keyframes slideInRightCustom {
  from {
    transform: translate3d(-250%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-right-custom {
  animation-name: slideInRightCustom;
}

@keyframes slideOutRightCustom {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(250%, 0, 0);
  }
}

.slide-out-right-custom {
  animation-name: slideOutRightCustom;
}
