// use
// sass src/assets/themes/garium.scss static/assets/themes/garium.min.css --style=compressed
// to generate it

@charset "utf-8";
@use "sass:color";
@use "sass:string";

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
}
/* 400 is broke, so 300 is 400 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/NunitoHeavy-Regular.ttf") format("truetype");
  font-weight: 900;
}

/*
Sizes:
small: 80%
normal: 100%
large: 140%
giga: 200%
*/

$sizes: 0.7 0.8 1 1.4 2;
$size-classes: is-tiny is-small is-normal is-large is-giga;

$color-background: #0a0a0a !default;
$color-background-achievement: #161616 !default;
$color-modal-background: rgba(15, 15, 15, 0.8) !default;
$color-modal-background-light: rgba(15, 15, 15, 0.4) !default;
$color-font-bright: #ffffff !default;
$color-font: #acacac !default;
$color-font-dark: #5e5e5e !default;
$color-font-very-dark: #040404 !default;
$color-hero: #2f2f2f !default;
$color-border: #444444 !default;
$color-flag-background: #555555 !default;
$color-green: #228b22 !default;
// green-dark is used as a background for the checkbox, when active
$color-green-dark: darken($color-green, 15) !default;
$color-green-light: #62be62 !default;
$color-yellow: #c1c631 !default;
$color-yellow-dark: darken($color-yellow, 15) !default;
$color-orange: #db6a07 !default;
$color-red: #cd212a !default;
// red-dark is used as a background for the checkbox, when not active
$color-red-dark: darken($color-red, 15) !default;
$color-violet: #89389d !default;
$color-pink: #df76b7 !default;
$color-info: #4aada3 !default;
// info-2 is used as the color of the write kanji button and as value background for tags
$color-info-2: #4a96ad !default;
$color-info-dark: darken($color-info, 15) !default;
$color-action: #1ccf7c !default;
// selected is used in the category selection and in write kanji inside the dropdown menu
$color-selected: #bf8013 !default;
$color-armor: #DC793E !default;
$color-consumables: #8eb44c !default;
$color-weapons: #1271c5 !default;
// basic is the default color for items
$color-basic: #a570a8 !default;
$color-gold: #847217 !default;
$color-silver: #a2aaaa !default;
// tag is the background color for the label of a tag
$color-tag: #2f2f2f !default;
$color-blockquote-background: #1a1a1a !default;
$color-blockquote-bar: #444444 !default;
// notification dark and bright are two different types of notification backgrounds, bright is used with text notifications,
// while dark is used after you purchased an item in the shop
$color-notification-dark: #1a1a1a !default;
$color-notification-bright: #aeaeae !default;
$color-modal-head: #1a1a1a !default;
$color-modal-body: #444444 !default;
$color-modal-foot: #2f2f2f !default;
$color-slider: #595959 !default;
// color settings is the color of the settings button in the menu
$color-settings: #6d6d6d !default;
$color-credits-keyboard: #c3c6ca !default;
$color-credits-brush: linear-gradient(220deg, #5c320b 55%, #e4bf7b 55%) !default;

$colors: 'background' $color-background, 'green' $color-green, 'green-dark' $color-green-dark,
  'green-light' $color-green-light, 'yellow' $color-yellow, 'yellow-dark' $color-yellow-dark, 'orange' $color-orange, 'red' $color-red,
  'red-dark' $color-red-dark, 'violet' $color-violet, 'pink' $color-pink, 'info' $color-info, 'info-2' $color-info-2,
  'info-dark' $color-info-dark, 'action' $color-action,
  'selected' $color-selected, 'armor' $color-armor, 'consumables' $color-consumables, 'weapons' $color-weapons,
  'basic' $color-basic, 'gold' $color-gold, 'silver' $color-silver, 'settings' $color-settings,
  'credits-keyboard' $color-credits-keyboard, 'credits-brush' $color-credits-brush;

html, body {
  background: $color-background;
  color: $color-font;
  font-family: Nunito;
  font-weight: normal;
  box-sizing: border-box;
}

html * {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

button {
  margin: 0px;
}

.text {
  &.bold {
    font-weight: bold;
  }
  
  @each $color in $colors {
    &-#{nth($color, 1)} {
      color: nth($color, 2);
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      &.with-margin-left {
        margin-left: 3rem * nth($sizes, $i);
      }

      &.has-title {
        margin-top: -6px;
      }
    }
  }
}

.background {
  @each $color in $colors {
    &-#{nth($color, 1)} {
      background: nth($color, 2);
    }
  }
}

.border {
  &-top {
    border-top: 3px solid $color-border;
  }

  &-bottom {
    border-bottom: 3px solid $color-border;

    &-2 {
      border-bottom: 2px solid $color-border;
    }

    &-modal {
      border-bottom: 3px solid $color-modal-foot;
    }
  }
}

.status {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $color-hero;

  .status-item {
    justify-content: center;
    
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        min-height: 4rem * nth($sizes, $i);

        .name {
          font-size: .35cm * nth($sizes, $i);
        }

        .value {
          font-size: .9cm * nth($sizes, $i);
          height: 2rem * nth($sizes, $i);
          line-height: 2rem * nth($sizes, $i);
        }
      }
    }
    
    .value {
      font-weight: bold;
    }
  }
}

.hero {
  position: relative;
  background: $color-hero;
  width: 100%;

  .title {
    font-weight: 700;
  }

  .subtitle {
    width: 90%;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      min-height: 7rem * nth($sizes, $i);

      .title {
        font-size: .9cm * nth($sizes, $i);
      }

      .subtitle {
        font-size: .35cm * nth($sizes, $i);
      }
    }
  }

  &.mini {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        min-height: 2.5rem * nth($sizes, $i);
  
        .title {
          font-size: .55cm * nth($sizes, $i);
        }
  
        .subtitle {
          font-size: .25cm * nth($sizes, $i);
        }
      }
    }
  }
}

.button {
  background: transparent;
  color: $color-font;
  border: none;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;

  .highlight {
    position: absolute;
    border-width: 2px;
    border-style: solid none;
    width: 100%;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      min-width: 3.5rem * nth($sizes, $i);

      &:not(.free-height) {
        min-height: 3.5rem * nth($sizes, $i);
      }
      
      .text {
        font-size: .5cm * nth($sizes, $i);
      }

      .icon:not(:last-child) {
        font-size: .7cm * nth($sizes, $i);
        padding-right: .5rem;
      }

      .icon:last-child {
        font-size: .7cm * nth($sizes, $i);
      }

      .highlight {
        height: 1.75rem * nth($sizes, $i);
      }
    }
  }

  &.navigation {
    flex-direction: column;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        min-height: 5rem * nth($sizes, $i);

        .text {
          font-size: .35cm * nth($sizes, $i);
        }
  
        .icon {
          padding-right: 0;
          padding-bottom: .25rem;
          font-size: .9cm * nth($sizes, $i);
        }
      }
    }
  }

  &.menu {
    flex-direction: column;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        height: 6rem * nth($sizes, $i);

        .text {
          font-size: .35cm * nth($sizes, $i);
        }
  
        .icon {
          padding-right: 0;
          padding-bottom: .25rem;
          font-size: 1cm * nth($sizes, $i);
        }
      }
    }
  }

  &.close {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        font-size: .9cm * nth($sizes, $i);
        padding-right: 0;
      }
    }
  }

  &.single-1 {
    @each $color in $colors {
      &.#{nth($color, 1)} {
        border-top: 1px solid nth($color, 2);
        border-bottom: 1px solid nth($color, 2);
      }
    }
  }

  &.single-2 {
    @each $color in $colors {
      &.#{nth($color, 1)} {
        border-top: 2px solid nth($color, 2);
        border-bottom: 2px solid nth($color, 2);
      }
    }
  }

  &.single-3 {
    @each $color in $colors {
      &.#{nth($color, 1)} {
        border-top: 3px solid nth($color, 2);
        border-bottom: 3px solid nth($color, 2);
      }
    }
  }

  &.underlined {
    border-top: 3px solid transparent;
    border-bottom: 3px solid $color-border;
  }

  &.upload {
    position: relative;

    .input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .text {
      text-align: center;
    }
  }

  &.small {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        font-size: .2cm * nth($sizes, $i);
        height: 1.25rem * nth($sizes, $i);
        min-height: 1.25rem * nth($sizes, $i);
      }
    }
  }

  &.half-wide {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        min-width: 4.5rem * nth($sizes, $i);
      }
    }
  }

  &.wide {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        min-width: 9rem * nth($sizes, $i);
      }
    }
  }

  &.recommended {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        height: 2.5rem * nth($sizes, $i);
      }
    }
  }

  &.input-ready {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        margin-top: -2px * nth($sizes, $i);
        margin-bottom: -3px * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      color: nth($color, 2);

      .highlight {
        border-color: nth($color, 2);
      }
    }
  }

  &:disabled {
    opacity: .4;
  }
}

.menu-button-container {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      height: 12rem * nth($sizes, $i);
    }
  }
}

.button-container {
  border-top: 3px solid $color-border;
}

.action-container {
  border-bottom: 3px solid $color-border;
}

.notification {
  background: $color-notification-bright;
  color: $color-font-very-dark;
  z-index: 10000;
  position: relative;

  .title {
    font-weight: 500;
  }

  .text {
    color: $color-font-dark;
  }

  .button {
    color: $color-font-dark;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      margin: .75rem * nth($sizes, $i) 1.5rem * nth($sizes, $i);
      padding: .75rem * nth($sizes, $i) 1.5rem * nth($sizes, $i);
      width: calc(100% - 3rem * #{nth($sizes, $i)});

      .title {
        font-size: .7cm * nth($sizes, $i);
      }

      .text {
        font-size: .5cm * nth($sizes, $i);
      }

      .bar {
        min-width: .4rem * nth($sizes, $i);
      }

      .icon {
        font-size: 1.2cm * nth($sizes, $i);
        min-width: 3rem * nth($sizes, $i);
      }

      .image {
        min-width: 3rem * nth($sizes, $i);

        > img {
          width: 3rem * nth($sizes, $i);
        }
      }
    }
  }

  &.items {
    background: $color-notification-dark;
    color: $color-font;
    
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        $width: (.4rem + 2rem + 2.5rem) * nth($sizes, $i);

        .list {
          max-width: calc(100% - 1.5rem - #{$width})
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .bar {
        background: nth($color, 2);
      }

      .icon {
        color: nth($color, 2);
      }
    }
  }
}

.dropdown {
  position: relative;

  .title {
    text-transform: uppercase;
  }

  .select {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    color: $color-font;
    border: none;
    width: 100%;
    cursor: pointer;

    .option {
      background: $color-background;
    }
  }

  .icon, .arrow {
    position: absolute;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      $font-size: .7cm * nth($sizes, $i);
      padding: 0 .5rem * nth($sizes, $i);

      .title {
        font-size: .25cm * nth($sizes, $i);
        padding-left: 1.75rem * nth($sizes, $i);
        margin-bottom: -2px * nth($sizes, $i);
      }

      .select {
        font-size: $font-size;
        padding-left: 2.5rem * nth($sizes, $i);
      }

      .icon {
        font-size: $font-size;
        width: 3rem * nth($sizes, $i);
        left: -.5rem * nth($sizes, $i);
      }

      .arrow {
        font-size: $font-size;
        width: 3rem * nth($sizes, $i);
        right: -.5rem * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .icon {
        color: nth($color, 2);
      }

      .arrow {
        color: nth($color, 2);
      }
    }
  }

  &.single {
    border-bottom: 2px solid $color-border;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        $font-size: .7cm * nth($sizes, $i);

        .select {
          font-size: $font-size;
        }

        .icon {
          font-size: $font-size;
        }

        .arrow {
          font-size: $font-size;
        }
      }
    }
  }

  &.special {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        $font-size: .7cm * nth($sizes, $i);

        .trigger {
          font-size: $font-size;
          min-height: 3.5rem * nth($sizes, $i);
          padding: 0 3rem * nth($sizes, $i);
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.dropdown-menu {
  background: $color-background;
  z-index: 999;

  .dropdown-menu-tabs {
    position: relative;

    .tab-slider {
      position: absolute;
      top: 0;
      left: 0px;
      pointer-events: none;

      @for $i from 2 through 5 {
        @for $j from 1 through $i - 1 {
          &.pos-#{$i}-#{$j} {
            left: calc(100% / #{$i} * #{$j});
          }
        }
      }
    }
  }

  .dropdown-menu-items {
    .dropdown-menu-item {
      .category {
        position: sticky;
        top: 0;
        background: $color-background;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .word {
        display: flex;
        align-content: stretch;

        .index {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
        }

        .details {
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
          justify-content: center;

          .name {
            display: flex;
            align-items: center;
            overflow-wrap: anywhere;
          }
    
          .translation {
            display: flex;
            align-items: center;
            overflow-wrap: anywhere;
          }
        }

        &.disabled {
          opacity: .4;
        }

        @each $color in $colors {
          &.#{nth($color, 1)} {
            .details, .index {
              color: nth($color, 2);
              border-top: 1px solid nth($color, 2);
              border-bottom: 1px solid nth($color, 2);
            }
          }
        }
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .dropdown-menu-tabs {
        .tab-slider {
          height: 3.5rem * nth($sizes, $i);
        }
      }

      .dropdown-menu-items {
        .dropdown-menu-item {
          font-size: .7cm * nth($sizes, $i);
  
          .category {
            min-height: 3.5rem * nth($sizes, $i);
          }
  
          .word {
            min-height: 3.5rem * nth($sizes, $i);
  
            .index {
              min-width: 3.5rem * nth($sizes, $i);
            }
  
            .details {
              padding: .15rem * nth($sizes, $i);
              row-gap: .15rem * nth($sizes, $i);

              .name {
                line-height: .8cm * nth($sizes, $i);
                padding: 0 .25rem * nth($sizes, $i);
              }
  
              .translation {
                font-size: .3cm * nth($sizes, $i);
                line-height: .3cm * nth($sizes, $i);
                padding: .15rem * nth($sizes, $i) .25rem * nth($sizes, $i);
              }
            }
          }
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .dropdown-menu-tabs {
        .tab-slider {
          border-top: 2px solid nth($color, 2);
          border-bottom: 2px solid nth($color, 2);
        }
      }

      .dropdown-menu-item {
        .category {
          color: nth($color, 2);
          border-top: 1px solid nth($color, 2);
          border-bottom: 1px solid nth($color, 2);
        }
      }
    }
  }
}

#modal-dest {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 700px;
  pointer-events: none;
}

.modal {
  position: absolute;
  background: $color-modal-background;
  z-index: 9999;
  pointer-events: initial;

  .content {
    background: $color-modal-body;

    > .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }

    > .text {
      overflow-wrap: anywhere;
    }

    > .buttons {
      background: $color-modal-foot;
    }
  }

  &.loading {
    > .self-building-square-spinner * {
      box-sizing: border-box;
    }

    > .self-building-square-spinner {
      box-sizing: border-box;

      .square {
        background: #158cba;
        float: left;
        position: relative;
        opacity: 0;
        animation: self-building-square-spinner 2.5s infinite;

        &:nth-child(1) {
          animation-delay: calc(50ms * 2);
        }

        &:nth-child(2) {
          animation-delay: calc(50ms * 1);
        }

        &:nth-child(3) {
          animation-delay: calc(50ms * 0);
        }

        &:nth-child(4) {
          animation-delay: calc(50ms * 5);
        }

        &:nth-child(5) {
          animation-delay: calc(50ms * 4);
        }

        &:nth-child(6) {
          animation-delay: calc(50ms * 3);
        }

        &:nth-child(7) {
          animation-delay: calc(50ms * 8);
        }

        &:nth-child(8) {
          animation-delay: calc(50ms * 7);
        }

        &:nth-child(9) {
          animation-delay: calc(50ms * 6);
        }

        .clear {
          clear: both;
        }
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .content {
        > .title {
          height: 3.5rem * nth($sizes, $i);
          font-size: .7cm * nth($sizes, $i);
        }

        > .text {
          padding: 1rem * nth($sizes, $i) 1rem * nth($sizes, $i);
          font-size: .6cm * nth($sizes, $i);
          max-height: 15rem * nth($sizes, $i);
        }
      }

      &.loading {
        > .self-building-square-spinner {
          height: 100px * nth($sizes, $i);
          width: 100px * nth($sizes, $i);
          top: calc(-100% * 2 / 3);

          .square {
            height: calc((100% - 10px) / 3);
            width: calc((100% - 10px) / 3);
            top: 0;
            left: calc(-100% * 2 / 3);

            &:not(:nth-child(3n)) {
              margin-right: 5px;
            }

            &:not(:nth-child(n+7)) {
              margin-bottom: 5px;
            }
          }
        }

        > .text {
          font-size: .5cm * nth($sizes, $i);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .content {
        border-bottom: 2px solid nth($color, 2);

        > .title {
          background: nth($color, 2);
        }
      }
    }
  }
}

.slider {
  .title {
    text-transform: uppercase;
    margin-bottom: .25rem;
  }

  .icon {
    justify-content: center;
    align-items: center;
  }

  .input-slider {
    appearance: none;
    width: 100%;
    background: transparent;

    &::-webkit-slider-runnable-track {
      appearance: none;
      background: $color-slider;
      height: 2px;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      border-style: solid;
      border-color: $color-background;
      background: $color-slider;
      border-radius: 0;
      border-width: 1px;
      cursor: pointer;
    }

    &::-moz-range-track {
      appearance: none;
      background: $color-slider;
    }

    &::-moz-range-thumb {
      appearance: none;
      border-style: solid;
      border-color: $color-background;
      background: $color-slider;
      border-radius: 0;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
  
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      $font-size: .7cm * nth($sizes, $i);

      .title {
        font-size: .25cm * nth($sizes, $i);
        padding-left: 2.25rem * nth($sizes, $i);
        margin-bottom: -2px * nth($sizes, $i);
      }

      .icon {
        font-size: $font-size;
        min-width: 3rem * nth($sizes, $i);
      }

      .input-slider {
        &::-webkit-slider-thumb {
          width: .5cm * nth($sizes, $i);
          height: .5cm * nth($sizes, $i);
          margin-top: -(.25cm - 1px) * nth($sizes, $i);
        }

        &::-moz-range-thumb {
          width: .5cm * nth($sizes, $i);
          height: .5cm * nth($sizes, $i);
        }
      }

      .value {
        font-size: $font-size;
        min-width: 4.5rem * nth($sizes, $i);
      }
    }
  }
}

.material-design-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      width: .7cm * nth($sizes, $i);
      height: .7cm * nth($sizes, $i);
    }
  }
}

.input-text {
  .title {
    text-transform: uppercase;
  }

  .input {
    background: transparent;
    border: none;
    color: $color-font;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      $font-size: .7cm * nth($sizes, $i);

      .title {
        font-size: .25cm * nth($sizes, $i);
        padding-left: 2.25rem * nth($sizes, $i);
        margin-bottom: -2px * nth($sizes, $i);
      }

      .input {
        font-size: $font-size;
        height: 2.5rem * nth($sizes, $i);
      }

      .icon {
        height: 2.5rem * nth($sizes, $i);
        font-size: $font-size;
        width: 3rem * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .input:not(:read-only):focus {
        border-top: 2px solid transparent;
        border-bottom: 2px solid nth($color, 2);
      }

      .icon {
        color: nth($color, 2);
      }

      &.border-bottom.with-color {
        border-bottom: 3px solid nth($color, 2);
      }
    }
  }

  &.icons {
    .icon {
      @each $color in $colors {
        &.#{nth($color, 1)} {
          color: nth($color, 2);
        }
      }
    }

    @each $color in $colors {
      &.#{nth($color, 1)} {
        &.on-focus {
          .input {
            border-top: 2px solid transparent;
            border-bottom: 2px solid nth($color, 2);
          }
        }
      }
    }
  }
}

.progress {
  .background {
    &.highlight {
      @each $color in $colors {
        &.#{nth($color, 1)} {
          border-top: 3px solid nth($color, 2);
          border-bottom: 3px solid nth($color, 2);
        }
      }
    }
  }

  .foreground {
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .text {
    top: 0;
    left: 0;
    vertical-align: middle;
  }

  &.small {
    .text {
      font-weight: bold;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .background {
        height: 3.5rem * nth($sizes, $i);
      }

      .text {
        font-size: .6cm * nth($sizes, $i);
        line-height: 3.5rem * nth($sizes, $i);
      }

      &.small {
        height: 3rem * nth($sizes, $i);

        .background {
          height: 3rem * nth($sizes, $i);
        }

        .text {
          font-size: .6cm * nth($sizes, $i);
          line-height: 3rem * nth($sizes, $i);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .foreground {
        border-top: 3px solid nth($color, 2);
        border-bottom: 3px solid nth($color, 2);
      }
    }
  }
}

.text-with-icon {
  border-bottom: 2px solid $color-border;

  .title {
    text-transform: uppercase;
  }

  .icon {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.clickable {
      cursor: pointer;
    }

    @each $color in $colors {
      &.#{nth($color, 1)} {
        color: nth($color, 2);
      }
    }
  }

  .text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .title {
        font-size: .25cm * nth($sizes, $i);
        padding-left: 2.25rem * nth($sizes, $i);
      }

      .text {
        font-size: .7cm * nth($sizes, $i);

        &.left {
          padding-left: 3rem * nth($sizes, $i);
        }

        &.right {
          padding-right: 3rem * nth($sizes, $i);
        }
      }

      .icon {
        font-size: .7cm * nth($sizes, $i);
        width: 3rem * nth($sizes, $i);
      }
    }
  }
}

.blockquote {
  background: $color-blockquote-background;
  display: flex;
  align-items: stretch;

  .bar {
    flex-shrink: 0;
    min-width: 4px;
    min-height: 100%;
    background: $color-blockquote-bar;
  }

  .text {
    overflow-wrap: anywhere;
  }

  .additional {
    overflow-wrap: anywhere;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      padding: .8rem * nth($sizes, $i) .7rem * nth($sizes, $i);

      .bar {
        margin-right: .7rem * nth($sizes, $i);
      }

      .text {
        font-size: .7cm * nth($sizes, $i);
      }

      .additional {
        font-size: .35cm * nth($sizes, $i);
      }
    }
  }
}

.tag {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;

  .title {
    background: $color-tag;
  }

  .text {
    font-weight: bold;
    position: relative;
    overflow-wrap: anywhere;
    
    &.bright {
      color: $color-font-bright;
    }

    &.dark {
      color: $color-background;
    }

    .selected {
      position: absolute;
      top: 0;
      left: 0;
      background: $color-modal-background;
      color: $color-font-bright;
      width: 100%;
      height: 100%;
    }
  }

  .delete {
    background: $color-red;
    color: $color-font-bright;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .title {
        font-size: .25cm * nth($sizes, $i);
        padding: .25rem * nth($sizes, $i) .45rem * nth($sizes, $i);
      }

      .text {
        font-size: .25cm *nth($sizes, $i);
        padding: .25rem * nth($sizes, $i) .45rem * nth($sizes, $i);
      }

      .delete {
        font-size: .25cm *nth($sizes, $i);
        padding: .25rem * nth($sizes, $i) .45rem * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .text {
        background: nth($color, 2);
      }
    }
  }
}

.tag-selection {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      > .text {
        font-size: .5cm * nth($sizes, $i);
        min-height: 8rem * nth($sizes, $i);
      }

      > .tags {
        min-height: 8rem * nth($sizes, $i);
      }
    }
  }
}

.tag-entry {
  .colored-tag {
    cursor: pointer;
  }

  .content {
    cursor: pointer;

    .text {
      overflow-wrap: anywhere;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .colored-tag {
        font-size: .7cm * nth($sizes, $i);
        min-height: 3.5rem * nth($sizes, $i);
        min-width: 3.5rem * nth($sizes, $i);
      }

      .content {
        padding: .15rem * nth($sizes, $i) .45rem * nth($sizes, $i);
        
        > .text {
          font-size: .7cm * nth($sizes, $i);
        }

        > .languages {
          height: 1rem * nth($sizes, $i);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .colored-tag {
        color: nth($color, 2);
        border-top: 1px solid nth($color, 2);
        border-bottom: 1px solid nth($color, 2);
      }
      
      .content {
        border-top: 1px solid nth($color, 2);
        border-bottom: 1px solid nth($color, 2);
      }
    }
  }
}

.lang-indicator {
  background: linear-gradient(90deg, $color-flag-background, transparent 90%);

  .icon {
    @each $color in $colors {
      &.#{nth($color, 1)} {
        color: nth($color, 2);
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .flag {
        width: 1.2rem * nth($sizes, $i);
        height: 0.5rem * nth($sizes, $i);

        .flag-image {
          width: 1.2rem * nth($sizes, $i);
          height: 0.5rem * nth($sizes, $i);
        }
      }

      .icon {
        width: 1rem * nth($sizes, $i);
        font-size: .45cm * nth($sizes, $i);
      }
    }
  }
}

.write-kanji {
  position: absolute;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 35% 35% 10% 10%;
  z-index: 1;

  .draw-area {
    position: relative;
    top: 0;
    left: 0;
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      .top {
        grid-row: 1/ 2;
        border-top: 4px solid $color-border;
        border-bottom: 2px dashed $color-border;
      }

      .bottom {
        grid-row: 2 / 3;
        border-bottom: 4px solid $color-border;
        border-top: 2px dashed $color-border;
      }

      .left {
        grid-column: 1 / 2;
        border-left: 4px solid $color-border;
        border-right: 2px dashed $color-border;
      }

      .right {
        grid-column: 2 / 3;
        border-right: 4px solid $color-border;
        border-left: 2px dashed $color-border;
      }

      .has-alpha {
        background: transparentize($color-background, 0.3);
      }
    }

    .svg {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .numbers {
    grid-column: 2 / 4;
    grid-row: 4 / 5;

    .entry {
      .title {
        text-transform: uppercase;
      }
    }
  }
  
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .numbers {
        .entry {
          .title {
            font-size: .25cm * nth($sizes, $i);
          }

          .amount {
            font-size: .7cm * nth($sizes, $i);
            line-height: 2rem * nth($sizes, $i);
          }
        }
      }
    }
  }
}

.special-font {
  position: relative;

  .count {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    z-index: 1;

    .top {
      grid-row: 1 / 1;
      border-bottom: 2px dashed $color-border;
      border-top: 4px solid $color-border;
    }

    .bottom {
      grid-row: 2 / 2;
      border-top: 2px dashed $color-border;
      border-bottom: 4px solid $color-border;
    }

    .left {
      grid-column: 1 / 1;
      border-right: 2px dashed $color-border;
      border-left: 4px solid $color-border;
    }

    .right {
      grid-column: 2 / 2;
      border-left: 2px dashed $color-border;
      border-right: 4px solid $color-border;
    }

    .has-alpha {
      background: transparentize($color-background, 0.3);
    }
  }

  .letter {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;

    &.in-front {
      z-index: 2;
    }
  }

  .svg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      width: 200px * nth($sizes, $i);
      height: 200px * nth($sizes, $i);

      .count {
        top: -40px * nth($sizes, $i);
        font-size: 0.8cm * nth($sizes, $i);
      }
    }
  }
}

.package-list-entry {
  max-width: 100%;

  .details {
    position: relative;

    .flag {
      position: absolute;
      top: 0;
      right: 0;
    }

    .foreground {
      position: relative;
      width: 100%;
      height: 100%;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      cursor: pointer;
      user-select: none;

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .stats {
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      $button-length: 3.5rem * 3 * nth($sizes, $i);

      .details {
        height: 3.5rem * nth($sizes, $i);
        max-width: calc(100% - #{$button-length});

        .flag {
          width: 5.6rem * nth($sizes, $i);
          height: 3.5rem * nth($sizes, $i);

          .flag-image {
            width: 5.6rem * nth($sizes, $i);
            height: 3.5rem * nth($sizes, $i);
          }
        }

        .foreground {
          background: linear-gradient(290deg, rgba(0, 0, 0, 0), $color-background 5.2rem * nth($sizes, $i));
          padding: .15rem * nth($sizes, $i) 4rem * nth($sizes, $i) .15rem * nth($sizes, $i) .45rem * nth($sizes, $i);

          .title {
            font-size: .7cm * nth($sizes, $i);
          }

          .stats {
            font-size: .25cm * nth($sizes, $i);
          }
        }
      }
    }
  }

  &.special {
    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        $button-length: 3.5rem * nth($sizes, $i);

        .details {
          max-width: calc(100% - #{$button-length});
        }
      }
    }

    @each $color in $colors {
      &.#{nth($color, 1)} {
        .details {
          .foreground {
            color: nth($color, 2);
            border-top-color: nth($color, 2);
            border-bottom-color: nth($color, 2);
          }
        }
      }
    }
  }

  &.inactive {
    .details {
      opacity: .4;
    }
  }
}

.checkbox {
  .title {
    text-transform: uppercase;
  }

  .icon, .check {
    position: absolute;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .icon {
    left: 0;
  }

  .check {
    right: 0;

    .body {
      position: absolute;
      border: 2px solid $color-font;
      cursor: pointer;

      &.on {
        z-index: 0;
      }

      &.off {
        z-index: 1;
      }

      @each $color in $colors {
        &.#{nth($color, 1)} {
          background: nth($color, 2);
        }
      }
    }

    .head {
      position: absolute;
      background: $color-font;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;

      i {
        position: absolute;
        color: $color-font-very-dark;
        line-height: normal;
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      $height: 1.75rem * nth($sizes, $i);
      @keyframes head-on-#{nth($size-classes, $i)} {
        0% {
          left: calc(#{3.25rem * nth($sizes, $i)} - 4px - calc(#{$height} - 8px));
        }

        100% {
          left: calc(#{.25rem * nth($sizes, $i)} + 4px);
        }
      }

      @keyframes head-off-#{nth($size-classes, $i)} {
        0% {
          left: calc(#{.25rem * nth($sizes, $i)} + 4px);
        }

        100% {
          left: calc(#{3.25rem * nth($sizes, $i)} - 4px - calc(#{$height} - 8px));
        }
      }

      .title {
        font-size: .25cm * nth($sizes, $i);
        padding-left: 2.25rem * nth($sizes, $i);
        margin-bottom: -2px * nth($sizes, $i);
      }

      .icon {
        font-size: .7cm * nth($sizes, $i);
        width: 3rem * nth($sizes, $i);
      }

      .text {
        font-size: .7cm * nth($sizes, $i);
        padding: 0 3rem * nth($sizes, $i);
      }

      .check {
        width: 3.5rem * nth($sizes, $i);

        .on-animation {
          animation-name: head-on-#{nth($size-classes, $i)};
        }

        .off-animation {
          animation-name: head-off-#{nth($size-classes, $i)};
        }

        .body {
          width: 3rem * nth($sizes, $i);
          height: 1.75rem * nth($sizes, $i);
        }

        .head {
          left: calc(#{.25rem * nth($sizes, $i)} + 4px);
          height: calc(#{$height} - 8px);
          width: calc(#{$height} - 8px);
          font-size: calc(#{$height} - 12px);

          &.off {
            left: calc(#{3.25rem * nth($sizes, $i)} - 4px - calc(#{$height} - 8px));
          }
        }
      }
    }
  }
}

.package-category-entry {
  .title, .details {
    display: flex;
    align-items: center;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    cursor: pointer;
    user-select: none;

    @each $color in $colors {
      &.#{nth($color, 1)} {
        color: nth($color, 2);
        border-top: 1px solid nth($color, 2);
        border-bottom: 1px solid nth($color, 2);
      }
    }
  }

  .index {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new-word {
    position: sticky;
    top: 0;
    background: $color-background;
  }

  .details {
    .content {
      .word {
        overflow-wrap: anywhere;
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      .title {
        padding: .15rem * nth($sizes, $i) .45rem * nth($sizes, $i);
      }
      
      .index {
        min-width: 3.5rem * nth($sizes, $i);
      }

      .content {
        padding: .15rem * nth($sizes, $i) .45rem * nth($sizes, $i);

        .languages {
          height: 1rem * nth($sizes, $i);
        }
      }
    }
  }
}

.item-box {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
  }

  .details {
    display: flex;
    align-items: center;
    border-top: 3px solid $color-border;
    border-bottom: 3px solid $color-border;

    .healing {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .amount {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .title {
        font-size: .35cm * nth($sizes, $i);
        line-height: .35cm * nth($sizes, $i);
        min-height: 2.5rem * nth($sizes, $i);
        padding: .15rem * nth($sizes, $i) .5rem * nth($sizes, $i);
      }

      .image {
        padding: 1rem * nth($sizes, $i);
      }

      .details {
        font-size: .4cm * nth($sizes, $i);
        max-height: 2.5rem * nth($sizes, $i);

        .healing {
          height: 2.5rem * nth($sizes, $i);
          width: 2.5rem * nth($sizes, $i);
        }

        .amount {
          height: 2.5rem * nth($sizes, $i);
          width: 2.5rem * nth($sizes, $i);
        }
      }
    }
  }

  &.small {

    .details {
      border-top: 2px solid $color-border;
      border-bottom: 2px solid $color-border;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      @each $color in $colors {
        &.#{nth($color, 1)} {
          color: nth($color, 2);
        }
      }
    }

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        height: 6rem * nth($sizes, $i);
        min-width: 4.5rem * nth($sizes, $i);

        .title {
          font-size: .2cm * nth($sizes, $i);
          line-height: .2cm * nth($sizes, $i);
          min-height: 1.25rem * nth($sizes, $i);
          padding: 0 .25rem * nth($sizes, $i);
        }
  
        .image {
          padding: .5rem * nth($sizes, $i);
        }
  
        .details {
          font-size: .2cm * nth($sizes, $i);
          max-height: 1.25rem * nth($sizes, $i);
  
          .healing {
            height: 1.25rem * nth($sizes, $i);
            width: 1.75rem * nth($sizes, $i);
          }

          .amount {
            height: 1.25rem * nth($sizes, $i);
            width: 1.75rem * nth($sizes, $i);
          }

          .icon {
            width: 1.25rem * nth($sizes, $i);
            height: 1.25rem * nth($sizes, $i);
            font-size: .3cm * nth($sizes, $i);
          }
        }
      }
    }
    
    @each $color in $colors {
      &.#{nth($color, 1)} {
        .title {
          border-top: 2px solid nth($color, 2);
          border-bottom: 2px solid nth($color, 2);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .title {
        color: nth($color, 2);
        border-top: 3px solid nth($color, 2);
        border-bottom: 3px solid nth($color, 2);
      }
    }
  }
}

.item-container {
  .transition-group {
    display: grid;
    grid-template-columns: 10% 38% 4% 38% 10%;
    grid-template-rows: 3% 45% 4% 45% 3%;
  
    .left {
      grid-column: 2 / 3;
    }
  
    .right {
      grid-column: 4 / 5;
    }
  
    .top {
      grid-row: 2 / 3;
    }
  
    .bottom {
      grid-row: 4 / 5;
    }
  }
}

.costs {
  .entry {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;

      .image-box {
        width: 60%;
        height: 60%;
      }
    }

    .material {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .own, .needed {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .own {
      @each $color in $colors {
        &.#{nth($color, 1)} {
          color: nth($color, 2);
        }
      }
    }
  
    &:last-child {
      border-bottom: 2px solid $color-border;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .entry {
        font-size: .5cm * nth($sizes, $i);
        min-height: 2.5rem * nth($sizes, $i);

        .image {
          min-width: 2.5rem * nth($sizes, $i);
          height: 2.5rem * nth($sizes, $i);

          .image-box {
            width: 1.5rem * nth($sizes, $i);
            height: 1.5rem * nth($sizes, $i);
          }
        }

        .material {
          padding: .15rem * nth($sizes, $i) .45rem * nth($sizes, $i);
          height: 2.5rem * nth($sizes, $i);
          line-height: 2.5rem * nth($sizes, $i);
        }

        .own {
          min-width: 5rem * nth($sizes, $i);
        }

        .needed {
          min-width: 5rem * nth($sizes, $i);
        }
      }
    }
  }
}

.shop-image {
  border-top: 3px solid $color-border;
  border-bottom: 3px solid $color-border;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-box {
    height: 80%;
    width: 80%;
  }
  
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      min-height: 7.5rem * nth($sizes, $i);

      .image-box {
        height: 6rem * nth($sizes, $i);
      }
    }
  }
}

.image-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-box-replacement {
  display: flex;
  align-items: center;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);
      min-height: 6rem * nth($sizes, $i);
      padding-left: 1.5rem * nth($sizes, $i);
    }
  }
}

.control-title {
  text-transform: uppercase;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .25cm * nth($sizes, $i);
      padding-left: 2.25rem * nth($sizes, $i);
    }
  }

}

.section-title {
  font-weight: 600;
  border-bottom: 2px solid $color-border;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      &.no-icons {
        padding-left: 3rem * nth($sizes, $i);
      }

      .icon {
        width: 3rem * nth($sizes, $i)
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      .icon {
        color: nth($color, 2);
      }
    }
  }
}

.section-text {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .6cm * nth($sizes, $i);
      padding-left: 2.5rem * nth($sizes, $i);
      padding-right: 2.5rem * nth($sizes, $i);

      .subtext {
        font-size: .35cm * nth($sizes, $i);
        padding-left: 2.5rem * nth($sizes, $i);
        padding-right: 2.5rem * nth($sizes, $i);
      }
    }
  }
}

.section-subtext {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .35cm * nth($sizes, $i);
      padding-left: 2.5rem * nth($sizes, $i);
      padding-right: 2.5rem * nth($sizes, $i);
    }
  }
}

.enemies {
  .entry {
    display: flex;
    align-items: center;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    .name {
      flex-grow: 1;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .no-entry {
    display: flex;
    align-items: center;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);

      .entry {
        height: 2.5rem * nth($sizes, $i);

        .amount {
          width: 2.5rem * nth($sizes, $i);
        }
      }

      .no-entry {
        height: 2.5rem * nth($sizes, $i);
        padding-left: 1.5rem * nth($sizes, $i);
      }
    }
  }
}

.keyboard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $color-background;
}

.result {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);
      padding: 0 .5rem * nth($sizes, $i);
    }
  }
}

.correct-word {
  .title {
    .index {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      display: flex;
      align-items: center;
    }

    @each $color in $colors {
      &.#{nth($color, 1)} {
        border-top: 1px solid nth($color, 2);
        border-bottom: 1px solid nth($color, 2);
        color: nth($color, 2);
      }
    }
  }

  .latin, .foreign {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      @each $color in $colors {
        &.#{nth($color, 1)} {
          color: nth($color, 2);
        }
      }
    }

    .word {
      justify-content: center;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);

      .title {
        min-height: 2.5rem * nth($sizes, $i);

        .index {
          min-height: 2.5rem * nth($sizes, $i);
          min-width: 2.5rem * nth($sizes, $i);
        }
      }

      .latin, .foreign {
        .icon {
          min-height: 2.5rem * nth($sizes, $i);
          min-width: 2.5rem * nth($sizes, $i);
        }

        .correct {
          font-size: .25cm * nth($sizes, $i);
        }
      }
    }
  }
}

.no-item-container {
  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);
    }
  }
}

.dictionary-list {
  .word {
    display: flex;
    align-content: stretch;

    .index {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
    }

    .details {
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      cursor: pointer;

      .label, .info {
        overflow-wrap: anywhere;
      }

      .info {
        @each $color in $colors {
          &.#{nth($color, 1)} {
            color: nth($color, 2);
          }
        }
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      .word {
        min-height: 3.5rem * nth($sizes, $i);

        .index {
          min-width: 4.5rem * nth($sizes, $i);
        }

        .details {
          .label {
            padding: .1rem * nth($sizes, $i) .5rem * nth($sizes, $i);
          }

          .info, .category {
            font-size: .35cm * nth($sizes, $i);
            padding: .05rem * nth($sizes, $i) .5rem * nth($sizes, $i);
          }
        }
      }
    }
  }
}

.dictionary-details {
  .main-alphabet {
    overflow-wrap: anywhere;
    text-wrap: balance;

    > .voice {
      width: 0;
    }
  }

  .sub-alphabet, .supp-lang > .text {
    overflow-wrap: anywhere;
  }

  .main-alphabet-selection {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    margin-bottom: -3px;

    * {
      flex-shrink: 0;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .main-alphabet {
        font-size: 1.2cm * nth($sizes, $i);
        line-height: 1.2cm * nth($sizes, $i);
        padding-left: 3.5rem * nth($sizes, $i);
        padding-right: 3.5rem * nth($sizes, $i);

        > .pitch-accent {
          font-size: 1.2cm * nth($sizes, $i);

          .letter {
            width: auto;

            &.last {
              width: auto;

              .text {
                letter-spacing: -25px * nth($sizes, $i);
                padding-right: 20px * nth($sizes, $i);
                margin-left: -5px * nth($sizes, $i);
              }
            }

            .top-marker, .bottom-marker {
              border-top-width: 4px * nth($sizes, $i);

              &:not(.first) {
                margin-left: 0;
              }
        
              &:not(.last) {
                margin-right: 0;
              }
    
              &:not(.hidden)::after {
                width: 13px * nth($sizes, $i);
                height: 13px * nth($sizes, $i);
                border-radius: 7px * nth($sizes, $i);
                margin-top: -8px * nth($sizes, $i);
              }
    
              &.first {
                margin-left: calc(50% - 7px * #{nth($sizes, $i)});
    
                &::after {
                  margin-left: 0;
                }
              }
    
              &.last {
                margin-right: 50%;

                &:not(.hidden)::after {
                  width: 9px * nth($sizes, $i);
                  height: 9px * nth($sizes, $i);
                }
              }
            }
      
            .top-marker {
              margin-top: 6px * nth($sizes, $i);
              margin-bottom: 8px * nth($sizes, $i);
            }
          
            .bottom-marker {
              margin-top: 8px * nth($sizes, $i);
              margin-bottom: 6px * nth($sizes, $i);
            }
          }
          
          .divider {
            &.top-bottom {
              border-left-width: 4px * nth($sizes, $i);
              margin: 6px * nth($sizes, $i) 6px * nth($sizes, $i);
            }
        
            &.bottom-top {
              border-left-width: 4px * nth($sizes, $i);
              margin: 6px * nth($sizes, $i) 6px * nth($sizes, $i);
            }
        
            &.top {
              border-top-width: 4px * nth($sizes, $i);
              width: 15px * nth($sizes, $i);
              margin: 6px * nth($sizes, $i) 0px * nth($sizes, $i);
            }
        
            &.bottom {
              border-bottom-width: 4px * nth($sizes, $i);
              width: 15px * nth($sizes, $i);
              margin: 6px * nth($sizes, $i) 0px * nth($sizes, $i);
            }
          }
        }
      }

      .sub-alphabet {
        font-size: 0.6cm * nth($sizes, $i);
      }

      .supp-lang {
        .text {
          font-size: 0.7cm * nth($sizes, $i);
          padding-left: 2.5rem * nth($sizes, $i);
          padding-right: 2.5rem * nth($sizes, $i);
        }
      }
    }
  }
}

.single-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .is-link {
    cursor: pointer;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      min-width: 2.5rem * nth($sizes, $i);
      font-size: .7cm * nth($sizes, $i);

      &.wide {
        min-width: 3rem * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      @if type-of(nth($color, 2)) == string {
        background-image: nth($color, 2);
      } @else {
        color: nth($color, 2);
      }
    }
  }
}

.achievement-box {
  .category {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;

    @each $color in $colors {
      &.#{nth($color, 1)} {
        background: nth($color, 2);
        color: $color-background;
      }
    }
  }

  .image-box {
    &.locked {
      filter: grayscale(1);
      opacity: 0.4;
    }
  }

  .title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .xp {
    color: $color-yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .category {
        font-size: .3cm * nth($sizes, $i);
        height: 1.5rem * nth($sizes, $i);
        column-gap: .25rem * nth($sizes, $i);
      }

      .image-box {
        height: 5rem * nth($sizes, $i);
        width: 7rem * nth($sizes, $i);
      }

      .info {
        width: calc(100% - 7rem * #{nth($sizes, $i)} + .5rem);
      
        .title {
          font-size: .7cm * nth($sizes, $i);
        }

        .description {
          font-size: .45cm * nth($sizes, $i);
          height: 3.25rem * nth($sizes, $i);
        }
      }
    }
  }
}

.calendar {
  position: absolute;
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    background: $color-modal-background;
    z-index: 4999; // half of other modals
  }

  .content-box {
    position: absolute;
    z-index: 4999; // half of other modals
    width: 100%;

    .content {
      background: $color-background;
      height: 100%;
      overflow: hidden;
      border-bottom: 3px solid $color-border;
      display: flex;
      flex-direction: column;
      
      .day-grid {
        display: grid;
        place-items: center;
        top: 0;

        .c-full {
          grid-column: 1 / 11;
        }

        .r-full {
          grid-row: 1 / 11;
        }

        @for $i from 1 through 9 {
          .c- {
            &#{$i} {
              grid-column: #{$i} / calc(#{$i} + 1);
            }
          }
          

          .r- {
            &#{$i} {
              grid-row: #{$i} / calc(#{$i} + 1);
            }
          }
        }

        .header {
          font-weight: bold;
        }

        .entries {
          grid-column: 2 / 10;
          grid-row: 3 / 4;
          display: grid;

          .week {
            cursor: auto;
          }

          .day-box {
            position: relative;
            width: 100%;
            height: 100%;
  
            .icon-box {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              pointer-events: none;
  
              > .icon {
                @each $color in $colors {
                  &.#{nth($color, 1)} {
                    color: nth($color, 2);
                  }
                }
              }
            }
          }
        }
      }

      .activities {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .timeline {
          border-top: 3px solid $color-border;
          border-bottom: 3px solid $color-border;
          height: 100%;
          position: relative;
          cursor: pointer;

          .timeline-slider {
            border-left: 1px solid $color-info;
            border-right: 1px solid $color-info;
            background-color: transparentize($color-info, 0.5);
            width: 100%;
            position: absolute;
            pointer-events: none;
          }

          .timeline-entry {
            position: absolute;
            pointer-events: none;

            &.adventure {
              background: $color-green;
            }

            &.training {
              background: $color-info;
            }

            &.achievement {
              background: $color-yellow;
            }
          }
        }

        .details {
          height: 100%;
          flex-grow: 1;
          border-top: 3px solid $color-border;
          border-bottom: 3px solid $color-border;

          .details-container {
            position: relative;

            .details-time-slot {
              display: flex;
              flex-direction: row;
              justify-content: center;

              &:not(:nth-child(1)) {
                border-top: 1px solid $color-border;
              }

              .time {
                border: 1px solid $color-border;
                border-top: none;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: sticky;
                top: 0;
              }
            }

            .details-entry {
              position: absolute;
              width: 32.5%;
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              user-select: none;

              &.left {
                left: 2.5%;
              }

              &.right {
                right: 2.5%;
              }

              &.adventure {
                border-top: 3px solid $color-green;
                border-bottom: 3px solid $color-green;
                background-color: transparentize($color-green, 0.7);
              }

              &.training {
                border-top: 3px solid $color-info;
                border-bottom: 3px solid $color-info;
                background-color: transparentize($color-info, 0.7);
              }

              &.achievement {
                border-top: 3px solid $color-yellow;
                border-bottom: 3px solid $color-yellow;
                background-color: transparentize($color-yellow, 0.7);
              }

              .details-info {
                width: 100%;

                .name {
                  width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  text-align: center;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .entries-details {
          border-bottom: 3px solid $color-border;

          .entries-details-entry {
            min-height: 100%;
            display: flex;
            flex-direction: column;

            &:not(:first-child) {
              min-height: calc(100% - 3px);
            }
            
            &.adventure {
              border-bottom: 3px solid $color-green;
              background-color: transparentize($color-green, 0.7);

              &:first-child {
                border-top: 3px solid $color-green;
              }
            }

            &.training {
              border-bottom: 3px solid $color-info;
              background-color: transparentize($color-info, 0.7);

              &:first-child {
                border-top: 3px solid $color-info;
              }
            }

            &.achievement {
              border-bottom: 3px solid $color-yellow;
              background-color: transparentize($color-yellow, 0.7);

              &:first-child {
                border-top: 3px solid $color-yellow;
              }
            }

            .title, .time {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      .content-box {
        height: calc(calc(calc(9 * 3.5rem + 2.5rem) * #{nth($sizes, $i)}) + 3px);

        .content {
          .day-grid-container {
            &.medium-margin {
              margin-top: 1rem * nth($sizes, $i);
              margin-bottom: 1rem * nth($sizes, $i);
            }

            .day-grid {
              height: 9 * 3.5rem * nth($sizes, $i);
              grid-template-rows: repeat(2, 3.5rem * nth($sizes, $i)) 6 * 3.5rem * nth($sizes, $i) 3.5rem * nth($sizes, $i);
              grid-template-columns: auto repeat(8, 3.5rem * nth($sizes, $i)) auto;
  
              &.small-height {
                height: 3.5rem * nth($sizes, $i);
              }
  
              @for $j from 1 through 6 {
                &.top-#{$j} {
                  top: calc(#{$j + 1} * -3.5rem * #{nth($sizes, $i)});
                }
              }
              
              .header {
                font-size: .6cm * nth($sizes, $i);
              }
  
              .entries {
                grid-template-rows: repeat(6, 3.5rem * nth($sizes, $i));
                grid-template-columns: repeat(8, 3.5rem * nth($sizes, $i));
  
                .day-box {
                  .icon-box {
                    column-gap: .2rem * nth($sizes, $i);
    
                    > .icon {
                      font-size: .3cm * nth($sizes, $i);
                    }
                  }
                }
              }
            }
          }

          .activities {
            height: 22.5rem * nth($sizes, $i);

            .timeline {
              min-width: 3.5rem * nth($sizes, $i);

              .timeline-entry {
                width: 1.75rem * nth($sizes, $i);

                &.left {
                  left: 0;
                }

                &.right {
                  left: 1.75rem * nth($sizes, $i);
                }
              }
            }

            .details {
              .details-container {
                .details-time-slot {
                  min-height: 7rem * nth($sizes, $i);

                  .time {
                    font-size: .4cm * nth($sizes, $i);
                    min-width: 2.5rem * nth($sizes, $i);
                    height: 1.1rem * nth($sizes, $i);
                    border-bottom-left-radius: 5px * nth($sizes, $i);
                    border-bottom-right-radius: 5px * nth($sizes, $i);
                  }
                }

                .details-entry {
                  font-size: .32cm * nth($sizes, $i);

                  &.right {
                    padding-left: .25rem * nth($sizes, $i);
                    padding-right: .25rem * nth($sizes, $i);
                  }
                }
              }
            }

            .entries-details {
              .entries-details-entry {
                padding: .5rem * nth($sizes, $i) 1rem * nth($sizes, $i);

                .title, .time {
                  font-size: .45cm * nth($sizes, $i);
                }
              }
            }
          }
        }
      }
    }
  }
}

.kanji-training-number {
  font-weight: bold;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: 4cm * nth($sizes, $i);
    }
  }
}

.kanji-stroke-number {
  &::before, &::after {
    content: '―';
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .5cm * nth($sizes, $i);

      &::before, &::after {
        margin: 0 8px * nth($sizes, $i);
      }
    }
  }
}

.write-kanji-result {
  height: 100%;

  > * > .title {
    text-align: center;
    font-weight: 600;
  }

  .results {
    display: grid;
    grid-template-columns: 15% repeat(7, 10%) 15%;
    grid-template-rows: repeat(10, 10%);

    .result-canvas {
      position: relative;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
  
        .top {
          grid-row: 1/ 2;
          border-top: 4px solid $color-border;
          border-bottom: 2px dashed $color-border;
        }
  
        .bottom {
          grid-row: 2 / 3;
          border-bottom: 4px solid $color-border;
          border-top: 2px dashed $color-border;
        }
  
        .left {
          grid-column: 1 / 2;
          border-left: 4px solid $color-border;
          border-right: 2px dashed $color-border;
        }
  
        .right {
          grid-column: 2 / 3;
          border-right: 4px solid $color-border;
          border-left: 2px dashed $color-border;
        }
      }

      > canvas {
        z-index: 1;
        position: relative;
      }

      &.no1 {
        grid-column: 4 / 7;
        grid-row: 1 / 4;
      }

      &.no2 {
        grid-column: 2 / 5;
        grid-row: 6 / 9;
      }

      &.no3 {
        grid-column: 6 / 9;
        grid-row: 6 / 9;
      }
    }

    .result-text {
      &.no1 {
        grid-column: 4 / 7;
        grid-row: 4 / 6;
      }

      &.no2 {
        grid-column: 2 / 5;
        grid-row: 9 / 11;
      }

      &.no3 {
        grid-column: 6 / 9;
        grid-row: 9 / 11;
      }

      .title {
        text-transform: uppercase;
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      > * > .title {
        font-size: 1.1cm * nth($sizes, $i);
      }

      .results {
        .result-text {
          .title {
            font-size: .5cm * nth($sizes, $i);
          }

          .percentage {
            font-size: .9cm * nth($sizes, $i);
            line-height: 2rem * nth($sizes, $i);
          }
        }
      }
    }
  }
}

.color-selection {
  cursor: pointer;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      width: 3.5rem * nth($sizes, $i);
      height: 2.5rem * nth($sizes, $i);

      > .single-icon {
        font-size: .8cm * nth($sizes, $i);
      }
    }
  }

  @each $color in $colors {
    &.#{nth($color, 1)} {
      background: nth($color, 2);
    }
  }
}

.adventure-inputs {
  justify-content: space-evenly;

  > .input-entry {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    flex-shrink: 0;

    > .input-text {
      background: $color-background;
      z-index: 1;
    }

    .solution {
      font-family: Arial;
      font-weight: 400;
      flex-grow: 1;

      > .text {
        margin-left: -1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      > .input-entry {
        height: calc((6rem + 3px) * #{nth($sizes, $i)});

        .solution {
          font-size: .7cm * nth($sizes, $i);

          > .text {
            line-height: 2.25rem * nth($sizes, $i);
          }
        }
      }
    }
  }
}

.resumee-entry {
  > .latin, >.foreign {
    > .texts {
      overflow-wrap: anywhere;
    }
  }

  .number {
    background: $color-blockquote-background;
    margin-right: -.5rem;
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      .number {
        font-size: .9cm * nth($sizes, $i);
        min-width: 3rem * nth($sizes, $i);
      }

      > .latin, > .foreign {
        > .texts {
          > .own-input {
            min-height: 2.25rem * nth($sizes, $i);
          }

          > .solution {
            font-size: .45cm * nth($sizes, $i);
            min-height: 1.5rem * nth($sizes, $i);
          }
        }

        > .points {
          min-width: 3rem * nth($sizes, $i);
        }
      }
    }
  }
}

.pitch-accent {
  .letter {
    .top-marker, .bottom-marker {
      border-top-style: solid;
      border-top-color: $color-red;
      height: 0;
  
      &:not(.hidden)::after {
        content: '';
        display: block;
        background: $color-red;
      }

      &:not(.first)::after {
        margin-left: auto;
        margin-right: auto;
      }

      &.last {
        &:not(.hidden)::after {
          background: $color-background;
          border-style: solid;
          border-color: $color-red;
        }
      }

      &.hidden {
        border-color: transparent;
      }
    }
  }

  .divider {
    &.top-bottom {
      transform: rotateZ(-15deg);
      border-left-style: solid;
      border-left-color: $color-red;
      width: 0;
    }

    &.bottom-top {
      transform: rotateZ(15deg);
      border-left-style: solid;
      border-left-color: $color-red;
      width: 0;
    }

    &.top {
      border-top-style: solid;
      border-top-color: $color-red;
    }

    &.bottom {
      border-bottom-style: solid;
      border-bottom-color: $color-red;
    }
  }

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      font-size: .7cm * nth($sizes, $i);

      .letter {
        width: 3.5rem * nth($sizes, $i);

        &.last {
          width: 1.75rem * nth($sizes, $i);

          .text {
            letter-spacing: -5px * nth($sizes, $i);
          }
        }

        .top-marker, .bottom-marker {
          border-top-width: 3px * nth($sizes, $i);

          &:not(.first) {
            margin-left: 9px * nth($sizes, $i);
          }
    
          &:not(.last) {
            margin-right: 9px * nth($sizes, $i);
          }

          &:not(.hidden)::after {
            width: 11px * nth($sizes, $i);
            height: 11px * nth($sizes, $i);
            border-radius: 5px * nth($sizes, $i);
            margin-top: -7px * nth($sizes, $i);
          }

          &.first {
            margin-left: 1.75rem * nth($sizes, $i);

            &::after {
              margin-left: -7px * nth($sizes, $i);
            }
          }

          &.last {
            &:not(.hidden)::after {
              border-width: 2px * nth($sizes, $i);
              width: 7px * nth($sizes, $i);
              height: 7px * nth($sizes, $i);
              margin-right: -6px * nth($sizes, $i);
            }
          }
        }
  
        .top-marker {
          margin-top: 4px * nth($sizes, $i);
          margin-bottom: -5px * nth($sizes, $i);
        }
      
        .bottom-marker {
          margin-top: -5px * nth($sizes, $i);
          margin-bottom: 4px * nth($sizes, $i);
        }
      }

      .divider {
        &.top-bottom {
          border-left-width: 3px * nth($sizes, $i);
          margin: 3px * nth($sizes, $i) -5px * nth($sizes, $i);
        }
    
        &.bottom-top {
          border-left-width: 3px * nth($sizes, $i);
          margin: 3px * nth($sizes, $i) -5px * nth($sizes, $i);
        }
    
        &.top {
          border-top-width: 3px * nth($sizes, $i);
          width: 13px * nth($sizes, $i);
          margin: 4px * nth($sizes, $i) -10px * nth($sizes, $i);
        }
    
        &.bottom {
          border-bottom-width: 3px * nth($sizes, $i);
          width: 13px * nth($sizes, $i);
          margin: 4px * nth($sizes, $i) -10px * nth($sizes, $i);
        }
      }
    }
  }
}

.notification-hub {
  max-width: 700px;
  
  .notification {
    transition: all 0.5s;

    @for $i from 1 through length($sizes) {
      &.#{nth($size-classes, $i)} {
        &.leave-to-right {
          opacity: 0.5;
          transform: translate(150%, calc(-100% - 1.5rem * #{nth($sizes, $i)}));

          &:first-child:not(:only-child) {
            transform: translate(150%, calc(-100% - .75rem * #{nth($sizes, $i)}));
          }
        }
      
        &.enter-from-down {
          transform: translate(0, 150%);
        }
      }
    }
  }

  .behind {
    z-index: 500;
  }
}

.button-grid {
  display: grid;

  @for $i from 1 through length($sizes) {
    &.#{nth($size-classes, $i)} {
      width: 3.5rem * nth($sizes, $i);
      height: 3.5rem * nth($sizes, $i);
    }
  }
}